In [ ]:
# Look into Home/Away data
# Refine offensive/defensive characterization
# Could explore boosted models
# Could explore neural nets

## Imports

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

#from sklearn.linear_model import LinearRegression
#from sklearn.ensemble import RandomForestRegressor

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc

from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
#from sklearn.metrics import r2_score
#from sklearn.feature_extraction.text import CountVectorizer

from sklearn.decomposition import PCA

import os
import re
from datetime import datetime
from datetime import timedelta
from operator import itemgetter
from string import digits

import requests
from bs4 import BeautifulSoup
import time

from collections import Counter

import matplotlib.pyplot as plt

%matplotlib inline

## Read in Player_By_Game Data from Scraper

In [198]:
df = pd.read_csv('../data/player_boxscores_df.csv', index_col=0)
df['date_game'] = pd.to_datetime(df['date_game'])
df.set_index(['player', 'date_game'], drop=False, inplace=True)
df.head()

,,player,pos,date_game,school_id,opp_id,gs,mp,fg,fga,fg2,...,stl,blk,tov,pf,pts,game_score,year,month,season,W
player,date_game,,,,,,,,,,,,,,,,,,,,,
Nate Wolters,2013-02-07,Nate Wolters,G,2013-02-07,South Dakota State,IPFW,1.0,40,17,28,8,...,1,1,3,0,53,42.6,2013,2,2013,1
Marshon Brooks,2011-02-23,Marshon Brooks,G,2011-02-23,Providence,Notre Dame,1.0,40,20,28,14,...,1,0,1,4,52,42.3,2011,2,2011,0
Jimmer Fredette,2011-03-11,Jimmer Fredette,G,2011-03-11,Brigham Young,New Mexico,1.0,40,22,37,15,...,1,0,2,2,52,36.5,2011,3,2011,1
Markus Howard,2018-01-03,Markus Howard,G,2018-01-03,Marquette,Providence,1.0,44,17,29,6,...,2,0,2,1,52,39.8,2018,1,2018,1
Mike Daum,2017-02-18,Mike Daum,F,2017-02-18,South Dakota State,IPFW,1.0,36,14,29,7,...,0,1,2,0,51,39.8,2017,2,2017,1

In [199]:
# May be useful to scrape and get Class/Height/Weight of Players, then generate a "Mismatch"
# feature to apply to the team_level game.

In [200]:
df.duplicated().sum()

0

In [201]:
df.shape

(870131, 28)

In [202]:
print(df['date_game'].max())
print(df['date_game'].min())

2018-03-07 00:00:00
2010-11-08 00:00:00

In [203]:
len(df[df['season']==2011]['school_id'].unique())

345

In [204]:
len(df[df['year']==2018]['school_id'].unique())

351

## Bring in School Data from Scraper

In [235]:
school_df = pd.read_csv('../data/schools.csv', index_col=0)
school_df.head()

               School  WinLossPct    SRS    SOS  Year
0           Air Force       0.323  -4.90   3.13  2010
1               Akron       0.686   2.82  -1.50  2010
2         Alabama A&M       0.407 -20.19 -13.71  2010
3  Alabama-Birmingham       0.735   9.46   2.90  2010
4       Alabama State       0.516 -14.41 -12.02  2010

In [236]:
school_df = school_df.rename(columns = {'School':'school_id', 'Year':'year'})

In [237]:
school_df.set_index(['school_id', 'year'], drop=False, inplace=True)

In [238]:
school_df.head()

                                  school_id  WinLossPct    SRS    SOS  year
school_id          year
Air Force          2010           Air Force       0.323  -4.90   3.13  2010
Akron              2010               Akron       0.686   2.82  -1.50  2010
Alabama A&M        2010         Alabama A&M       0.407 -20.19 -13.71  2010
Alabama-Birmingham 2010  Alabama-Birmingham       0.735   9.46   2.90  2010
Alabama State      2010       Alabama State       0.516 -14.41 -12.02  2010

In [239]:
# May be useful scrape Ortg/Drtg and apply as features to the team_level game.

# Evaluation at the Team Level

### Set up "MyTeam"

In [240]:
myteam_df = df.groupby(['school_id', 'opp_id', 'date_game']).sum()

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: 'date_game' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  if __name__ == '__main__':

In [241]:
# Sum of 'game_started' flag and 'minutes_played' meaningless, so we can drop
myteam_df.drop(['gs', 'mp', 'month', 'year', 'season'], axis=1, inplace=True)

In [242]:
# Drop 'fg' and 'fga' since these are captured in 'fg2'/'fg2a'/'fg3'/'fg3a'
myteam_df.drop(['fg', 'fga'], axis=1, inplace=True)

In [243]:
# Change to 0/1 Flags
myteam_df['W'] = myteam_df['W'].apply(lambda x: 1 if x > 0 else 0)

In [244]:
myteam_df.reset_index(inplace=True)

In [245]:
myteam_df.set_index(['school_id', 'date_game'], drop=False, inplace=True)

In [246]:
myteam_df.head()

                                      school_id               opp_id  \
school_id         date_game
Abilene Christian 2017-12-06  Abilene Christian            Air Force
                  2017-11-13  Abilene Christian       Arkansas State
                  2014-12-23  Abilene Christian  Arkansas-Pine Bluff
                  2014-12-20  Abilene Christian          Boise State
                  2017-11-26  Abilene Christian  Bowling Green State

                              date_game  fg2  fg2a  fg3  fg3a  ft  fta  orb  \
school_id         date_game
Abilene Christian 2017-12-06 2017-12-06   14    29    9    25   7   15    7
                  2017-11-13 2017-11-13   22    32    3    13  16   20    5
                  2014-12-23 2014-12-23   14    25   10    20  11   16    5
                  2014-12-20 2014-12-20    5    36    6    19   5    6   11
                  2017-11-26 2017-11-26   28    48    6    16  14   18   10

                              drb  ast  stl  blk  tov  pf  pts  game_score  W
school_id         date_game
Abilene Christian 2017-12-06   17   11    8    4   12  16   62        40.3  1
                  2017-11-13   14   11    4    2   13  19   69        46.1  0
                  2014-12-23   22   15    7    2   18  21   69        47.7  1
                  2014-12-20   10    4    4    0    9  12   33         2.2  0
                  2017-11-26   26   18    2    6    8  18   88        73.6  1

### Set up "YourTeam" (which will be base defensive characteristics on)

In [247]:
yourteam_df = df.groupby(['opp_id', 'school_id', 'date_game']).sum()

# Sum of 'game_started' flag and 'minutes_played' meaningless, so we can drop
yourteam_df.drop(['gs', 'mp', 'year', 'month', 'season'], axis=1, inplace=True)

# Drop 'fg' and 'fga' since these are captured in 'fg2'/'fg2a'/'fg3'/'fg3a'
yourteam_df.drop(['fg', 'fga'], axis=1, inplace=True)

# Change to 0/1 Flags
yourteam_df['W'] = yourteam_df['W'].apply(lambda x: 1 if x > 0 else 0)

yourteam_df.reset_index(inplace=True)

yourteam_df.set_index(['opp_id', 'date_game'], drop=False, inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: 'date_game' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  if __name__ == '__main__':

In [248]:
yourteam_df.columns = 'heldto_' + yourteam_df.columns

In [249]:
yourteam_df.head()

                                  heldto_opp_id     heldto_school_id  \
opp_id            date_game
Abilene Christian 2017-12-06  Abilene Christian            Air Force
                  2017-11-13  Abilene Christian       Arkansas State
                  2014-12-23  Abilene Christian  Arkansas-Pine Bluff
                  2014-12-20  Abilene Christian          Boise State
                  2017-11-26  Abilene Christian  Bowling Green State

                             heldto_date_game  heldto_fg2  heldto_fg2a  \
opp_id            date_game
Abilene Christian 2017-12-06       2017-12-06          22           33
                  2017-11-13       2017-11-13          21           35
                  2014-12-23       2014-12-23          15           34
                  2014-12-20       2014-12-20          21           32
                  2017-11-26       2017-11-26          22           48

                              heldto_fg3  heldto_fg3a  heldto_ft  heldto_fta  \
opp_id            date_game
Abilene Christian 2017-12-06           3           18          5           8
                  2017-11-13           7           13         20          26
                  2014-12-23           5           19         16          20
                  2014-12-20          10           20          5           6
                  2017-11-26           8           24         15          22

                              heldto_orb  heldto_drb  heldto_ast  heldto_stl  \
opp_id            date_game
Abilene Christian 2017-12-06           5          28          15           5
                  2017-11-13           9          15           7           6
                  2014-12-23          11          18           5           3
                  2014-12-20           8          32          17           2
                  2017-11-26          17          20           9           4

                              heldto_blk  heldto_tov  heldto_pf  heldto_pts  \
opp_id            date_game
Abilene Christian 2017-12-06           2          20         14          58
                  2017-11-13           1           9         12          83
                  2014-12-23           2          14         19          61
                  2014-12-20           6          12          7          77
                  2017-11-26           3           8         18          83

                              heldto_game_score  heldto_W
opp_id            date_game
Abilene Christian 2017-12-06               34.3         0
                  2017-11-13               66.8         1
                  2014-12-23               29.7         0
                  2014-12-20               71.1         1
                  2017-11-26               56.9         0

### "MyTeam" Rolling/EWM Statistics Generation

In [250]:
myteam_stats = ['date_game', 'opp_id', 'fg2', 'fg2a', 'fg3', 'fg3a', 'ft', 'fta', 'orb', 'drb', 
         'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'game_score', 'W']

In [251]:
teams = df['school_id'].unique()

In [252]:
len(teams)

353

In [ ]:
for team in teams:
    one_team_df = myteam_df.loc[team][myteam_stats].sort_values('date_game')
    
    ewm_03 = one_team_df.drop(['date_game', 'opp_id'], axis=1).ewm(span=3).mean().shift()
    ewm_10 = one_team_df.drop(['date_game', 'opp_id'], axis=1).ewm(span=10).mean().shift()
    ewm_20 = one_team_df.drop(['date_game', 'opp_id'], axis=1).ewm(span=20).mean().shift()
    rm_30 = one_team_df.drop(['date_game', 'opp_id'], axis=1).rolling(window=30).mean().shift()

    this_df = pd.concat([ewm_03, ewm_10, ewm_20, rm_30], axis=1)
    
    this_df['school_id'] = team
    this_df['date_game'] = one_team_df['date_game']
    this_df['opp_id'] = one_team_df['opp_id']

    this_df.to_csv('../data/myteam_ewm/'+team.replace(' ', '_')+'.csv')

In [ ]:
for (dirpath, dirnames, filenames) in os.walk('../data/myteam_ewm/'):
    break

f = filenames # [:3] for testing

with open('../data/myteam_ewm_df.csv', 'wb') as output:
    for filename in f:
        with open('../data/myteam_ewm/'+filename, 'rb') as _input:
            for i, line in enumerate(_input):
                if i == 0:
                    continue       
                #print(line) # for testing
                output.write(line)

In [253]:
myteam_ewm_df = pd.read_csv('../data/myteam_ewm_df.csv', header=None)

In [254]:
myteam_ewm_df.shape

(87171, 68)

In [255]:
# Drop duplicate of opposing team
myteam_ewm_df.drop(66, axis=1, inplace=True)

In [256]:
myteam_ewm_df.head()

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,67
0,2010-11-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Old Dominion
1,2010-11-23,8.000000,32.000000,8.000000,22.000000,17.000000,29.000000,10.000000,19.000000,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Citadel
2,2010-11-28,14.666667,42.000000,4.000000,12.000000,19.666667,31.666667,10.000000,20.333333,7.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Hampton
3,2010-12-02,13.714286,39.142857,5.142857,12.000000,19.857143,27.857143,7.142857,23.571429,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Gardner-Webb
4,2010-12-04,16.533333,39.066667,4.000000,10.933333,19.400000,28.466667,6.533333,22.733333,9.466667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,North Carolina-Asheville

In [257]:
myteam_stats = pd.Series(myteam_stats)

In [258]:
myteam_cols = []
for i in ['ewm03', 'ewm10', 'ewm20', 'rm30']:
    for j in myteam_stats.drop([0,1]):
        myteam_cols.append(i+j)

In [259]:
myteam_cols.insert(0, 'date_game')
myteam_cols.append('school_id')
myteam_cols.append('opp_id')

In [260]:
myteam_ewm_df.columns = myteam_cols

In [261]:
myteam_ewm_df.head()

,date_game,ewm03fg2,ewm03fg2a,ewm03fg3,ewm03fg3a,ewm03ft,ewm03fta,ewm03orb,ewm03drb,ewm03ast,...,rm30ast,rm30stl,rm30blk,rm30tov,rm30pf,rm30pts,rm30game_score,rm30W,school_id,opp_id
0,2010-11-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Old Dominion
1,2010-11-23,8.000000,32.000000,8.000000,22.000000,17.000000,29.000000,10.000000,19.000000,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Citadel
2,2010-11-28,14.666667,42.000000,4.000000,12.000000,19.666667,31.666667,10.000000,20.333333,7.333333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Hampton
3,2010-12-02,13.714286,39.142857,5.142857,12.000000,19.857143,27.857143,7.142857,23.571429,10.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Gardner-Webb
4,2010-12-04,16.533333,39.066667,4.000000,10.933333,19.400000,28.466667,6.533333,22.733333,9.466667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,North Carolina-Asheville

In [262]:
myteam_ewm_df['date_game'] = pd.to_datetime(myteam_ewm_df['date_game'])

### "YourTeam" Rolling/EWM Statistics Generation

In [263]:
yourteam_stats = ['heldto_school_id', 'heldto_date_game', 'heldto_fg2',
       'heldto_fg2a', 'heldto_fg3', 'heldto_fg3a', 'heldto_ft', 'heldto_fta',
       'heldto_orb', 'heldto_drb', 'heldto_ast', 'heldto_stl', 'heldto_blk',
       'heldto_tov', 'heldto_pf', 'heldto_pts', 'heldto_game_score',
       'heldto_W']

In [264]:
for team in teams:
    try:
        one_team_df = yourteam_df.loc[team][yourteam_stats].sort_values('heldto_date_game')

        ewm_03 = one_team_df.drop(['heldto_date_game', 'heldto_school_id'], axis=1).ewm(span=3).mean().shift()
        ewm_10 = one_team_df.drop(['heldto_date_game', 'heldto_school_id'], axis=1).ewm(span=10).mean().shift()
        ewm_20 = one_team_df.drop(['heldto_date_game', 'heldto_school_id'], axis=1).ewm(span=20).mean().shift()
        rm_30 = one_team_df.drop(['heldto_date_game', 'heldto_school_id'], axis=1).rolling(window=30).mean().shift()

        this_df = pd.concat([ewm_03, ewm_10, ewm_20, rm_30], axis=1)

        this_df['heldto_opp_id'] = team
        this_df['heldto_date_game'] = one_team_df['heldto_date_game']
        this_df['heldto_school_id'] = one_team_df['heldto_school_id']

        this_df.to_csv('../data/yourteam_ewm/'+team.replace(' ', '_')+'.csv')
    except:
        pass

In [265]:
for (dirpath, dirnames, filenames) in os.walk('../data/yourteam_ewm/'):
    break

f = filenames # [:3] for testing

with open('../data/yourteam_ewm_df.csv', 'wb') as output:
    for filename in f:
        with open('../data/yourteam_ewm/'+filename, 'rb') as _input:
            for i, line in enumerate(_input):
                if i == 0:
                    continue       
                #print(line) # for testing
                output.write(line)

In [314]:
yourteam_ewm_df = pd.read_csv('../data/yourteam_ewm_df.csv', header=None)

In [315]:
yourteam_ewm_df.shape

(87171, 68)

In [316]:
# Drop duplicate of opposing team
yourteam_ewm_df.drop(66, axis=1, inplace=True)

In [317]:
yourteam_stats = pd.Series(yourteam_stats)

In [318]:
yourteam_cols = []
for i in ['ewm03', 'ewm10', 'ewm20', 'rm30']:
    for j in yourteam_stats.drop([0,1]):
        yourteam_cols.append(i+j)

In [319]:
yourteam_cols.insert(0, 'date_game')
yourteam_cols.append('heldto_opp_id')
yourteam_cols.append('heldto_school_id')

In [320]:
yourteam_ewm_df.columns = yourteam_cols

In [321]:
yourteam_ewm_df['date_game'] = pd.to_datetime(yourteam_ewm_df['date_game'])

## Join "MyTeam" and "YourTeam"

In [274]:
temp_my = myteam_ewm_df.set_index(['school_id', 'date_game'], drop=False)

In [275]:
temp_my.head()

                       date_game   ewm03fg2  ewm03fg2a  ewm03fg3  ewm03fg3a  \
school_id  date_game
High Point 2010-11-15 2010-11-15        NaN        NaN       NaN        NaN
           2010-11-23 2010-11-23   8.000000  32.000000  8.000000  22.000000
           2010-11-28 2010-11-28  14.666667  42.000000  4.000000  12.000000
           2010-12-02 2010-12-02  13.714286  39.142857  5.142857  12.000000
           2010-12-04 2010-12-04  16.533333  39.066667  4.000000  10.933333

                         ewm03ft   ewm03fta   ewm03orb   ewm03drb   ewm03ast  \
school_id  date_game
High Point 2010-11-15        NaN        NaN        NaN        NaN        NaN
           2010-11-23  17.000000  29.000000  10.000000  19.000000  10.000000
           2010-11-28  19.666667  31.666667  10.000000  20.333333   7.333333
           2010-12-02  19.857143  27.857143   7.142857  23.571429  10.000000
           2010-12-04  19.400000  28.466667   6.533333  22.733333   9.466667

                                 ...             rm30ast  rm30stl  rm30blk  \
school_id  date_game             ...
High Point 2010-11-15            ...                 NaN      NaN      NaN
           2010-11-23            ...                 NaN      NaN      NaN
           2010-11-28            ...                 NaN      NaN      NaN
           2010-12-02            ...                 NaN      NaN      NaN
           2010-12-04            ...                 NaN      NaN      NaN

                       rm30tov  rm30pf  rm30pts  rm30game_score  rm30W  \
school_id  date_game
High Point 2010-11-15      NaN     NaN      NaN             NaN    NaN
           2010-11-23      NaN     NaN      NaN             NaN    NaN
           2010-11-28      NaN     NaN      NaN             NaN    NaN
           2010-12-02      NaN     NaN      NaN             NaN    NaN
           2010-12-04      NaN     NaN      NaN             NaN    NaN

                        school_id                    opp_id
school_id  date_game
High Point 2010-11-15  High Point              Old Dominion
           2010-11-23  High Point                   Citadel
           2010-11-28  High Point                   Hampton
           2010-12-02  High Point              Gardner-Webb
           2010-12-04  High Point  North Carolina-Asheville

[5 rows x 67 columns]

In [276]:
# Rename these cols so that 'join' will work later
yourteam_ewm_df.rename(columns={'heldto_school_id':'school_id'}, inplace=True)
yourteam_ewm_df.rename(columns={'heldto_opp_id':'opp_id'}, inplace=True)

In [277]:
temp_your = yourteam_ewm_df.set_index(['school_id', 'date_game'], drop=False)

In [278]:
temp_your.head()

,,date_game,ewm03heldto_fg2,ewm03heldto_fg2a,ewm03heldto_fg3,ewm03heldto_fg3a,ewm03heldto_ft,ewm03heldto_fta,ewm03heldto_orb,ewm03heldto_drb,ewm03heldto_ast,...,rm30heldto_ast,rm30heldto_stl,rm30heldto_blk,rm30heldto_tov,rm30heldto_pf,rm30heldto_pts,rm30heldto_game_score,rm30heldto_W,opp_id,school_id
school_id,date_game,,,,,,,,,,,,,,,,,,,,,
Old Dominion,2010-11-15,2010-11-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Old Dominion
Citadel,2010-11-23,2010-11-23,19.000000,36.000000,7.000000,19.000000,20.000000,34.000000,17.000000,27.000000,19.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Citadel
Hampton,2010-11-28,2010-11-28,18.333333,40.000000,5.666667,17.000000,20.000000,31.333333,15.666667,26.333333,17.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Hampton
Gardner-Webb,2010-12-02,2010-12-02,16.428571,39.428571,4.714286,13.571429,24.571429,35.142857,10.714286,26.714286,11.285714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Gardner-Webb
North Carolina-Asheville,2010-12-04,2010-12-04,18.866667,38.666667,2.200000,14.333333,23.200000,34.533333,11.933333,26.333333,6.866667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,North Carolina-Asheville

In [279]:
joined = temp_my.join(temp_your, how='left', on=['school_id', 'date_game'], rsuffix='_r')

In [280]:
joined.head()

                       date_game   ewm03fg2  ewm03fg2a  ewm03fg3  ewm03fg3a  \
school_id  date_game
High Point 2010-11-15 2010-11-15        NaN        NaN       NaN        NaN
           2010-11-23 2010-11-23   8.000000  32.000000  8.000000  22.000000
           2010-11-28 2010-11-28  14.666667  42.000000  4.000000  12.000000
           2010-12-02 2010-12-02  13.714286  39.142857  5.142857  12.000000
           2010-12-04 2010-12-04  16.533333  39.066667  4.000000  10.933333

                         ewm03ft   ewm03fta   ewm03orb   ewm03drb   ewm03ast  \
school_id  date_game
High Point 2010-11-15        NaN        NaN        NaN        NaN        NaN
           2010-11-23  17.000000  29.000000  10.000000  19.000000  10.000000
           2010-11-28  19.666667  31.666667  10.000000  20.333333   7.333333
           2010-12-02  19.857143  27.857143   7.142857  23.571429  10.000000
           2010-12-04  19.400000  28.466667   6.533333  22.733333   9.466667

                          ...       rm30heldto_ast  rm30heldto_stl  \
school_id  date_game      ...
High Point 2010-11-15     ...                  NaN             NaN
           2010-11-23     ...                  NaN             NaN
           2010-11-28     ...                  NaN             NaN
           2010-12-02     ...                  NaN             NaN
           2010-12-04     ...                  NaN             NaN

                       rm30heldto_blk  rm30heldto_tov  rm30heldto_pf  \
school_id  date_game
High Point 2010-11-15             NaN             NaN            NaN
           2010-11-23             NaN             NaN            NaN
           2010-11-28             NaN             NaN            NaN
           2010-12-02             NaN             NaN            NaN
           2010-12-04             NaN             NaN            NaN

                       rm30heldto_pts  rm30heldto_game_score  rm30heldto_W  \
school_id  date_game
High Point 2010-11-15             NaN                    NaN           NaN
           2010-11-23             NaN                    NaN           NaN
           2010-11-28             NaN                    NaN           NaN
           2010-12-02             NaN                    NaN           NaN
           2010-12-04             NaN                    NaN           NaN

                                       opp_id_r  school_id_r
school_id  date_game
High Point 2010-11-15              Old Dominion   High Point
           2010-11-23                   Citadel   High Point
           2010-11-28                   Hampton   High Point
           2010-12-02              Gardner-Webb   High Point
           2010-12-04  North Carolina-Asheville   High Point

[5 rows x 134 columns]

In [281]:
joined.shape

(87185, 134)

In [282]:
joined.isnull().sum()

date_game                     0
ewm03fg2                    353
ewm03fg2a                   353
ewm03fg3                    353
ewm03fg3a                   353
ewm03ft                     353
ewm03fta                    353
ewm03orb                    353
ewm03drb                    353
ewm03ast                    353
ewm03stl                    353
ewm03blk                    353
ewm03tov                    353
ewm03pf                     353
ewm03pts                    353
ewm03game_score             353
ewm03W                      353
ewm10fg2                    353
ewm10fg2a                   353
ewm10fg3                    353
ewm10fg3a                   353
ewm10ft                     353
ewm10fta                    353
ewm10orb                    353
ewm10drb                    353
ewm10ast                    353
ewm10stl                    353
ewm10blk                    353
ewm10tov                    353
ewm10pf                     353
                          ...
ewm20heldto_ft              352
ewm20heldto_fta             352
ewm20heldto_orb             352
ewm20heldto_drb             352
ewm20heldto_ast             352
ewm20heldto_stl             352
ewm20heldto_blk             352
ewm20heldto_tov             352
ewm20heldto_pf              352
ewm20heldto_pts             352
ewm20heldto_game_score      352
ewm20heldto_W               352
rm30heldto_fg2            10560
rm30heldto_fg2a           10560
rm30heldto_fg3            10560
rm30heldto_fg3a           10560
rm30heldto_ft             10560
rm30heldto_fta            10560
rm30heldto_orb            10560
rm30heldto_drb            10560
rm30heldto_ast            10560
rm30heldto_stl            10560
rm30heldto_blk            10560
rm30heldto_tov            10560
rm30heldto_pf             10560
rm30heldto_pts            10560
rm30heldto_game_score     10560
rm30heldto_W              10560
opp_id_r                      0
school_id_r                   0
Length: 134, dtype: int64

In [283]:
# EWM gave us first day NA's, RM gave us first 30 days NA's
joined.dropna(inplace=True)

In [284]:
# Bring in the target column, the W's
joined = joined.join(myteam_df['W'], how='left', on=['school_id', 'date_game'])

In [285]:
# Drop repeat data
joined.drop(['date_game', 'school_id', 'date_game_r', 'opp_id_r', 'school_id_r'], 
            axis=1, inplace=True)

### Add SOS and SRS data

In [286]:
joined.head()

                        ewm03fg2  ewm03fg2a   ewm03fg3  ewm03fg3a    ewm03ft  \
school_id  date_game
High Point 2011-11-18  14.449124  32.502785   6.527332  17.261717  10.273871
           2011-11-22  15.724562  33.751393   7.263666  18.130859  12.136936
           2011-11-26  15.362281  35.875696   7.131833  20.565429   9.068468
           2011-11-29  17.681140  39.937848   7.065916  17.782715  14.034234
           2011-12-03  12.840570  34.468924  10.032958  23.891357  11.517117

                        ewm03fta   ewm03orb   ewm03drb   ewm03ast  ewm03stl  \
school_id  date_game
High Point 2011-11-18  14.045750   6.731944  20.382396   8.311464  4.645682
           2011-11-22  18.022875   5.865972  20.691198  11.655732  4.322841
           2011-11-26  15.011437   8.932986  19.845599  14.327866  5.661420
           2011-11-29  23.005719  10.466493  25.922800  13.663933  7.330710
           2011-12-03  19.502859  12.733246  20.961400  11.831967  5.665355

                      ...  rm30heldto_drb  rm30heldto_ast  rm30heldto_stl  \
school_id  date_game  ...
High Point 2011-11-18 ...       20.166667       12.666667        6.900000
           2011-11-22 ...       19.500000       13.700000        6.566667
           2011-11-26 ...       20.966667       13.966667        6.000000
           2011-11-29 ...       24.233333       10.666667        5.200000
           2011-12-03 ...       20.166667       13.700000        6.966667

                       rm30heldto_blk  rm30heldto_tov  rm30heldto_pf  \
school_id  date_game
High Point 2011-11-18        3.566667       12.200000      19.233333
           2011-11-22        3.133333       15.300000      20.366667
           2011-11-26        3.700000       10.166667      16.600000
           2011-11-29        2.833333       14.900000      20.600000
           2011-12-03        4.033333       13.833333      20.266667

                       rm30heldto_pts  rm30heldto_game_score  rm30heldto_W  W
school_id  date_game
High Point 2011-11-18       64.533333              44.153333      0.433333  0
           2011-11-22       71.566667              46.986667      0.433333  0
           2011-11-26       71.566667              54.456667      0.700000  1
           2011-11-29       65.566667              38.533333      0.366667  0
           2011-12-03       69.133333              48.686667      0.566667  0

[5 rows x 130 columns]

In [287]:
joined.reset_index(drop=False, inplace=True)

In [288]:
joined['year'] = joined['date_game'].apply(lambda x: x.year)

In [289]:
joined.set_index(['school_id', 'year'], drop=False, inplace=True)

In [290]:
joined.head()

                  school_id  date_game   ewm03fg2  ewm03fg2a   ewm03fg3  \
school_id  year
High Point 2011  High Point 2011-11-18  14.449124  32.502785   6.527332
           2011  High Point 2011-11-22  15.724562  33.751393   7.263666
           2011  High Point 2011-11-26  15.362281  35.875696   7.131833
           2011  High Point 2011-11-29  17.681140  39.937848   7.065916
           2011  High Point 2011-12-03  12.840570  34.468924  10.032958

                 ewm03fg3a    ewm03ft   ewm03fta   ewm03orb   ewm03drb  ...   \
school_id  year                                                         ...
High Point 2011  17.261717  10.273871  14.045750   6.731944  20.382396  ...
           2011  18.130859  12.136936  18.022875   5.865972  20.691198  ...
           2011  20.565429   9.068468  15.011437   8.932986  19.845599  ...
           2011  17.782715  14.034234  23.005719  10.466493  25.922800  ...
           2011  23.891357  11.517117  19.502859  12.733246  20.961400  ...

                 rm30heldto_ast  rm30heldto_stl  rm30heldto_blk  \
school_id  year
High Point 2011       12.666667        6.900000        3.566667
           2011       13.700000        6.566667        3.133333
           2011       13.966667        6.000000        3.700000
           2011       10.666667        5.200000        2.833333
           2011       13.700000        6.966667        4.033333

                 rm30heldto_tov  rm30heldto_pf  rm30heldto_pts  \
school_id  year
High Point 2011       12.200000      19.233333       64.533333
           2011       15.300000      20.366667       71.566667
           2011       10.166667      16.600000       71.566667
           2011       14.900000      20.600000       65.566667
           2011       13.833333      20.266667       69.133333

                 rm30heldto_game_score  rm30heldto_W  W  year
school_id  year
High Point 2011              44.153333      0.433333  0  2011
           2011              46.986667      0.433333  0  2011
           2011              54.456667      0.700000  1  2011
           2011              38.533333      0.366667  0  2011
           2011              48.686667      0.566667  0  2011

[5 rows x 133 columns]

In [291]:
joined = joined.join(school_df[['SRS', 'SOS']], how='left', on=['school_id', 'year'])

In [292]:
joined.drop(['school_id', 'year'], axis=1, inplace=True)

In [293]:
joined.reset_index(drop=False, inplace=True)

In [294]:
joined.set_index(['opp_id', 'year'], drop=False, inplace=True)

In [295]:
joined.head()

,,school_id,year,date_game,ewm03fg2,ewm03fg2a,ewm03fg3,ewm03fg3a,ewm03ft,ewm03fta,ewm03orb,...,rm30heldto_stl,rm30heldto_blk,rm30heldto_tov,rm30heldto_pf,rm30heldto_pts,rm30heldto_game_score,rm30heldto_W,W,SRS,SOS
opp_id,year,,,,,,,,,,,,,,,,,,,,,
Central Florida,2011,High Point,2011,2011-11-18,14.449124,32.502785,6.527332,17.261717,10.273871,14.045750,6.731944,...,6.900000,3.566667,12.200000,19.233333,64.533333,44.153333,0.433333,0,-12.82,-4.47
Tennessee Tech,2011,High Point,2011,2011-11-22,15.724562,33.751393,7.263666,18.130859,12.136936,18.022875,5.865972,...,6.566667,3.133333,15.300000,20.366667,71.566667,46.986667,0.433333,0,-12.82,-4.47
Citadel,2011,High Point,2011,2011-11-26,15.362281,35.875696,7.131833,20.565429,9.068468,15.011437,8.932986,...,6.000000,3.700000,10.166667,16.600000,71.566667,54.456667,0.700000,1,-12.82,-4.47
Hampton,2011,High Point,2011,2011-11-29,17.681140,39.937848,7.065916,17.782715,14.034234,23.005719,10.466493,...,5.200000,2.833333,14.900000,20.600000,65.566667,38.533333,0.366667,0,-12.82,-4.47
Campbell,2011,High Point,2011,2011-12-03,12.840570,34.468924,10.032958,23.891357,11.517117,19.502859,12.733246,...,6.966667,4.033333,13.833333,20.266667,69.133333,48.686667,0.566667,0,-12.82,-4.47

In [296]:
school_df.drop(['year', 'school_id'], axis=1, inplace=True)

In [297]:
school_df.reset_index(drop=False, inplace=True)

In [298]:
school_df = school_df.rename(columns={'school_id':'opp_id', 'SRS':'opp_SRS', 'SOS':'opp_SOS'})

In [299]:
school_df.set_index(['opp_id', 'year'], drop=False, inplace=True)

In [300]:
school_df.head()

,,opp_id,year,WinLossPct,opp_SRS,opp_SOS
opp_id,year,,,,,
Air Force,2010,Air Force,2010,0.323,-4.90,3.13
Akron,2010,Akron,2010,0.686,2.82,-1.50
Alabama A&M,2010,Alabama A&M,2010,0.407,-20.19,-13.71
Alabama-Birmingham,2010,Alabama-Birmingham,2010,0.735,9.46,2.90
Alabama State,2010,Alabama State,2010,0.516,-14.41,-12.02

In [301]:
joined = joined.join(school_df[['opp_SRS', 'opp_SOS']], how='left', on=['opp_id', 'year'])

In [302]:
joined.head()

,,school_id,year,date_game,ewm03fg2,ewm03fg2a,ewm03fg3,ewm03fg3a,ewm03ft,ewm03fta,ewm03orb,...,rm30heldto_tov,rm30heldto_pf,rm30heldto_pts,rm30heldto_game_score,rm30heldto_W,W,SRS,SOS,opp_SRS,opp_SOS
opp_id,year,,,,,,,,,,,,,,,,,,,,,
Central Florida,2011,High Point,2011,2011-11-18,14.449124,32.502785,6.527332,17.261717,10.273871,14.045750,6.731944,...,12.200000,19.233333,64.533333,44.153333,0.433333,0,-12.82,-4.47,6.25,1.97
Tennessee Tech,2011,High Point,2011,2011-11-22,15.724562,33.751393,7.263666,18.130859,12.136936,18.022875,5.865972,...,15.300000,20.366667,71.566667,46.986667,0.433333,0,-12.82,-4.47,-5.64,-5.77
Citadel,2011,High Point,2011,2011-11-26,15.362281,35.875696,7.131833,20.565429,9.068468,15.011437,8.932986,...,10.166667,16.600000,71.566667,54.456667,0.700000,1,-12.82,-4.47,-9.84,-2.84
Hampton,2011,High Point,2011,2011-11-29,17.681140,39.937848,7.065916,17.782715,14.034234,23.005719,10.466493,...,14.900000,20.600000,65.566667,38.533333,0.366667,0,-12.82,-4.47,-5.20,-8.77
Campbell,2011,High Point,2011,2011-12-03,12.840570,34.468924,10.032958,23.891357,11.517117,19.502859,12.733246,...,13.833333,20.266667,69.133333,48.686667,0.566667,0,-12.82,-4.47,-6.67,-4.27

In [303]:
list(joined.columns)

['school_id',
 'year',
 'date_game',
 'ewm03fg2',
 'ewm03fg2a',
 'ewm03fg3',
 'ewm03fg3a',
 'ewm03ft',
 'ewm03fta',
 'ewm03orb',
 'ewm03drb',
 'ewm03ast',
 'ewm03stl',
 'ewm03blk',
 'ewm03tov',
 'ewm03pf',
 'ewm03pts',
 'ewm03game_score',
 'ewm03W',
 'ewm10fg2',
 'ewm10fg2a',
 'ewm10fg3',
 'ewm10fg3a',
 'ewm10ft',
 'ewm10fta',
 'ewm10orb',
 'ewm10drb',
 'ewm10ast',
 'ewm10stl',
 'ewm10blk',
 'ewm10tov',
 'ewm10pf',
 'ewm10pts',
 'ewm10game_score',
 'ewm10W',
 'ewm20fg2',
 'ewm20fg2a',
 'ewm20fg3',
 'ewm20fg3a',
 'ewm20ft',
 'ewm20fta',
 'ewm20orb',
 'ewm20drb',
 'ewm20ast',
 'ewm20stl',
 'ewm20blk',
 'ewm20tov',
 'ewm20pf',
 'ewm20pts',
 'ewm20game_score',
 'ewm20W',
 'rm30fg2',
 'rm30fg2a',
 'rm30fg3',
 'rm30fg3a',
 'rm30ft',
 'rm30fta',
 'rm30orb',
 'rm30drb',
 'rm30ast',
 'rm30stl',
 'rm30blk',
 'rm30tov',
 'rm30pf',
 'rm30pts',
 'rm30game_score',
 'rm30W',
 'opp_id',
 'ewm03heldto_fg2',
 'ewm03heldto_fg2a',
 'ewm03heldto_fg3',
 'ewm03heldto_fg3a',
 'ewm03heldto_ft',
 'ewm03heldto_fta',
 'ewm03heldto_orb',
 'ewm03heldto_drb',
 'ewm03heldto_ast',
 'ewm03heldto_stl',
 'ewm03heldto_blk',
 'ewm03heldto_tov',
 'ewm03heldto_pf',
 'ewm03heldto_pts',
 'ewm03heldto_game_score',
 'ewm03heldto_W',
 'ewm10heldto_fg2',
 'ewm10heldto_fg2a',
 'ewm10heldto_fg3',
 'ewm10heldto_fg3a',
 'ewm10heldto_ft',
 'ewm10heldto_fta',
 'ewm10heldto_orb',
 'ewm10heldto_drb',
 'ewm10heldto_ast',
 'ewm10heldto_stl',
 'ewm10heldto_blk',
 'ewm10heldto_tov',
 'ewm10heldto_pf',
 'ewm10heldto_pts',
 'ewm10heldto_game_score',
 'ewm10heldto_W',
 'ewm20heldto_fg2',
 'ewm20heldto_fg2a',
 'ewm20heldto_fg3',
 'ewm20heldto_fg3a',
 'ewm20heldto_ft',
 'ewm20heldto_fta',
 'ewm20heldto_orb',
 'ewm20heldto_drb',
 'ewm20heldto_ast',
 'ewm20heldto_stl',
 'ewm20heldto_blk',
 'ewm20heldto_tov',
 'ewm20heldto_pf',
 'ewm20heldto_pts',
 'ewm20heldto_game_score',
 'ewm20heldto_W',
 'rm30heldto_fg2',
 'rm30heldto_fg2a',
 'rm30heldto_fg3',
 'rm30heldto_fg3a',
 'rm30heldto_ft',
 'rm30heldto_fta',
 'rm30heldto_orb',
 'rm30heldto_drb',
 'rm30heldto_ast',
 'rm30heldto_stl',
 'rm30heldto_blk',
 'rm30heldto_tov',
 'rm30heldto_pf',
 'rm30heldto_pts',
 'rm30heldto_game_score',
 'rm30heldto_W',
 'W',
 'SRS',
 'SOS',
 'opp_SRS',
 'opp_SOS']

In [304]:
joined.drop(['year', 'opp_id'], axis=1, inplace=True)

In [305]:
joined.reset_index(inplace=True, drop=False)

In [306]:
joined.drop(['year'], axis=1, inplace=True)

In [307]:
joined.set_index(['school_id', 'date_game', 'opp_id'], inplace=True)

In [308]:
joined.head()

                                        ewm03fg2  ewm03fg2a   ewm03fg3  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida  14.449124  32.502785   6.527332
           2011-11-22 Tennessee Tech   15.724562  33.751393   7.263666
           2011-11-26 Citadel          15.362281  35.875696   7.131833
           2011-11-29 Hampton          17.681140  39.937848   7.065916
           2011-12-03 Campbell         12.840570  34.468924  10.032958

                                       ewm03fg3a    ewm03ft   ewm03fta  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida  17.261717  10.273871  14.045750
           2011-11-22 Tennessee Tech   18.130859  12.136936  18.022875
           2011-11-26 Citadel          20.565429   9.068468  15.011437
           2011-11-29 Hampton          17.782715  14.034234  23.005719
           2011-12-03 Campbell         23.891357  11.517117  19.502859

                                        ewm03orb   ewm03drb   ewm03ast  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida   6.731944  20.382396   8.311464
           2011-11-22 Tennessee Tech    5.865972  20.691198  11.655732
           2011-11-26 Citadel           8.932986  19.845599  14.327866
           2011-11-29 Hampton          10.466493  25.922800  13.663933
           2011-12-03 Campbell         12.733246  20.961400  11.831967

                                       ewm03stl   ...     rm30heldto_tov  \
school_id  date_game  opp_id                      ...
High Point 2011-11-18 Central Florida  4.645682   ...          12.200000
           2011-11-22 Tennessee Tech   4.322841   ...          15.300000
           2011-11-26 Citadel          5.661420   ...          10.166667
           2011-11-29 Hampton          7.330710   ...          14.900000
           2011-12-03 Campbell         5.665355   ...          13.833333

                                       rm30heldto_pf  rm30heldto_pts  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida      19.233333       64.533333
           2011-11-22 Tennessee Tech       20.366667       71.566667
           2011-11-26 Citadel              16.600000       71.566667
           2011-11-29 Hampton              20.600000       65.566667
           2011-12-03 Campbell             20.266667       69.133333

                                       rm30heldto_game_score  rm30heldto_W  W  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida              44.153333      0.433333  0
           2011-11-22 Tennessee Tech               46.986667      0.433333  0
           2011-11-26 Citadel                      54.456667      0.700000  1
           2011-11-29 Hampton                      38.533333      0.366667  0
           2011-12-03 Campbell                     48.686667      0.566667  0

                                         SRS   SOS  opp_SRS  opp_SOS
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida -12.82 -4.47     6.25     1.97
           2011-11-22 Tennessee Tech  -12.82 -4.47    -5.64    -5.77
           2011-11-26 Citadel         -12.82 -4.47    -9.84    -2.84
           2011-11-29 Hampton         -12.82 -4.47    -5.20    -8.77
           2011-12-03 Campbell        -12.82 -4.47    -6.67    -4.27

[5 rows x 133 columns]

In [309]:
joined.isnull().sum()

ewm03fg2                    0
ewm03fg2a                   0
ewm03fg3                    0
ewm03fg3a                   0
ewm03ft                     0
ewm03fta                    0
ewm03orb                    0
ewm03drb                    0
ewm03ast                    0
ewm03stl                    0
ewm03blk                    0
ewm03tov                    0
ewm03pf                     0
ewm03pts                    0
ewm03game_score             0
ewm03W                      0
ewm10fg2                    0
ewm10fg2a                   0
ewm10fg3                    0
ewm10fg3a                   0
ewm10ft                     0
ewm10fta                    0
ewm10orb                    0
ewm10drb                    0
ewm10ast                    0
ewm10stl                    0
ewm10blk                    0
ewm10tov                    0
ewm10pf                     0
ewm10pts                    0
                         ...
ewm20heldto_drb             0
ewm20heldto_ast             0
ewm20heldto_stl             0
ewm20heldto_blk             0
ewm20heldto_tov             0
ewm20heldto_pf              0
ewm20heldto_pts             0
ewm20heldto_game_score      0
ewm20heldto_W               0
rm30heldto_fg2              0
rm30heldto_fg2a             0
rm30heldto_fg3              0
rm30heldto_fg3a             0
rm30heldto_ft               0
rm30heldto_fta              0
rm30heldto_orb              0
rm30heldto_drb              0
rm30heldto_ast              0
rm30heldto_stl              0
rm30heldto_blk              0
rm30heldto_tov              0
rm30heldto_pf               0
rm30heldto_pts              0
rm30heldto_game_score       0
rm30heldto_W                0
W                           0
SRS                       383
SOS                       383
opp_SRS                   393
opp_SOS                   393
Length: 133, dtype: int64

In [310]:
joined.dropna(inplace=True)

In [311]:
list(joined.dtypes)

[dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64')]

### Add Poll Rankings (Abandoned, little improvement)

In [ ]:
# Leave 2018 out for now, structured a little differently
polls_2010 = pd.read_csv('../data/polls_rank/2010_polls.csv', sep='\t', header=None)
polls_2011 = pd.read_csv('../data/polls_rank/2011_polls.csv', sep='\t', header=None)
polls_2012 = pd.read_csv('../data/polls_rank/2012_polls.csv', sep='\t', header=None)
polls_2013 = pd.read_csv('../data/polls_rank/2013_polls.csv', sep='\t', header=None)
polls_2014 = pd.read_csv('../data/polls_rank/2014_polls.csv', sep='\t', header=None)
polls_2015 = pd.read_csv('../data/polls_rank/2015_polls.csv', sep='\t', header=None)
polls_2016 = pd.read_csv('../data/polls_rank/2016_polls.csv', sep='\t', header=None)
polls_2017 = pd.read_csv('../data/polls_rank/2017_polls.csv', sep='\t', header=None)

In [ ]:
polls_2010.replace('Final', '2010-03-15', inplace=True)
polls_2010.replace('Preseason', '2009-11-09', inplace=True)

polls_2011.replace('Final', '2011-03-15', inplace=True)
polls_2011.replace('Preseason', '2010-11-09', inplace=True)

polls_2012.replace('Final', '2012-03-15', inplace=True)
polls_2012.replace('Preseason', '2011-11-09', inplace=True)

polls_2013.replace('Final', '2013-03-15', inplace=True)
polls_2013.replace('Preseason', '2012-11-09', inplace=True)

polls_2014.replace('Final', '2014-03-15', inplace=True)
polls_2014.replace('Preseason', '2013-11-09', inplace=True)

polls_2015.replace('Final', '2015-03-15', inplace=True)
polls_2015.replace('Preseason', '2014-11-09', inplace=True)

polls_2016.replace('Final', '2016-03-15', inplace=True)
polls_2016.replace('Preseason', '2015-11-09', inplace=True)

polls_2017.replace('Final', '2017-03-15', inplace=True)
polls_2017.replace('Preseason', '2016-11-09', inplace=True)

In [ ]:
# AP Polls from 0:492, Coaches Polls from 494: (2010, 2011, 2013, 2014)
# AP Polls from 0:493, Coaches Polls from 495: (2012, 2015, 2016)
# AP Polls from 0:494, Coaches Polls from 496: (2017)
polls_2017.loc[495]

In [ ]:
AP_polls_2010 = polls_2010.loc[:492]
Coach_polls_2010 = polls_2010.loc[494:]

AP_polls_2011 = polls_2011.loc[:492]
Coach_polls_2011 = polls_2011.loc[494:]

AP_polls_2012 = polls_2012.loc[:493]
Coach_polls_2012 = polls_2012.loc[495:]

AP_polls_2013 = polls_2013.loc[:492]
Coach_polls_2013 = polls_2013.loc[494:]

AP_polls_2014 = polls_2014.loc[:492]
Coach_polls_2014 = polls_2014.loc[494:]

AP_polls_2015 = polls_2015.loc[:493]
Coach_polls_2015 = polls_2015.loc[495:]

AP_polls_2016 = polls_2016.loc[:493]
Coach_polls_2016 = polls_2016.loc[495:]

AP_polls_2017 = polls_2017.loc[:494]
Coach_polls_2017 = polls_2017.loc[496:]

In [ ]:
AP_polls = pd.concat([AP_polls_2010, AP_polls_2011, AP_polls_2012, AP_polls_2013, AP_polls_2014,
                      AP_polls_2015, AP_polls_2016, AP_polls_2017])

Coach_polls = pd.concat([Coach_polls_2010, Coach_polls_2011, Coach_polls_2012, Coach_polls_2013,
                         Coach_polls_2014, Coach_polls_2015, Coach_polls_2016, Coach_polls_2017])

In [ ]:
polls_cols = ['wk', 'date_game', 'rank', 'school_id', 'prev_rank', 'chnge', 'conf']

In [ ]:
AP_polls.columns = polls_cols
Coach_polls.columns = polls_cols

In [ ]:
AP_drop_indices = AP_polls[AP_polls['wk']=='Wk'].index
Coach_drop_indices = Coach_polls[Coach_polls['wk']=='Wk'].index

In [ ]:
AP_polls.drop(AP_drop_indices, inplace=True)
Coach_polls.drop(Coach_drop_indices, inplace=True)

In [ ]:
print(AP_polls.shape)
print(Coach_polls.shape)

In [ ]:
AP_polls.reset_index(drop=True, inplace=True)
Coach_polls.reset_index(drop=True, inplace=True)

In [ ]:
AP_polls.head()

In [ ]:
AP_polls['rank'] = AP_polls['rank'].astype(int)
Coach_polls['rank'] = Coach_polls['rank'].astype(int)

AP_polls['date_game'] = pd.to_datetime(AP_polls['date_game'])
Coach_polls['date_game'] = pd.to_datetime(Coach_polls['date_game'])

In [ ]:
AP_polls.head()

In [ ]:
joined.reset_index(inplace=True, drop=False)

In [ ]:
joined.sort_values(['date_game', 'school_id'], inplace=True)
AP_polls.sort_values(['date_game', 'school_id'], inplace=True)
Coach_polls.sort_values(['date_game', 'school_id'], inplace=True)

In [ ]:
joined.reset_index(inplace=True, drop=True)
AP_polls.reset_index(inplace=True, drop=True)
Coach_polls.reset_index(inplace=True, drop=True)

In [ ]:
#joined['AP_poll_rank'] = 30
#joined['coach_poll_rank'] = 30
#joined['opp_AP_poll_rank'] = 30
#joined['opp_coach_poll_rank'] = 30

In [ ]:
AP_polls = AP_polls[['date_game', 'rank', 'school_id']]
Coach_polls = Coach_polls[['date_game', 'rank', 'school_id']]

In [ ]:
print(AP_polls.shape)
print(Coach_polls.shape)

In [ ]:
for i in range(0, 3670):
    for j in range(1,7):
        AP_polls = AP_polls.append(AP_polls.loc[i].replace(AP_polls['date_game'][i], AP_polls['date_game'][i]+timedelta(days=j)))
        AP_polls.reset_index(drop=True, inplace=True)

In [ ]:
AP_polls.set_index(['date_game', 'school_id'], drop=False, inplace=True)
joined.set_index(['date_game', 'school_id'], drop=False, inplace=True)

In [ ]:
joined = joined.join(AP_polls['rank'], how='left', on=['date_game', 'school_id'], rsuffix='_r')

In [ ]:
joined.shape

In [ ]:
for i in range(0, 3655):
    for j in range(1,7):
        Coach_polls = Coach_polls.append(Coach_polls.loc[i].replace(Coach_polls['date_game'][i], Coach_polls['date_game'][i]+timedelta(days=j)))
        Coach_polls.reset_index(drop=True, inplace=True)

In [ ]:
Coach_polls.set_index(['date_game', 'school_id'], drop=False, inplace=True)

In [ ]:
joined = joined.join(Coach_polls['rank'], how='left', on=['date_game', 'school_id'], rsuffix='_r')

In [ ]:
# Why is a 'left' join making extra rows?
joined.shape

In [ ]:
joined.head()

In [ ]:
joined.drop(['school_id', 'date_game', 'opp_id'], axis=1, inplace=True)

In [ ]:
joined.fillna(30, inplace=True)

In [ ]:
list(joined.dtypes)

In [ ]:
joined.head()

## Make Some Interaction Features

In [97]:
len(joined.columns)

133

In [98]:
list(joined.columns)

['ewm03fg2',
 'ewm03fg2a',
 'ewm03fg3',
 'ewm03fg3a',
 'ewm03ft',
 'ewm03fta',
 'ewm03orb',
 'ewm03drb',
 'ewm03ast',
 'ewm03stl',
 'ewm03blk',
 'ewm03tov',
 'ewm03pf',
 'ewm03pts',
 'ewm03game_score',
 'ewm03W',
 'ewm10fg2',
 'ewm10fg2a',
 'ewm10fg3',
 'ewm10fg3a',
 'ewm10ft',
 'ewm10fta',
 'ewm10orb',
 'ewm10drb',
 'ewm10ast',
 'ewm10stl',
 'ewm10blk',
 'ewm10tov',
 'ewm10pf',
 'ewm10pts',
 'ewm10game_score',
 'ewm10W',
 'ewm20fg2',
 'ewm20fg2a',
 'ewm20fg3',
 'ewm20fg3a',
 'ewm20ft',
 'ewm20fta',
 'ewm20orb',
 'ewm20drb',
 'ewm20ast',
 'ewm20stl',
 'ewm20blk',
 'ewm20tov',
 'ewm20pf',
 'ewm20pts',
 'ewm20game_score',
 'ewm20W',
 'rm30fg2',
 'rm30fg2a',
 'rm30fg3',
 'rm30fg3a',
 'rm30ft',
 'rm30fta',
 'rm30orb',
 'rm30drb',
 'rm30ast',
 'rm30stl',
 'rm30blk',
 'rm30tov',
 'rm30pf',
 'rm30pts',
 'rm30game_score',
 'rm30W',
 'ewm03heldto_fg2',
 'ewm03heldto_fg2a',
 'ewm03heldto_fg3',
 'ewm03heldto_fg3a',
 'ewm03heldto_ft',
 'ewm03heldto_fta',
 'ewm03heldto_orb',
 'ewm03heldto_drb',
 'ewm03heldto_ast',
 'ewm03heldto_stl',
 'ewm03heldto_blk',
 'ewm03heldto_tov',
 'ewm03heldto_pf',
 'ewm03heldto_pts',
 'ewm03heldto_game_score',
 'ewm03heldto_W',
 'ewm10heldto_fg2',
 'ewm10heldto_fg2a',
 'ewm10heldto_fg3',
 'ewm10heldto_fg3a',
 'ewm10heldto_ft',
 'ewm10heldto_fta',
 'ewm10heldto_orb',
 'ewm10heldto_drb',
 'ewm10heldto_ast',
 'ewm10heldto_stl',
 'ewm10heldto_blk',
 'ewm10heldto_tov',
 'ewm10heldto_pf',
 'ewm10heldto_pts',
 'ewm10heldto_game_score',
 'ewm10heldto_W',
 'ewm20heldto_fg2',
 'ewm20heldto_fg2a',
 'ewm20heldto_fg3',
 'ewm20heldto_fg3a',
 'ewm20heldto_ft',
 'ewm20heldto_fta',
 'ewm20heldto_orb',
 'ewm20heldto_drb',
 'ewm20heldto_ast',
 'ewm20heldto_stl',
 'ewm20heldto_blk',
 'ewm20heldto_tov',
 'ewm20heldto_pf',
 'ewm20heldto_pts',
 'ewm20heldto_game_score',
 'ewm20heldto_W',
 'rm30heldto_fg2',
 'rm30heldto_fg2a',
 'rm30heldto_fg3',
 'rm30heldto_fg3a',
 'rm30heldto_ft',
 'rm30heldto_fta',
 'rm30heldto_orb',
 'rm30heldto_drb',
 'rm30heldto_ast',
 'rm30heldto_stl',
 'rm30heldto_blk',
 'rm30heldto_tov',
 'rm30heldto_pf',
 'rm30heldto_pts',
 'rm30heldto_game_score',
 'rm30heldto_W',
 'W',
 'SRS',
 'SOS',
 'opp_SRS',
 'opp_SOS']

In [99]:
joined.columns[63]

'rm30W'

In [100]:
interact_pair = []
for i in range(0,64):
    if 'W' not in joined.columns[i]:
        interact_pair.append([joined.columns[i], joined.columns[i+64]])

In [101]:
interact_pair[:5]

[['ewm03fg2', 'ewm03heldto_fg2'],
 ['ewm03fg2a', 'ewm03heldto_fg2a'],
 ['ewm03fg3', 'ewm03heldto_fg3'],
 ['ewm03fg3a', 'ewm03heldto_fg3a'],
 ['ewm03ft', 'ewm03heldto_ft']]

In [102]:
interact_pair.append(['SOS', 'opp_SOS'])
interact_pair.append(['SRS', 'opp_SRS'])

In [103]:
len(interact_pair)

62

In [104]:
for i, j in interact_pair:
    joined[i+j] = joined[i] - joined[j]

In [105]:
joined.shape

(75355, 195)

In [106]:
joined.head()

                                        ewm03fg2  ewm03fg2a   ewm03fg3  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida  14.449124  32.502785   6.527332
           2011-11-22 Tennessee Tech   15.724562  33.751393   7.263666
           2011-11-26 Citadel          15.362281  35.875696   7.131833
           2011-11-29 Hampton          17.681140  39.937848   7.065916
           2011-12-03 Campbell         12.840570  34.468924  10.032958

                                       ewm03fg3a    ewm03ft   ewm03fta  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida  17.261717  10.273871  14.045750
           2011-11-22 Tennessee Tech   18.130859  12.136936  18.022875
           2011-11-26 Citadel          20.565429   9.068468  15.011437
           2011-11-29 Hampton          17.782715  14.034234  23.005719
           2011-12-03 Campbell         23.891357  11.517117  19.502859

                                        ewm03orb   ewm03drb   ewm03ast  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida   6.731944  20.382396   8.311464
           2011-11-22 Tennessee Tech    5.865972  20.691198  11.655732
           2011-11-26 Citadel           8.932986  19.845599  14.327866
           2011-11-29 Hampton          10.466493  25.922800  13.663933
           2011-12-03 Campbell         12.733246  20.961400  11.831967

                                       ewm03stl     ...      \
school_id  date_game  opp_id                        ...
High Point 2011-11-18 Central Florida  4.645682     ...
           2011-11-22 Tennessee Tech   4.322841     ...
           2011-11-26 Citadel          5.661420     ...
           2011-11-29 Hampton          7.330710     ...
           2011-12-03 Campbell         5.665355     ...

                                       rm30drbrm30heldto_drb  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida              -0.100000
           2011-11-22 Tennessee Tech                0.633333
           2011-11-26 Citadel                      -0.900000
           2011-11-29 Hampton                      -3.966667
           2011-12-03 Campbell                     -0.100000

                                       rm30astrm30heldto_ast  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida              -1.866667
           2011-11-22 Tennessee Tech               -2.733333
           2011-11-26 Citadel                      -2.633333
           2011-11-29 Hampton                       0.700000
           2011-12-03 Campbell                     -2.300000

                                       rm30stlrm30heldto_stl  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida              -0.100000
           2011-11-22 Tennessee Tech                0.233333
           2011-11-26 Citadel                       0.866667
           2011-11-29 Hampton                       1.733333
           2011-12-03 Campbell                     -0.266667

                                       rm30blkrm30heldto_blk  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida              -0.800000
           2011-11-22 Tennessee Tech               -0.433333
           2011-11-26 Citadel                      -0.900000
           2011-11-29 Hampton                      -0.033333
           2011-12-03 Campbell                     -1.400000

                                       rm30tovrm30heldto_tov  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida               2.800000
           2011-11-22 Tennessee Tech               -0.433333
           2011-11-26 Citadel                       4.833333
           2011-11-29 Hampton                       0.166667
           2011-12-03 Campbell                      1.166667

                                       rm30pfrm30heldto_pf  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida             2.066667
           2011-11-22 Tennessee Tech              0.766667
           2011-11-26 Citadel                     4.166667
           2011-11-29 Hampton                    -0.233333
           2011-12-03 Campbell                   -0.133333

                                       rm30ptsrm30heldto_pts  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida               0.100000
           2011-11-22 Tennessee Tech               -6.433333
           2011-11-26 Citadel                      -6.633333
           2011-11-29 Hampton                      -0.100000
           2011-12-03 Campbell                     -3.733333

                                       rm30game_scorerm30heldto_game_score  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida                            -5.940000
           2011-11-22 Tennessee Tech                             -7.926667
           2011-11-26 Citadel                                   -15.220000
           2011-11-29 Hampton                                     1.423333
           2011-12-03 Campbell                                   -9.020000

                                       SOSopp_SOS  SRSopp_SRS
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida       -6.44      -19.07
           2011-11-22 Tennessee Tech         1.30       -7.18
           2011-11-26 Citadel               -1.63       -2.98
           2011-11-29 Hampton                4.30       -7.62
           2011-12-03 Campbell              -0.20       -6.15

[5 rows x 195 columns]

In [107]:
list(joined.columns)

['ewm03fg2',
 'ewm03fg2a',
 'ewm03fg3',
 'ewm03fg3a',
 'ewm03ft',
 'ewm03fta',
 'ewm03orb',
 'ewm03drb',
 'ewm03ast',
 'ewm03stl',
 'ewm03blk',
 'ewm03tov',
 'ewm03pf',
 'ewm03pts',
 'ewm03game_score',
 'ewm03W',
 'ewm10fg2',
 'ewm10fg2a',
 'ewm10fg3',
 'ewm10fg3a',
 'ewm10ft',
 'ewm10fta',
 'ewm10orb',
 'ewm10drb',
 'ewm10ast',
 'ewm10stl',
 'ewm10blk',
 'ewm10tov',
 'ewm10pf',
 'ewm10pts',
 'ewm10game_score',
 'ewm10W',
 'ewm20fg2',
 'ewm20fg2a',
 'ewm20fg3',
 'ewm20fg3a',
 'ewm20ft',
 'ewm20fta',
 'ewm20orb',
 'ewm20drb',
 'ewm20ast',
 'ewm20stl',
 'ewm20blk',
 'ewm20tov',
 'ewm20pf',
 'ewm20pts',
 'ewm20game_score',
 'ewm20W',
 'rm30fg2',
 'rm30fg2a',
 'rm30fg3',
 'rm30fg3a',
 'rm30ft',
 'rm30fta',
 'rm30orb',
 'rm30drb',
 'rm30ast',
 'rm30stl',
 'rm30blk',
 'rm30tov',
 'rm30pf',
 'rm30pts',
 'rm30game_score',
 'rm30W',
 'ewm03heldto_fg2',
 'ewm03heldto_fg2a',
 'ewm03heldto_fg3',
 'ewm03heldto_fg3a',
 'ewm03heldto_ft',
 'ewm03heldto_fta',
 'ewm03heldto_orb',
 'ewm03heldto_drb',
 'ewm03heldto_ast',
 'ewm03heldto_stl',
 'ewm03heldto_blk',
 'ewm03heldto_tov',
 'ewm03heldto_pf',
 'ewm03heldto_pts',
 'ewm03heldto_game_score',
 'ewm03heldto_W',
 'ewm10heldto_fg2',
 'ewm10heldto_fg2a',
 'ewm10heldto_fg3',
 'ewm10heldto_fg3a',
 'ewm10heldto_ft',
 'ewm10heldto_fta',
 'ewm10heldto_orb',
 'ewm10heldto_drb',
 'ewm10heldto_ast',
 'ewm10heldto_stl',
 'ewm10heldto_blk',
 'ewm10heldto_tov',
 'ewm10heldto_pf',
 'ewm10heldto_pts',
 'ewm10heldto_game_score',
 'ewm10heldto_W',
 'ewm20heldto_fg2',
 'ewm20heldto_fg2a',
 'ewm20heldto_fg3',
 'ewm20heldto_fg3a',
 'ewm20heldto_ft',
 'ewm20heldto_fta',
 'ewm20heldto_orb',
 'ewm20heldto_drb',
 'ewm20heldto_ast',
 'ewm20heldto_stl',
 'ewm20heldto_blk',
 'ewm20heldto_tov',
 'ewm20heldto_pf',
 'ewm20heldto_pts',
 'ewm20heldto_game_score',
 'ewm20heldto_W',
 'rm30heldto_fg2',
 'rm30heldto_fg2a',
 'rm30heldto_fg3',
 'rm30heldto_fg3a',
 'rm30heldto_ft',
 'rm30heldto_fta',
 'rm30heldto_orb',
 'rm30heldto_drb',
 'rm30heldto_ast',
 'rm30heldto_stl',
 'rm30heldto_blk',
 'rm30heldto_tov',
 'rm30heldto_pf',
 'rm30heldto_pts',
 'rm30heldto_game_score',
 'rm30heldto_W',
 'W',
 'SRS',
 'SOS',
 'opp_SRS',
 'opp_SOS',
 'ewm03fg2ewm03heldto_fg2',
 'ewm03fg2aewm03heldto_fg2a',
 'ewm03fg3ewm03heldto_fg3',
 'ewm03fg3aewm03heldto_fg3a',
 'ewm03ftewm03heldto_ft',
 'ewm03ftaewm03heldto_fta',
 'ewm03orbewm03heldto_orb',
 'ewm03drbewm03heldto_drb',
 'ewm03astewm03heldto_ast',
 'ewm03stlewm03heldto_stl',
 'ewm03blkewm03heldto_blk',
 'ewm03tovewm03heldto_tov',
 'ewm03pfewm03heldto_pf',
 'ewm03ptsewm03heldto_pts',
 'ewm03game_scoreewm03heldto_game_score',
 'ewm10fg2ewm10heldto_fg2',
 'ewm10fg2aewm10heldto_fg2a',
 'ewm10fg3ewm10heldto_fg3',
 'ewm10fg3aewm10heldto_fg3a',
 'ewm10ftewm10heldto_ft',
 'ewm10ftaewm10heldto_fta',
 'ewm10orbewm10heldto_orb',
 'ewm10drbewm10heldto_drb',
 'ewm10astewm10heldto_ast',
 'ewm10stlewm10heldto_stl',
 'ewm10blkewm10heldto_blk',
 'ewm10tovewm10heldto_tov',
 'ewm10pfewm10heldto_pf',
 'ewm10ptsewm10heldto_pts',
 'ewm10game_scoreewm10heldto_game_score',
 'ewm20fg2ewm20heldto_fg2',
 'ewm20fg2aewm20heldto_fg2a',
 'ewm20fg3ewm20heldto_fg3',
 'ewm20fg3aewm20heldto_fg3a',
 'ewm20ftewm20heldto_ft',
 'ewm20ftaewm20heldto_fta',
 'ewm20orbewm20heldto_orb',
 'ewm20drbewm20heldto_drb',
 'ewm20astewm20heldto_ast',
 'ewm20stlewm20heldto_stl',
 'ewm20blkewm20heldto_blk',
 'ewm20tovewm20heldto_tov',
 'ewm20pfewm20heldto_pf',
 'ewm20ptsewm20heldto_pts',
 'ewm20game_scoreewm20heldto_game_score',
 'rm30fg2rm30heldto_fg2',
 'rm30fg2arm30heldto_fg2a',
 'rm30fg3rm30heldto_fg3',
 'rm30fg3arm30heldto_fg3a',
 'rm30ftrm30heldto_ft',
 'rm30ftarm30heldto_fta',
 'rm30orbrm30heldto_orb',
 'rm30drbrm30heldto_drb',
 'rm30astrm30heldto_ast',
 'rm30stlrm30heldto_stl',
 'rm30blkrm30heldto_blk',
 'rm30tovrm30heldto_tov',
 'rm30pfrm30heldto_pf',
 'rm30ptsrm30heldto_pts',
 'rm30game_scorerm30heldto_game_score',
 'SOSopp_SOS',
 'SRSopp_SRS']

In [ ]:
joined.to_csv('../data/joined_modeling.csv')

# Baseline

In [110]:
# Count since 2003
# https://www.teamrankings.com/ncb/odds-history/win/
spread = pd.read_csv('../data/point_spread_history.csv', sep='\t', header=None)

In [111]:
spread_cols = ['closing_spread', 'game_count', 'record', 'null1', 'null2', 'null3', 'null4',
            'null5', 'null6', 'null7', 'null8']
spread.columns = spread_cols

In [112]:
spread.loc[85]

closing_spread            0
game_count              914
record            457-457-0
null1                 50.0%
null2                     0
null3             220-237-0
null4                 48.1%
null5                 -0.71
null6             237-220-0
null7                 51.9%
null8                  0.71
Name: 85, dtype: object

In [113]:
# Regex: ^[0-9]{1,4}(?=-)   Will find the first column (incorrect)
# Regex: (?<=-)[0-9]{1,4}(?=-) Will find the second column (correct)

In [114]:
incorrect = []
correct = []
for i in spread['record'][:85]:
    inc = re.findall('^[0-9]{1,4}(?=-)', i)
    cor = re.findall('(?<=-)[0-9]{1,4}(?=-)', i)
    
    incorrect.append(int(inc[0]))
    correct.append(int(cor[0]))

In [115]:
sum(correct) / (sum(correct) + sum(incorrect))

0.7430196294257935

### Vegas correctly picks the winner in the opening line 74.3% of the time since 2013

# Modeling

## Begin Modeling Here (Can skip everything above now)

### Bring in modeling df

In [2]:
joined = pd.read_csv('../data/joined_modeling.csv')

In [3]:
joined.set_index(['school_id', 'date_game', 'opp_id'], inplace=True)

In [4]:
joined.head()

                                        ewm03fg2  ewm03fg2a   ewm03fg3  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida  14.449124  32.502785   6.527332
           2011-11-22 Tennessee Tech   15.724562  33.751393   7.263666
           2011-11-26 Citadel          15.362281  35.875696   7.131833
           2011-11-29 Hampton          17.681140  39.937848   7.065916
           2011-12-03 Campbell         12.840570  34.468924  10.032958

                                       ewm03fg3a    ewm03ft   ewm03fta  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida  17.261717  10.273871  14.045750
           2011-11-22 Tennessee Tech   18.130859  12.136936  18.022875
           2011-11-26 Citadel          20.565429   9.068468  15.011437
           2011-11-29 Hampton          17.782715  14.034234  23.005719
           2011-12-03 Campbell         23.891357  11.517117  19.502859

                                        ewm03orb   ewm03drb   ewm03ast  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida   6.731944  20.382396   8.311464
           2011-11-22 Tennessee Tech    5.865972  20.691198  11.655732
           2011-11-26 Citadel           8.932986  19.845599  14.327866
           2011-11-29 Hampton          10.466493  25.922800  13.663933
           2011-12-03 Campbell         12.733246  20.961400  11.831967

                                       ewm03stl     ...      \
school_id  date_game  opp_id                        ...
High Point 2011-11-18 Central Florida  4.645682     ...
           2011-11-22 Tennessee Tech   4.322841     ...
           2011-11-26 Citadel          5.661420     ...
           2011-11-29 Hampton          7.330710     ...
           2011-12-03 Campbell         5.665355     ...

                                       rm30drbrm30heldto_drb  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida              -0.100000
           2011-11-22 Tennessee Tech                0.633333
           2011-11-26 Citadel                      -0.900000
           2011-11-29 Hampton                      -3.966667
           2011-12-03 Campbell                     -0.100000

                                       rm30astrm30heldto_ast  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida              -1.866667
           2011-11-22 Tennessee Tech               -2.733333
           2011-11-26 Citadel                      -2.633333
           2011-11-29 Hampton                       0.700000
           2011-12-03 Campbell                     -2.300000

                                       rm30stlrm30heldto_stl  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida              -0.100000
           2011-11-22 Tennessee Tech                0.233333
           2011-11-26 Citadel                       0.866667
           2011-11-29 Hampton                       1.733333
           2011-12-03 Campbell                     -0.266667

                                       rm30blkrm30heldto_blk  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida              -0.800000
           2011-11-22 Tennessee Tech               -0.433333
           2011-11-26 Citadel                      -0.900000
           2011-11-29 Hampton                      -0.033333
           2011-12-03 Campbell                     -1.400000

                                       rm30tovrm30heldto_tov  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida               2.800000
           2011-11-22 Tennessee Tech               -0.433333
           2011-11-26 Citadel                       4.833333
           2011-11-29 Hampton                       0.166667
           2011-12-03 Campbell                      1.166667

                                       rm30pfrm30heldto_pf  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida             2.066667
           2011-11-22 Tennessee Tech              0.766667
           2011-11-26 Citadel                     4.166667
           2011-11-29 Hampton                    -0.233333
           2011-12-03 Campbell                   -0.133333

                                       rm30ptsrm30heldto_pts  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida               0.100000
           2011-11-22 Tennessee Tech               -6.433333
           2011-11-26 Citadel                      -6.633333
           2011-11-29 Hampton                      -0.100000
           2011-12-03 Campbell                     -3.733333

                                       rm30game_scorerm30heldto_game_score  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida                            -5.940000
           2011-11-22 Tennessee Tech                             -7.926667
           2011-11-26 Citadel                                   -15.220000
           2011-11-29 Hampton                                     1.423333
           2011-12-03 Campbell                                   -9.020000

                                       SOSopp_SOS  SRSopp_SRS
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida       -6.44      -19.07
           2011-11-22 Tennessee Tech         1.30       -7.18
           2011-11-26 Citadel               -1.63       -2.98
           2011-11-29 Hampton                4.30       -7.62
           2011-12-03 Campbell              -0.20       -6.15

[5 rows x 195 columns]

In [ ]:
#drop_cols = []
#for col in joined.columns:
#    if 'SRS' in col:
#        drop_cols.append(col)

In [ ]:
#joined.drop(drop_cols, axis=1, inplace=True)

In [108]:
joined.shape

(75355, 195)

In [38]:
list(joined.columns)

['ewm03fg2',
 'ewm03fg2a',
 'ewm03fg3',
 'ewm03fg3a',
 'ewm03ft',
 'ewm03fta',
 'ewm03orb',
 'ewm03drb',
 'ewm03ast',
 'ewm03stl',
 'ewm03blk',
 'ewm03tov',
 'ewm03pf',
 'ewm03pts',
 'ewm03game_score',
 'ewm03W',
 'ewm10fg2',
 'ewm10fg2a',
 'ewm10fg3',
 'ewm10fg3a',
 'ewm10ft',
 'ewm10fta',
 'ewm10orb',
 'ewm10drb',
 'ewm10ast',
 'ewm10stl',
 'ewm10blk',
 'ewm10tov',
 'ewm10pf',
 'ewm10pts',
 'ewm10game_score',
 'ewm10W',
 'ewm20fg2',
 'ewm20fg2a',
 'ewm20fg3',
 'ewm20fg3a',
 'ewm20ft',
 'ewm20fta',
 'ewm20orb',
 'ewm20drb',
 'ewm20ast',
 'ewm20stl',
 'ewm20blk',
 'ewm20tov',
 'ewm20pf',
 'ewm20pts',
 'ewm20game_score',
 'ewm20W',
 'rm30fg2',
 'rm30fg2a',
 'rm30fg3',
 'rm30fg3a',
 'rm30ft',
 'rm30fta',
 'rm30orb',
 'rm30drb',
 'rm30ast',
 'rm30stl',
 'rm30blk',
 'rm30tov',
 'rm30pf',
 'rm30pts',
 'rm30game_score',
 'rm30W',
 'ewm03heldto_fg2',
 'ewm03heldto_fg2a',
 'ewm03heldto_fg3',
 'ewm03heldto_fg3a',
 'ewm03heldto_ft',
 'ewm03heldto_fta',
 'ewm03heldto_orb',
 'ewm03heldto_drb',
 'ewm03heldto_ast',
 'ewm03heldto_stl',
 'ewm03heldto_blk',
 'ewm03heldto_tov',
 'ewm03heldto_pf',
 'ewm03heldto_pts',
 'ewm03heldto_game_score',
 'ewm03heldto_W',
 'ewm10heldto_fg2',
 'ewm10heldto_fg2a',
 'ewm10heldto_fg3',
 'ewm10heldto_fg3a',
 'ewm10heldto_ft',
 'ewm10heldto_fta',
 'ewm10heldto_orb',
 'ewm10heldto_drb',
 'ewm10heldto_ast',
 'ewm10heldto_stl',
 'ewm10heldto_blk',
 'ewm10heldto_tov',
 'ewm10heldto_pf',
 'ewm10heldto_pts',
 'ewm10heldto_game_score',
 'ewm10heldto_W',
 'ewm20heldto_fg2',
 'ewm20heldto_fg2a',
 'ewm20heldto_fg3',
 'ewm20heldto_fg3a',
 'ewm20heldto_ft',
 'ewm20heldto_fta',
 'ewm20heldto_orb',
 'ewm20heldto_drb',
 'ewm20heldto_ast',
 'ewm20heldto_stl',
 'ewm20heldto_blk',
 'ewm20heldto_tov',
 'ewm20heldto_pf',
 'ewm20heldto_pts',
 'ewm20heldto_game_score',
 'ewm20heldto_W',
 'rm30heldto_fg2',
 'rm30heldto_fg2a',
 'rm30heldto_fg3',
 'rm30heldto_fg3a',
 'rm30heldto_ft',
 'rm30heldto_fta',
 'rm30heldto_orb',
 'rm30heldto_drb',
 'rm30heldto_ast',
 'rm30heldto_stl',
 'rm30heldto_blk',
 'rm30heldto_tov',
 'rm30heldto_pf',
 'rm30heldto_pts',
 'rm30heldto_game_score',
 'rm30heldto_W',
 'W',
 'SRS',
 'SOS',
 'opp_SRS',
 'opp_SOS',
 'ewm03fg2ewm03heldto_fg2',
 'ewm03fg2aewm03heldto_fg2a',
 'ewm03fg3ewm03heldto_fg3',
 'ewm03fg3aewm03heldto_fg3a',
 'ewm03ftewm03heldto_ft',
 'ewm03ftaewm03heldto_fta',
 'ewm03orbewm03heldto_orb',
 'ewm03drbewm03heldto_drb',
 'ewm03astewm03heldto_ast',
 'ewm03stlewm03heldto_stl',
 'ewm03blkewm03heldto_blk',
 'ewm03tovewm03heldto_tov',
 'ewm03pfewm03heldto_pf',
 'ewm03ptsewm03heldto_pts',
 'ewm03game_scoreewm03heldto_game_score',
 'ewm10fg2ewm10heldto_fg2',
 'ewm10fg2aewm10heldto_fg2a',
 'ewm10fg3ewm10heldto_fg3',
 'ewm10fg3aewm10heldto_fg3a',
 'ewm10ftewm10heldto_ft',
 'ewm10ftaewm10heldto_fta',
 'ewm10orbewm10heldto_orb',
 'ewm10drbewm10heldto_drb',
 'ewm10astewm10heldto_ast',
 'ewm10stlewm10heldto_stl',
 'ewm10blkewm10heldto_blk',
 'ewm10tovewm10heldto_tov',
 'ewm10pfewm10heldto_pf',
 'ewm10ptsewm10heldto_pts',
 'ewm10game_scoreewm10heldto_game_score',
 'ewm20fg2ewm20heldto_fg2',
 'ewm20fg2aewm20heldto_fg2a',
 'ewm20fg3ewm20heldto_fg3',
 'ewm20fg3aewm20heldto_fg3a',
 'ewm20ftewm20heldto_ft',
 'ewm20ftaewm20heldto_fta',
 'ewm20orbewm20heldto_orb',
 'ewm20drbewm20heldto_drb',
 'ewm20astewm20heldto_ast',
 'ewm20stlewm20heldto_stl',
 'ewm20blkewm20heldto_blk',
 'ewm20tovewm20heldto_tov',
 'ewm20pfewm20heldto_pf',
 'ewm20ptsewm20heldto_pts',
 'ewm20game_scoreewm20heldto_game_score',
 'rm30fg2rm30heldto_fg2',
 'rm30fg2arm30heldto_fg2a',
 'rm30fg3rm30heldto_fg3',
 'rm30fg3arm30heldto_fg3a',
 'rm30ftrm30heldto_ft',
 'rm30ftarm30heldto_fta',
 'rm30orbrm30heldto_orb',
 'rm30drbrm30heldto_drb',
 'rm30astrm30heldto_ast',
 'rm30stlrm30heldto_stl',
 'rm30blkrm30heldto_blk',
 'rm30tovrm30heldto_tov',
 'rm30pfrm30heldto_pf',
 'rm30ptsrm30heldto_pts',
 'rm30game_scorerm30heldto_game_score',
 'SOSopp_SOS',
 'SRSopp_SRS']

In [5]:
cols_interest = list(joined.columns[:133])
#cols_interest = joined.columns[128:133]

In [6]:
cols_interest

['ewm03fg2',
 'ewm03fg2a',
 'ewm03fg3',
 'ewm03fg3a',
 'ewm03ft',
 'ewm03fta',
 'ewm03orb',
 'ewm03drb',
 'ewm03ast',
 'ewm03stl',
 'ewm03blk',
 'ewm03tov',
 'ewm03pf',
 'ewm03pts',
 'ewm03game_score',
 'ewm03W',
 'ewm10fg2',
 'ewm10fg2a',
 'ewm10fg3',
 'ewm10fg3a',
 'ewm10ft',
 'ewm10fta',
 'ewm10orb',
 'ewm10drb',
 'ewm10ast',
 'ewm10stl',
 'ewm10blk',
 'ewm10tov',
 'ewm10pf',
 'ewm10pts',
 'ewm10game_score',
 'ewm10W',
 'ewm20fg2',
 'ewm20fg2a',
 'ewm20fg3',
 'ewm20fg3a',
 'ewm20ft',
 'ewm20fta',
 'ewm20orb',
 'ewm20drb',
 'ewm20ast',
 'ewm20stl',
 'ewm20blk',
 'ewm20tov',
 'ewm20pf',
 'ewm20pts',
 'ewm20game_score',
 'ewm20W',
 'rm30fg2',
 'rm30fg2a',
 'rm30fg3',
 'rm30fg3a',
 'rm30ft',
 'rm30fta',
 'rm30orb',
 'rm30drb',
 'rm30ast',
 'rm30stl',
 'rm30blk',
 'rm30tov',
 'rm30pf',
 'rm30pts',
 'rm30game_score',
 'rm30W',
 'ewm03heldto_fg2',
 'ewm03heldto_fg2a',
 'ewm03heldto_fg3',
 'ewm03heldto_fg3a',
 'ewm03heldto_ft',
 'ewm03heldto_fta',
 'ewm03heldto_orb',
 'ewm03heldto_drb',
 'ewm03heldto_ast',
 'ewm03heldto_stl',
 'ewm03heldto_blk',
 'ewm03heldto_tov',
 'ewm03heldto_pf',
 'ewm03heldto_pts',
 'ewm03heldto_game_score',
 'ewm03heldto_W',
 'ewm10heldto_fg2',
 'ewm10heldto_fg2a',
 'ewm10heldto_fg3',
 'ewm10heldto_fg3a',
 'ewm10heldto_ft',
 'ewm10heldto_fta',
 'ewm10heldto_orb',
 'ewm10heldto_drb',
 'ewm10heldto_ast',
 'ewm10heldto_stl',
 'ewm10heldto_blk',
 'ewm10heldto_tov',
 'ewm10heldto_pf',
 'ewm10heldto_pts',
 'ewm10heldto_game_score',
 'ewm10heldto_W',
 'ewm20heldto_fg2',
 'ewm20heldto_fg2a',
 'ewm20heldto_fg3',
 'ewm20heldto_fg3a',
 'ewm20heldto_ft',
 'ewm20heldto_fta',
 'ewm20heldto_orb',
 'ewm20heldto_drb',
 'ewm20heldto_ast',
 'ewm20heldto_stl',
 'ewm20heldto_blk',
 'ewm20heldto_tov',
 'ewm20heldto_pf',
 'ewm20heldto_pts',
 'ewm20heldto_game_score',
 'ewm20heldto_W',
 'rm30heldto_fg2',
 'rm30heldto_fg2a',
 'rm30heldto_fg3',
 'rm30heldto_fg3a',
 'rm30heldto_ft',
 'rm30heldto_fta',
 'rm30heldto_orb',
 'rm30heldto_drb',
 'rm30heldto_ast',
 'rm30heldto_stl',
 'rm30heldto_blk',
 'rm30heldto_tov',
 'rm30heldto_pf',
 'rm30heldto_pts',
 'rm30heldto_game_score',
 'rm30heldto_W',
 'W',
 'SRS',
 'SOS',
 'opp_SRS',
 'opp_SOS']

In [54]:
#cols_interest.append(joined.columns[130])

In [55]:
#cols_interest.append(joined.columns[132])

### Split X and y, and apply Scaling

In [147]:
#X = joined[joined.columns[:64].append(joined.columns[128:])].drop('W', axis=1)
X = joined[cols_interest].drop('W', axis=1)
#X = team_b_df.drop('W', axis=1)
y = joined['W']
#y = team_b_df['W']

In [148]:
ss = StandardScaler()
X = ss.fit_transform(X)

### Apply some PCA to reduce features

In [149]:
pca = PCA(n_components=50)
pca = pca.fit(X)

In [150]:
pca.explained_variance_

array([18.99564042, 17.27010269, 12.42070411,  8.2121557 ,  7.39360937,
        6.08029454,  4.8569003 ,  4.75379698,  4.24374435,  3.66004452,
        3.32185342,  3.15004117,  2.80948152,  2.68697144,  2.32570721,
        2.21367291,  1.94215655,  1.88492781,  1.72275091,  1.52227339,
        1.45170423,  1.27736111,  1.18634258,  1.10493617,  1.00720926,
        0.94243617,  0.87424196,  0.79484226,  0.72909465,  0.72231592,
        0.63279465,  0.5939362 ,  0.55893001,  0.54049491,  0.50610406,
        0.46165252,  0.45161221,  0.43478475,  0.40989952,  0.38831738,
        0.37126595,  0.3335199 ,  0.31475104,  0.29193395,  0.27941333,
        0.2743362 ,  0.25236852,  0.23378064,  0.19967883,  0.192123  ])

In [151]:
X = pca.transform(X)

In [152]:
X = pd.DataFrame(X, index=joined[cols_interest].drop('W', axis=1).index)

## Train/Test Split

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(52748, 50)
(52748,)
(22607, 50)
(22607,)

## Logistic Regression

In [36]:
logreg = LogisticRegression(C=.01)
logreg.fit(X_train, y_train)

LogisticRegression(C=0.01, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [37]:
scores = cross_val_score(logreg, X_train, y_train)
print(np.mean(scores))

0.7224918589745378

## Grid Search on Logistic Regression

In [157]:
lr_params = {'penalty':['l1', 'l2'],
             'tol':[.00001, .0001, .001],
             'C':[.001, .01, 1, 10],
            }

In [158]:
grid_lr = GridSearchCV(LogisticRegression(), lr_params, cv=5)
grid_lr.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'penalty': ['l1', 'l2'], 'tol': [1e-05, 0.0001, 0.001], 'C': [0.001, 0.01, 1, 10]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [159]:
scores = cross_val_score(grid_lr, X_train, y_train)
np.mean(scores)

0.7254116307289898

In [160]:
grid_lr.best_params_

{'C': 0.01, 'penalty': 'l2', 'tol': 1e-05}

In [161]:
scores = cross_val_score(grid_lr, X_test, y_test)
np.mean(scores)

0.7269430379390164

In [162]:
preds = grid_lr.predict(X_test)

In [164]:
print(classification_report(y_test, preds))
pd.DataFrame(confusion_matrix(y_test, preds), columns=['Pred -', 'Pred +'], index=['Act -', 'Act +'])

             precision    recall  f1-score   support

          0       0.73      0.73      0.73     11385
          1       0.72      0.73      0.73     11222

avg / total       0.73      0.73      0.73     22607

       Pred -  Pred +
Act -    8258    3127
Act +    3010    8212

### AUC ROC Score and Curve

In [15]:
preds = logreg.predict(X_test)

In [16]:
print(classification_report(y_test, preds))
pd.DataFrame(confusion_matrix(y_test, preds), columns=['Pred -', 'Pred +'], index=['Act -', 'Act +'])

             precision    recall  f1-score   support

          0       0.72      0.71      0.72     11375
          1       0.71      0.72      0.72     11232

avg / total       0.72      0.72      0.72     22607

       Pred -  Pred +
Act -    8121    3254
Act +    3147    8085

In [ ]:
proba_pairs = logreg.predict_proba(X_test)
probas = [item[1] for item in proba_pairs]
roc_auc_score(y_test, probas)

In [ ]:
threshold[4200]

In [ ]:
fpr, tpr, threshold = roc_curve(y_test, probas)
roc_auc = auc(fpr, tpr)

fix, ax = plt.subplots(figsize=(14,10))

plt.title('Receiver Operating Characteristic', fontsize=20)
plt.plot(fpr, tpr, 'b', label = 'AUC = %0.2f' % roc_auc)
plt.scatter(fpr[4200], tpr[4200], s=200, label='Threshold = 50%')
plt.legend(loc = 'lower right', fontsize=14)
plt.plot([0, 1], [0, 1],'r--')
plt.xlim([0, 1])
plt.ylim([0, 1])
plt.ylabel('True Positive Rate', fontsize=16)
plt.xlabel('False Positive Rate', fontsize=16)
plt.show()

### What about double predictions?

In [153]:
pred_proba = logreg.predict_proba(X)

In [154]:
preds = logreg.predict(X)

In [156]:
preds

array([0, 0, 0, ..., 0, 1, 0])

In [157]:
X['W'] = y

In [158]:
prob1 = []
for i in test_pred_proba:
    prob1.append(i[1])

In [159]:
X['prob1'] = prob1

In [160]:
X['orig_pred'] = preds

In [161]:
X.head(20)

                                                       0         1         2  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida           3.790960 -6.081436 -1.205655
           2011-11-22 Tennessee Tech            3.931356 -4.571748 -0.828146
           2011-11-26 Citadel                   6.209464 -2.413404 -0.129863
           2011-11-29 Hampton                   0.454386 -3.254574 -1.482772
           2011-12-03 Campbell                  5.278938 -1.819610 -1.936405
           2011-12-07 Wake Forest               5.232730 -2.315327 -0.397413
           2011-12-17 Marshall                 -0.394789 -5.053176  0.909499
           2011-12-21 Wofford                  -1.135603 -7.595600  1.792859
           2011-12-31 Coastal Carolina         -0.086295 -3.248458  3.407372
           2012-01-02 Charleston Southern       3.979149 -1.698766  0.273933
           2012-01-05 Presbyterian             -2.686685 -4.473053  0.737687
           2012-01-07 Gardner-Webb              2.227779 -2.633117  1.436479
           2012-01-12 Winthrop                  2.602121 -3.356009  0.661743
           2012-01-14 North Carolina-Asheville  3.461014 -1.002911 -0.567529
           2012-01-17 Radford                   6.084863 -0.381955 -0.525944
           2012-01-21 Liberty                   4.297638 -1.321976  2.850149
           2012-01-26 North Carolina-Asheville  2.932958 -1.004966  0.205950
           2012-01-28 Winthrop                  0.379896 -3.454074  0.077517
           2012-02-02 Presbyterian              0.233945 -4.844226  0.662760
           2012-02-04 Gardner-Webb              2.932141 -4.071538  0.504179

                                                       3         4         5  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida           0.215862  2.258905  0.954076
           2011-11-22 Tennessee Tech            0.611397 -4.823761 -0.536561
           2011-11-26 Citadel                  -1.072159  2.149813  0.434139
           2011-11-29 Hampton                  -0.301871 -0.669659  0.866319
           2011-12-03 Campbell                  4.385084 -1.638864  0.187775
           2011-12-07 Wake Forest               0.304300  0.472577  1.286300
           2011-12-17 Marshall                  4.140854  2.090304  3.520400
           2011-12-21 Wofford                   2.453736  1.151321  2.714658
           2011-12-31 Coastal Carolina         -0.924722  0.798661  1.534494
           2012-01-02 Charleston Southern       0.802957  1.957876  0.869807
           2012-01-05 Presbyterian              2.474396  1.973723  2.965594
           2012-01-07 Gardner-Webb              0.824292 -0.133524 -1.174041
           2012-01-12 Winthrop                 -0.475742 -5.002507 -1.073886
           2012-01-14 North Carolina-Asheville  3.160555  1.833944  1.086198
           2012-01-17 Radford                   4.501727 -0.704140 -1.218965
           2012-01-21 Liberty                  -1.127357 -0.376801  3.538962
           2012-01-26 North Carolina-Asheville  0.077291  0.277727  3.695930
           2012-01-28 Winthrop                  0.446761 -4.020113  1.909397
           2012-02-02 Presbyterian              0.723920  1.646606  2.917017
           2012-02-04 Gardner-Webb              1.655241  1.161699  0.793891

                                                       6         7         8  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida          -1.209752  0.740085  0.972303
           2011-11-22 Tennessee Tech           -1.679852 -1.790301 -1.487629
           2011-11-26 Citadel                  -0.494764  1.703296 -1.207812
           2011-11-29 Hampton                  -3.333138 -1.828650 -0.053367
           2011-12-03 Campbell                 -3.209625 -2.566547  0.070555
           2011-12-07 Wake Forest              -2.069609  0.057848  0.052331
           2011-12-17 Marshall                 -2.886082  0.333212 -0.893369
           2011-12-21 Wofford                  -1.918204  1.011617 -1.743226
           2011-12-31 Coastal Carolina         -1.024319  1.502055 -0.257058
           2012-01-02 Charleston Southern      -2.623152 -1.365201  0.777798
           2012-01-05 Presbyterian              0.498240  2.773560 -1.158434
           2012-01-07 Gardner-Webb              0.166264  2.680002  0.564137
           2012-01-12 Winthrop                  0.453093  0.772396 -0.256751
           2012-01-14 North Carolina-Asheville -3.234287 -5.267954  2.802795
           2012-01-17 Radford                   0.610060  4.673610  1.839553
           2012-01-21 Liberty                  -0.274603  1.728369  0.436831
           2012-01-26 North Carolina-Asheville -5.052829 -2.225115  1.030036
           2012-01-28 Winthrop                 -0.903022  3.185624 -1.240942
           2012-02-02 Presbyterian              2.571413  4.273429 -0.903988
           2012-02-04 Gardner-Webb              1.077206  3.512170  0.405722

                                                       9    ...            43  \
school_id  date_game  opp_id                                ...
High Point 2011-11-18 Central Florida           0.216865    ...     -0.387634
           2011-11-22 Tennessee Tech           -1.358986    ...     -0.436251
           2011-11-26 Citadel                   0.071694    ...     -0.349529
           2011-11-29 Hampton                   0.775072    ...     -0.202736
           2011-12-03 Campbell                 -1.235582    ...     -0.565004
           2011-12-07 Wake Forest               1.356419    ...     -0.592243
           2011-12-17 Marshall                  0.142537    ...     -0.059149
           2011-12-21 Wofford                   1.319047    ...      0.464003
           2011-12-31 Coastal Carolina         -1.589805    ...      0.334158
           2012-01-02 Charleston Southern      -1.119881    ...      0.348840
           2012-01-05 Presbyterian             -0.586655    ...     -0.547226
           2012-01-07 Gardner-Webb             -0.203947    ...      0.201662
           2012-01-12 Winthrop                 -0.764711    ...      0.190673
           2012-01-14 North Carolina-Asheville -0.585196    ...      0.053497
           2012-01-17 Radford                   1.606072    ...      0.178604
           2012-01-21 Liberty                  -0.362238    ...      0.393711
           2012-01-26 North Carolina-Asheville -1.248158    ...      0.245503
           2012-01-28 Winthrop                  0.191853    ...     -0.217944
           2012-02-02 Presbyterian              0.474673    ...      0.185482
           2012-02-04 Gardner-Webb             -0.204066    ...      0.948744

                                                      44        45        46  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida          -0.927539 -0.085734 -0.220914
           2011-11-22 Tennessee Tech            1.335334  0.706973 -0.846529
           2011-11-26 Citadel                   0.291418  0.200816 -0.693933
           2011-11-29 Hampton                  -0.184447 -0.551318 -0.392278
           2011-12-03 Campbell                  0.200756 -0.096707 -0.521479
           2011-12-07 Wake Forest              -0.538740 -0.056561 -0.097292
           2011-12-17 Marshall                 -0.530275 -0.712492 -0.404795
           2011-12-21 Wofford                  -0.309558  0.797933 -0.371110
           2011-12-31 Coastal Carolina         -0.179296 -0.697307 -0.000307
           2012-01-02 Charleston Southern       0.537024  0.401500 -0.460619
           2012-01-05 Presbyterian             -1.175810  0.147576  0.173132
           2012-01-07 Gardner-Webb              1.142471  0.442131  0.372309
           2012-01-12 Winthrop                  0.112248 -0.058583  0.527004
           2012-01-14 North Carolina-Asheville -0.684574 -0.159079 -0.287182
           2012-01-17 Radford                  -0.082838 -0.446578 -0.533198
           2012-01-21 Liberty                   0.734640  0.806851 -0.371648
           2012-01-26 North Carolina-Asheville -0.796105  1.187529  0.075287
           2012-01-28 Winthrop                 -0.614021 -0.026968  0.124874
           2012-02-02 Presbyterian             -0.394277  0.672796  0.636260
           2012-02-04 Gardner-Webb              0.230566  0.220189 -0.295056

                                                      47        48        49  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida           0.641706 -0.403588 -0.399778
           2011-11-22 Tennessee Tech            0.075936  0.319487 -0.486209
           2011-11-26 Citadel                  -0.314911 -0.540619 -0.184733
           2011-11-29 Hampton                   0.676153 -0.259727 -0.033954
           2011-12-03 Campbell                  0.269980  0.035179  0.316416
           2011-12-07 Wake Forest               0.226290 -0.331430 -0.089769
           2011-12-17 Marshall                  0.334221 -0.138082  0.145277
           2011-12-21 Wofford                  -0.095657  0.366033  0.091093
           2011-12-31 Coastal Carolina          0.262950 -0.030801  0.618555
           2012-01-02 Charleston Southern       0.173691 -0.219939  0.141770
           2012-01-05 Presbyterian              0.162888 -0.155032  0.252206
           2012-01-07 Gardner-Webb              0.977236 -0.075548  0.894275
           2012-01-12 Winthrop                  0.770310 -0.383010  0.443441
           2012-01-14 North Carolina-Asheville  0.266230  0.367199  0.293762
           2012-01-17 Radford                   0.136518 -0.133780  0.445770
           2012-01-21 Liberty                  -0.470164  0.156984  0.111598
           2012-01-26 North Carolina-Asheville -0.357483 -0.230283  0.300282
           2012-01-28 Winthrop                  0.651407  0.044949  0.756646
           2012-02-02 Presbyterian              0.261138  0.127848  0.593588
           2012-02-04 Gardner-Webb              0.664727  0.339148  0.078996

                                                W     prob1  orig_pred
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida           0  0.075002          0
           2011-11-22 Tennessee Tech            0  0.213931          0
           2011-11-26 Citadel                   1  0.386038          0
           2011-11-29 Hampton                   0  0.282891          0
           2011-12-03 Campbell                  0  0.272463          0
           2011-12-07 Wake Forest               0  0.120480          0
           2011-12-17 Marshall                  0  0.055102          0
           2011-12-21 Wofford                   1  0.069510          0
           2011-12-31 Coastal Carolina          0  0.123307          0
           2012-01-02 Charleston Southern       1  0.295662          0
           2012-01-05 Presbyterian              1  0.366620          0
           2012-01-07 Gardner-Webb              0  0.536429          1
           2012-01-12 Winthrop                  1  0.407206          0
           2012-01-14 North Carolina-Asheville  0  0.198508          0
           2012-01-17 Radford                   0  0.756248          1
           2012-01-21 Liberty                   0  0.598727          1
           2012-01-26 North Carolina-Asheville  0  0.217031          0
           2012-01-28 Winthrop                  1  0.387370          0
           2012-02-02 Presbyterian              0  0.494871          0
           2012-02-04 Gardner-Webb              1  0.500266          1

[20 rows x 53 columns]

In [162]:
X.reset_index(inplace=True)

In [163]:
X.sort_values(['date_game', 'school_id', 'opp_id'], inplace=True)

In [164]:
X.reset_index(inplace=True, drop=True)

In [165]:
X.head()

,school_id,date_game,opp_id,0,1,2,3,4,5,6,...,43,44,45,46,47,48,49,W,prob1,orig_pred
0,James Madison,2011-02-26,Virginia Commonwealth,-1.126635,-0.315900,-0.732924,1.114919,4.413185,-2.859090,0.709293,...,-0.043985,-0.549453,1.005969,-0.614596,-0.547648,0.222794,-0.611651,1,0.339285,0
1,Virginia Commonwealth,2011-02-26,James Madison,-1.602078,-0.714932,2.932586,-0.468730,0.988985,-0.492004,0.011567,...,0.265560,-0.246081,-0.424792,0.047127,0.417467,-0.100864,-0.225713,0,0.733492,1
2,Detroit Mercy,2011-03-01,Loyola (IL),-4.309646,0.462461,-4.008595,-3.783444,1.136622,2.059967,1.488198,...,0.229844,0.701309,0.642304,-0.373530,0.652018,0.030005,0.721704,1,0.598441,1
3,Loyola (IL),2011-03-01,Detroit Mercy,2.631673,-0.637230,1.151751,-2.029922,1.445821,-0.139568,-1.141033,...,0.117277,0.191076,0.078192,0.119577,0.899368,-0.436771,-0.070236,0,0.424766,0
4,Illinois State,2011-03-03,Southern Illinois,3.206396,-5.072742,-0.699457,0.307324,0.468525,-1.346195,2.464895,...,-0.353864,-0.819297,0.306177,0.120034,0.426111,-0.436024,-0.275414,0,0.424961,0

In [166]:
X.index[-1]

75354

In [167]:
team_a = []
team_b = []
for i in X.index:
    if i % 500 == 0:
        print('parsing...', i)
    if i not in team_b:
        for j in range(i, X.index[-1]):
            if X['school_id'][j] == X['opp_id'][i] and X['date_game'][i] == X['date_game'][j]:
                team_a.append(i)
                team_b.append(j)
                break

parsing... 0
parsing... 500
parsing... 1000
parsing... 1500
parsing... 2000
parsing... 2500
parsing... 3000
parsing... 3500
parsing... 4000
parsing... 4500
parsing... 5000
parsing... 5500
parsing... 6000
parsing... 6500
parsing... 7000
parsing... 7500
parsing... 8000
parsing... 8500
parsing... 9000
parsing... 9500
parsing... 10000
parsing... 10500
parsing... 11000
parsing... 11500
parsing... 12000
parsing... 12500
parsing... 13000
parsing... 13500
parsing... 14000
parsing... 14500
parsing... 15000
parsing... 15500
parsing... 16000
parsing... 16500
parsing... 17000
parsing... 17500
parsing... 18000
parsing... 18500
parsing... 19000
parsing... 19500
parsing... 20000
parsing... 20500
parsing... 21000
parsing... 21500
parsing... 22000
parsing... 22500
parsing... 23000
parsing... 23500
parsing... 24000
parsing... 24500
parsing... 25000
parsing... 25500
parsing... 26000
parsing... 26500
parsing... 27000
parsing... 27500
parsing... 28000
parsing... 28500
parsing... 29000
parsing... 29500
parsing... 30000
parsing... 30500
parsing... 31000
parsing... 31500
parsing... 32000
parsing... 32500
parsing... 33000
parsing... 33500
parsing... 34000
parsing... 34500
parsing... 35000
parsing... 35500
parsing... 36000
parsing... 36500
parsing... 37000
parsing... 37500
parsing... 38000
parsing... 38500
parsing... 39000
parsing... 39500
parsing... 40000
parsing... 40500
parsing... 41000
parsing... 41500
parsing... 42000
parsing... 42500
parsing... 43000
parsing... 43500
parsing... 44000
parsing... 44500
parsing... 45000
parsing... 45500
parsing... 46000
parsing... 46500
parsing... 47000
parsing... 47500
parsing... 48000
parsing... 48500
parsing... 49000
parsing... 49500
parsing... 50000
parsing... 50500
parsing... 51000
parsing... 51500
parsing... 52000
parsing... 52500
parsing... 53000
parsing... 53500
parsing... 54000
parsing... 54500
parsing... 55000
parsing... 55500
parsing... 56000
parsing... 56500
parsing... 57000
parsing... 57500
parsing... 58000
parsing... 58500
parsing... 59000
parsing... 59500
parsing... 60000
parsing... 60500
parsing... 61000
parsing... 61500
parsing... 62000
parsing... 62500
parsing... 63000
parsing... 63500
parsing... 64000
parsing... 64500
parsing... 65000
parsing... 65500
parsing... 66000
parsing... 66500
parsing... 67000
parsing... 67500
parsing... 68000
parsing... 68500
parsing... 69000
parsing... 69500
parsing... 70000
parsing... 70500
parsing... 71000
parsing... 71500
parsing... 72000
parsing... 72500
parsing... 73000
parsing... 73500
parsing... 74000
parsing... 74500
parsing... 75000

In [168]:
print(len(team_a))
print(len(team_b))

37651
37651

In [169]:
X_team_a = X.loc[team_a]
X_team_b = X.loc[team_b]

In [170]:
X_team_a.head()

,school_id,date_game,opp_id,0,1,2,3,4,5,6,...,43,44,45,46,47,48,49,W,prob1,orig_pred
0,James Madison,2011-02-26,Virginia Commonwealth,-1.126635,-0.315900,-0.732924,1.114919,4.413185,-2.859090,0.709293,...,-0.043985,-0.549453,1.005969,-0.614596,-0.547648,0.222794,-0.611651,1,0.339285,0
2,Detroit Mercy,2011-03-01,Loyola (IL),-4.309646,0.462461,-4.008595,-3.783444,1.136622,2.059967,1.488198,...,0.229844,0.701309,0.642304,-0.373530,0.652018,0.030005,0.721704,1,0.598441,1
4,Illinois State,2011-03-03,Southern Illinois,3.206396,-5.072742,-0.699457,0.307324,0.468525,-1.346195,2.464895,...,-0.353864,-0.819297,0.306177,0.120034,0.426111,-0.436024,-0.275414,0,0.424961,0
6,Belmont,2011-03-04,Mercer,-4.573900,4.045212,1.637228,5.285766,-5.217340,1.864890,-4.796025,...,-0.875938,-0.510293,0.324530,-0.480558,0.553419,-0.926061,-0.079848,1,0.854592,1
7,Cleveland State,2011-03-04,Wright State,-4.856683,-2.594846,0.701281,1.773014,-2.965519,0.624550,2.183951,...,0.042935,-0.082859,-0.215088,0.362639,-0.557945,-0.334266,-0.933414,1,0.607643,1

In [172]:
X_team_b.head()

,school_id,date_game,opp_id,0,1,2,3,4,5,6,...,43,44,45,46,47,48,49,W,prob1,orig_pred
1,Virginia Commonwealth,2011-02-26,James Madison,-1.602078,-0.714932,2.932586,-0.468730,0.988985,-0.492004,0.011567,...,0.265560,-0.246081,-0.424792,0.047127,0.417467,-0.100864,-0.225713,0,0.733492,1
3,Loyola (IL),2011-03-01,Detroit Mercy,2.631673,-0.637230,1.151751,-2.029922,1.445821,-0.139568,-1.141033,...,0.117277,0.191076,0.078192,0.119577,0.899368,-0.436771,-0.070236,0,0.424766,0
5,Southern Illinois,2011-03-03,Illinois State,1.792110,-6.424995,-0.760293,-1.635151,-0.490843,-1.128347,2.227399,...,0.207982,0.238657,-0.354454,-0.461278,0.031680,-0.609977,-0.109822,1,0.527602,1
12,Mercer,2011-03-04,Belmont,-4.762402,-5.471940,-3.072437,4.896280,-3.375397,1.722534,-2.797522,...,0.131848,0.532110,0.226264,0.077479,-0.296104,0.513045,-0.621028,0,0.160063,0
19,Wright State,2011-03-04,Cleveland State,1.511035,-4.620702,1.719798,4.319319,-1.353540,-0.016617,1.631460,...,0.614284,-0.491927,0.698683,0.002417,-0.347355,-0.057007,-0.813374,0,0.328176,0

In [173]:
prob_opp1 = []
for i in team_b:
    prob_opp1.append(X.loc[i, 'prob1'])

In [174]:
X_team_a['prob_opp1'] = prob_opp1

In [175]:
X_team_a.head()

,school_id,date_game,opp_id,0,1,2,3,4,5,6,...,44,45,46,47,48,49,W,prob1,orig_pred,prob_opp1
0,James Madison,2011-02-26,Virginia Commonwealth,-1.126635,-0.315900,-0.732924,1.114919,4.413185,-2.859090,0.709293,...,-0.549453,1.005969,-0.614596,-0.547648,0.222794,-0.611651,1,0.339285,0,0.733492
2,Detroit Mercy,2011-03-01,Loyola (IL),-4.309646,0.462461,-4.008595,-3.783444,1.136622,2.059967,1.488198,...,0.701309,0.642304,-0.373530,0.652018,0.030005,0.721704,1,0.598441,1,0.424766
4,Illinois State,2011-03-03,Southern Illinois,3.206396,-5.072742,-0.699457,0.307324,0.468525,-1.346195,2.464895,...,-0.819297,0.306177,0.120034,0.426111,-0.436024,-0.275414,0,0.424961,0,0.527602
6,Belmont,2011-03-04,Mercer,-4.573900,4.045212,1.637228,5.285766,-5.217340,1.864890,-4.796025,...,-0.510293,0.324530,-0.480558,0.553419,-0.926061,-0.079848,1,0.854592,1,0.160063
7,Cleveland State,2011-03-04,Wright State,-4.856683,-2.594846,0.701281,1.773014,-2.965519,0.624550,2.183951,...,-0.082859,-0.215088,0.362639,-0.557945,-0.334266,-0.933414,1,0.607643,1,0.328176

In [176]:
W_adj = []
for i in X_team_a.index:
    if X_team_a.loc[i, 'prob1'] > X_team_a.loc[i, 'prob_opp1']:
        W_adj.append(1)
    else:
        W_adj.append(0)

In [178]:
X_team_a['W_adj'] = W_adj

In [179]:
X_team_a.head()

,school_id,date_game,opp_id,0,1,2,3,4,5,6,...,45,46,47,48,49,W,prob1,orig_pred,prob_opp1,W_adj
0,James Madison,2011-02-26,Virginia Commonwealth,-1.126635,-0.315900,-0.732924,1.114919,4.413185,-2.859090,0.709293,...,1.005969,-0.614596,-0.547648,0.222794,-0.611651,1,0.339285,0,0.733492,0
2,Detroit Mercy,2011-03-01,Loyola (IL),-4.309646,0.462461,-4.008595,-3.783444,1.136622,2.059967,1.488198,...,0.642304,-0.373530,0.652018,0.030005,0.721704,1,0.598441,1,0.424766,1
4,Illinois State,2011-03-03,Southern Illinois,3.206396,-5.072742,-0.699457,0.307324,0.468525,-1.346195,2.464895,...,0.306177,0.120034,0.426111,-0.436024,-0.275414,0,0.424961,0,0.527602,0
6,Belmont,2011-03-04,Mercer,-4.573900,4.045212,1.637228,5.285766,-5.217340,1.864890,-4.796025,...,0.324530,-0.480558,0.553419,-0.926061,-0.079848,1,0.854592,1,0.160063,1
7,Cleveland State,2011-03-04,Wright State,-4.856683,-2.594846,0.701281,1.773014,-2.965519,0.624550,2.183951,...,-0.215088,0.362639,-0.557945,-0.334266,-0.933414,1,0.607643,1,0.328176,1

In [180]:
X_team_a.set_index(['school_id', 'date_game', 'opp_id'], inplace=True)

In [181]:
X_team_a['W'].sum()

18206

In [182]:
X_team_a['W_adj'].sum()

17995

In [183]:
print(classification_report(X_team_a['W'], X_team_a['orig_pred']))
pd.DataFrame(confusion_matrix(X_team_a['W'], X_team_a['orig_pred']), columns=['Pred -', 'Pred +'], index=['Act -', 'Act +'])

             precision    recall  f1-score   support

          0       0.72      0.73      0.73     19445
          1       0.71      0.70      0.71     18206

avg / total       0.72      0.72      0.72     37651

       Pred -  Pred +
Act -   14286    5159
Act +    5435   12771

In [184]:
print(classification_report(X_team_a['W'], X_team_a['W_adj']))
pd.DataFrame(confusion_matrix(X_team_a['W'], X_team_a['W_adj']), columns=['Pred -', 'Pred +'], index=['Act -', 'Act +'])

             precision    recall  f1-score   support

          0       0.73      0.74      0.73     19445
          1       0.72      0.71      0.71     18206

avg / total       0.72      0.72      0.72     37651

       Pred -  Pred +
Act -   14321    5124
Act +    5335   12871

## March Madness!

In [185]:
page1 = pd.read_csv('../data/marchmadness_2018/scores_pg1.csv', sep='\t')
page2 = pd.read_csv('../data/marchmadness_2018/scores_pg2.csv', sep='\t')

In [186]:
page1.reset_index(inplace=True)

In [187]:
print(page1.shape)
print(page2.shape)

(100, 12)
(35, 12)

In [188]:
page1.columns = ['rank', 'year', 'date', 'region', 'round', 'school_id', 'pts', 'opp_id',
                'opp_pts', 'ot', 'pts_df', 'location']

page2.columns = ['rank', 'year', 'date', 'region', 'round', 'school_id', 'pts', 'opp_id',
                'opp_pts', 'ot', 'pts_df', 'location']

In [189]:
page2.drop(20, inplace=True)

In [190]:
mm_2018 = pd.concat([page1, page2], ignore_index=True)

In [191]:
mm_2018.reset_index(drop=True, inplace=True)

In [192]:
schools_list = []
opp_list = []
school_wins = []

remove_digits = str.maketrans('', '', digits)
for i in mm_2018.index:
    school_dirty = mm_2018['school_id'][i]
    school_clean = school_dirty.translate(remove_digits).lstrip()
    
    opp_dirty = mm_2018['opp_id'][i]
    opp_clean = opp_dirty.translate(remove_digits).lstrip()
    
    schools_list.append(school_clean)
    opp_list.append(opp_clean)
    
    if mm_2018['pts'][i] > mm_2018['opp_pts'][i]:
        school_wins.append(1)
    else:
        school_wins.append(0)

In [193]:
print(len(schools_list))
print(len(opp_list))
print(len(school_wins))

134
134
134

In [194]:
mm_2018['school_id'] = schools_list
mm_2018['opp_id'] = opp_list
mm_2018['W'] = school_wins

In [195]:
mm_2018.head()

,rank,year,date,region,round,school_id,pts,opp_id,opp_pts,ot,pts_df,location,W
0,1,2018,"April 2, 2018",National,National Final,Villanova,79,Michigan,62,NaN,17,"San Antonio, TX",1
1,2,2018,"April 2, 2018",National,National Final,Michigan,62,Villanova,79,NaN,-17,"San Antonio, TX",0
2,3,2018,"March 31, 2018",National,National Semifinal,Villanova,95,Kansas,79,NaN,16,"San Antonio, TX",1
3,4,2018,"March 31, 2018",National,National Semifinal,Michigan,69,Loyola (IL),57,NaN,12,"San Antonio, TX",1
4,5,2018,"March 31, 2018",National,National Semifinal,Loyola (IL),57,Michigan,69,NaN,-12,"San Antonio, TX",0

In [205]:
notin_list = []
for team in mm_2018['school_id']:
    if team not in df['school_id'].unique():
        notin_list.append(team)

In [206]:
notin_list

[]

In [207]:
mm_2018['rank'] = mm_2018['rank'].apply(lambda x: int(x))
mm_2018.sort_values('rank', inplace=True, ascending=False)
mm_2018.reset_index(drop=True, inplace=True)

In [209]:
mm_2018['date'] = pd.to_datetime(mm_2018['date'])

In [210]:
mm_2018.dtypes

rank                  int64
year                 object
date         datetime64[ns]
region               object
round                object
school_id            object
pts                  object
opp_id               object
opp_pts              object
ot                   object
pts_df               object
location             object
W                     int64
dtype: object

In [211]:
joined.head()

                                        ewm03fg2  ewm03fg2a   ewm03fg3  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida  14.449124  32.502785   6.527332
           2011-11-22 Tennessee Tech   15.724562  33.751393   7.263666
           2011-11-26 Citadel          15.362281  35.875696   7.131833
           2011-11-29 Hampton          17.681140  39.937848   7.065916
           2011-12-03 Campbell         12.840570  34.468924  10.032958

                                       ewm03fg3a    ewm03ft   ewm03fta  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida  17.261717  10.273871  14.045750
           2011-11-22 Tennessee Tech   18.130859  12.136936  18.022875
           2011-11-26 Citadel          20.565429   9.068468  15.011437
           2011-11-29 Hampton          17.782715  14.034234  23.005719
           2011-12-03 Campbell         23.891357  11.517117  19.502859

                                        ewm03orb   ewm03drb   ewm03ast  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida   6.731944  20.382396   8.311464
           2011-11-22 Tennessee Tech    5.865972  20.691198  11.655732
           2011-11-26 Citadel           8.932986  19.845599  14.327866
           2011-11-29 Hampton          10.466493  25.922800  13.663933
           2011-12-03 Campbell         12.733246  20.961400  11.831967

                                       ewm03stl     ...      \
school_id  date_game  opp_id                        ...
High Point 2011-11-18 Central Florida  4.645682     ...
           2011-11-22 Tennessee Tech   4.322841     ...
           2011-11-26 Citadel          5.661420     ...
           2011-11-29 Hampton          7.330710     ...
           2011-12-03 Campbell         5.665355     ...

                                       rm30drbrm30heldto_drb  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida              -0.100000
           2011-11-22 Tennessee Tech                0.633333
           2011-11-26 Citadel                      -0.900000
           2011-11-29 Hampton                      -3.966667
           2011-12-03 Campbell                     -0.100000

                                       rm30astrm30heldto_ast  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida              -1.866667
           2011-11-22 Tennessee Tech               -2.733333
           2011-11-26 Citadel                      -2.633333
           2011-11-29 Hampton                       0.700000
           2011-12-03 Campbell                     -2.300000

                                       rm30stlrm30heldto_stl  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida              -0.100000
           2011-11-22 Tennessee Tech                0.233333
           2011-11-26 Citadel                       0.866667
           2011-11-29 Hampton                       1.733333
           2011-12-03 Campbell                     -0.266667

                                       rm30blkrm30heldto_blk  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida              -0.800000
           2011-11-22 Tennessee Tech               -0.433333
           2011-11-26 Citadel                      -0.900000
           2011-11-29 Hampton                      -0.033333
           2011-12-03 Campbell                     -1.400000

                                       rm30tovrm30heldto_tov  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida               2.800000
           2011-11-22 Tennessee Tech               -0.433333
           2011-11-26 Citadel                       4.833333
           2011-11-29 Hampton                       0.166667
           2011-12-03 Campbell                      1.166667

                                       rm30pfrm30heldto_pf  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida             2.066667
           2011-11-22 Tennessee Tech              0.766667
           2011-11-26 Citadel                     4.166667
           2011-11-29 Hampton                    -0.233333
           2011-12-03 Campbell                   -0.133333

                                       rm30ptsrm30heldto_pts  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida               0.100000
           2011-11-22 Tennessee Tech               -6.433333
           2011-11-26 Citadel                      -6.633333
           2011-11-29 Hampton                      -0.100000
           2011-12-03 Campbell                     -3.733333

                                       rm30game_scorerm30heldto_game_score  \
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida                            -5.940000
           2011-11-22 Tennessee Tech                             -7.926667
           2011-11-26 Citadel                                   -15.220000
           2011-11-29 Hampton                                     1.423333
           2011-12-03 Campbell                                   -9.020000

                                       SOSopp_SOS  SRSopp_SRS
school_id  date_game  opp_id
High Point 2011-11-18 Central Florida       -6.44      -19.07
           2011-11-22 Tennessee Tech         1.30       -7.18
           2011-11-26 Citadel               -1.63       -2.98
           2011-11-29 Hampton                4.30       -7.62
           2011-12-03 Campbell              -0.20       -6.15

[5 rows x 195 columns]

In [323]:
yourteam_ewm_df.head()

,date_game,ewm03heldto_fg2,ewm03heldto_fg2a,ewm03heldto_fg3,ewm03heldto_fg3a,ewm03heldto_ft,ewm03heldto_fta,ewm03heldto_orb,ewm03heldto_drb,ewm03heldto_ast,...,rm30heldto_ast,rm30heldto_stl,rm30heldto_blk,rm30heldto_tov,rm30heldto_pf,rm30heldto_pts,rm30heldto_game_score,rm30heldto_W,heldto_opp_id,heldto_school_id
0,2010-11-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Old Dominion
1,2010-11-23,19.000000,36.000000,7.000000,19.000000,20.000000,34.000000,17.000000,27.000000,19.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Citadel
2,2010-11-28,18.333333,40.000000,5.666667,17.000000,20.000000,31.333333,15.666667,26.333333,17.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Hampton
3,2010-12-02,16.428571,39.428571,4.714286,13.571429,24.571429,35.142857,10.714286,26.714286,11.285714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,Gardner-Webb
4,2010-12-04,18.866667,38.666667,2.200000,14.333333,23.200000,34.533333,11.933333,26.333333,6.866667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,High Point,North Carolina-Asheville

In [324]:
yourteam_ewm_df.set_index(['heldto_opp_id', 'date_game', 'heldto_school_id'], inplace=True)
yourteam_ewm_df.head()

                                                   ewm03heldto_fg2  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                          NaN
              2010-11-23 Citadel                         19.000000
              2010-11-28 Hampton                         18.333333
              2010-12-02 Gardner-Webb                    16.428571
              2010-12-04 North Carolina-Asheville        18.866667

                                                   ewm03heldto_fg2a  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                           NaN
              2010-11-23 Citadel                          36.000000
              2010-11-28 Hampton                          40.000000
              2010-12-02 Gardner-Webb                     39.428571
              2010-12-04 North Carolina-Asheville         38.666667

                                                   ewm03heldto_fg3  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                          NaN
              2010-11-23 Citadel                          7.000000
              2010-11-28 Hampton                          5.666667
              2010-12-02 Gardner-Webb                     4.714286
              2010-12-04 North Carolina-Asheville         2.200000

                                                   ewm03heldto_fg3a  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                           NaN
              2010-11-23 Citadel                          19.000000
              2010-11-28 Hampton                          17.000000
              2010-12-02 Gardner-Webb                     13.571429
              2010-12-04 North Carolina-Asheville         14.333333

                                                   ewm03heldto_ft  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                         NaN
              2010-11-23 Citadel                        20.000000
              2010-11-28 Hampton                        20.000000
              2010-12-02 Gardner-Webb                   24.571429
              2010-12-04 North Carolina-Asheville       23.200000

                                                   ewm03heldto_fta  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                          NaN
              2010-11-23 Citadel                         34.000000
              2010-11-28 Hampton                         31.333333
              2010-12-02 Gardner-Webb                    35.142857
              2010-12-04 North Carolina-Asheville        34.533333

                                                   ewm03heldto_orb  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                          NaN
              2010-11-23 Citadel                         17.000000
              2010-11-28 Hampton                         15.666667
              2010-12-02 Gardner-Webb                    10.714286
              2010-12-04 North Carolina-Asheville        11.933333

                                                   ewm03heldto_drb  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                          NaN
              2010-11-23 Citadel                         27.000000
              2010-11-28 Hampton                         26.333333
              2010-12-02 Gardner-Webb                    26.714286
              2010-12-04 North Carolina-Asheville        26.333333

                                                   ewm03heldto_ast  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                          NaN
              2010-11-23 Citadel                         19.000000
              2010-11-28 Hampton                         17.000000
              2010-12-02 Gardner-Webb                    11.285714
              2010-12-04 North Carolina-Asheville         6.866667

                                                   ewm03heldto_stl  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                          NaN
              2010-11-23 Citadel                         14.000000
              2010-11-28 Hampton                          6.666667
              2010-12-02 Gardner-Webb                     5.142857
              2010-12-04 North Carolina-Asheville         6.133333

                                                       ...       \
heldto_opp_id date_game  heldto_school_id              ...
High Point    2010-11-15 Old Dominion                  ...
              2010-11-23 Citadel                       ...
              2010-11-28 Hampton                       ...
              2010-12-02 Gardner-Webb                  ...
              2010-12-04 North Carolina-Asheville      ...

                                                   rm30heldto_orb  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                         NaN
              2010-11-23 Citadel                              NaN
              2010-11-28 Hampton                              NaN
              2010-12-02 Gardner-Webb                         NaN
              2010-12-04 North Carolina-Asheville             NaN

                                                   rm30heldto_drb  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                         NaN
              2010-11-23 Citadel                              NaN
              2010-11-28 Hampton                              NaN
              2010-12-02 Gardner-Webb                         NaN
              2010-12-04 North Carolina-Asheville             NaN

                                                   rm30heldto_ast  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                         NaN
              2010-11-23 Citadel                              NaN
              2010-11-28 Hampton                              NaN
              2010-12-02 Gardner-Webb                         NaN
              2010-12-04 North Carolina-Asheville             NaN

                                                   rm30heldto_stl  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                         NaN
              2010-11-23 Citadel                              NaN
              2010-11-28 Hampton                              NaN
              2010-12-02 Gardner-Webb                         NaN
              2010-12-04 North Carolina-Asheville             NaN

                                                   rm30heldto_blk  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                         NaN
              2010-11-23 Citadel                              NaN
              2010-11-28 Hampton                              NaN
              2010-12-02 Gardner-Webb                         NaN
              2010-12-04 North Carolina-Asheville             NaN

                                                   rm30heldto_tov  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                         NaN
              2010-11-23 Citadel                              NaN
              2010-11-28 Hampton                              NaN
              2010-12-02 Gardner-Webb                         NaN
              2010-12-04 North Carolina-Asheville             NaN

                                                   rm30heldto_pf  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                        NaN
              2010-11-23 Citadel                             NaN
              2010-11-28 Hampton                             NaN
              2010-12-02 Gardner-Webb                        NaN
              2010-12-04 North Carolina-Asheville            NaN

                                                   rm30heldto_pts  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                         NaN
              2010-11-23 Citadel                              NaN
              2010-11-28 Hampton                              NaN
              2010-12-02 Gardner-Webb                         NaN
              2010-12-04 North Carolina-Asheville             NaN

                                                   rm30heldto_game_score  \
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                                NaN
              2010-11-23 Citadel                                     NaN
              2010-11-28 Hampton                                     NaN
              2010-12-02 Gardner-Webb                                NaN
              2010-12-04 North Carolina-Asheville                    NaN

                                                   rm30heldto_W
heldto_opp_id date_game  heldto_school_id
High Point    2010-11-15 Old Dominion                       NaN
              2010-11-23 Citadel                            NaN
              2010-11-28 Hampton                            NaN
              2010-12-02 Gardner-Webb                       NaN
              2010-12-04 North Carolina-Asheville           NaN

[5 rows x 64 columns]

In [325]:
yourteam_ewm_df.shape

(87171, 64)

In [361]:
def row_maker(school, opp):
    school_max_date = joined.loc[school].index.max()[0]
    opp_max_date = joined.loc[opp].index.max()[0]
    last_school_opp_played = joined.loc[opp, opp_max_date].index[0]
    
    row = pd.concat([joined.loc[school, school_max_date][joined.columns[0:64]].reset_index(drop=True),
                     yourteam_ewm_df.loc[opp, opp_max_date][joined.columns[64:128]].reset_index(drop=True),
                     joined.loc[school, school_max_date][joined.columns[129:131]].reset_index(drop=True),
                     joined.loc[last_school_opp_played, opp_max_date][joined.columns[131:133]].reset_index(drop=True).rename(columns={'SRS':'opp_SRS', 'SOS':'opp_SOS'})], 
                    axis=1)
    
    return(row)

In [363]:
row_maker('Villanova', 'Gonzaga').shape

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:7: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:9: PerformanceWarning: indexing past lexsort depth may impact performance.

(1, 132)

In [453]:
first4_indices = np.arange(0, 8, 1)
firstround_indices = np.arange(8, 72, 1)
secondround_indices = np.arange(72, 104, 1)
sweet16_indices = np.arange(104, 120, 1)
regional_indices = np.arange(120, 128, 1)
final4_indices = np.arange(128, 132, 1)
final_indices = np.arange(132, 134, 1)

## First 4

In [454]:
# Predictions of 'First 4' Round
temp_df = pd.DataFrame(columns=joined.columns.drop('W'))

for i in first4_indices:
    temp_df = temp_df.append(row_maker(mm_2018['school_id'][i], mm_2018['opp_id'][i]))
    temp_df.reset_index(drop=True, inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:7: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:9: PerformanceWarning: indexing past lexsort depth may impact performance.

In [455]:
temp_df = pca.transform(temp_df)
temp_df = pd.DataFrame(temp_df, columns = np.arange(0,50), index=mm_2018['school_id'][first4_indices])

In [456]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
school_id,,,,,,,,,,,,,,,,,,,,,
Long Island University,9.540127,241.171095,-36.459663,22.602504,-10.470830,64.245706,-44.876218,-11.743921,-60.719648,-0.056785,...,-8.429311,-1.013363,-5.856958,-12.958628,3.585506,8.333517,-7.469275,7.940514,-3.762565,-4.209224
Radford,50.857581,243.047903,-40.136786,39.219900,10.041820,57.303718,-36.892919,-26.522902,-57.621585,-13.013492,...,-9.475974,-1.129156,-5.103476,-13.399744,3.910504,6.094585,-4.982698,7.363737,-7.310075,-3.527716
St. Bonaventure,29.908289,287.566449,-39.272487,20.986849,-4.654294,68.352169,-32.831351,-22.561408,-58.808890,-16.913940,...,-10.184357,0.602011,-7.370795,-21.746550,-5.755606,7.720282,-8.748425,8.503292,-10.654689,-4.726860
UCLA,34.830110,276.652273,-27.847480,31.723937,-7.626652,53.760068,-44.773539,-31.627099,-65.048351,-8.863110,...,-7.399744,-3.543497,-6.143728,-18.145617,2.403135,7.618834,-3.792212,9.792928,-8.665316,-3.679824
Arizona State,-1.922230,246.725978,-31.704830,21.403800,-10.733528,62.944306,-39.747360,-13.149720,-48.969001,-9.376549,...,-9.159078,9.430197,-6.070990,-12.066518,0.625027,8.058898,-6.074781,6.768249,-0.736427,-5.667515
North Carolina Central,50.453110,262.663933,-51.633619,32.812932,21.500071,59.156246,-46.893089,-21.353568,-75.697525,-8.830596,...,-8.777475,-2.638728,-4.562545,-17.880203,-0.267073,6.301482,-3.685994,4.742119,-7.299570,-4.782469
Syracuse,60.804143,219.127619,-41.451305,32.644423,10.464009,40.066680,-31.324162,-47.071900,-48.500300,-14.544136,...,-6.336952,-3.779872,-4.816709,-6.666391,1.959645,5.999221,0.713604,2.450910,-0.409327,-1.371444
Texas Southern,29.838455,269.683330,-44.237627,28.663489,-4.521232,64.129840,-31.661811,-12.539519,-62.679467,-13.328357,...,-14.637477,0.268622,-5.312119,-13.429717,2.781479,7.628475,-7.585283,8.380859,-8.254904,-2.872846

In [457]:
temp_df['W'] = mm_2018['W'][first4_indices].values

In [459]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,W
school_id,,,,,,,,,,,,,,,,,,,,,
Long Island University,9.540127,241.171095,-36.459663,22.602504,-10.470830,64.245706,-44.876218,-11.743921,-60.719648,-0.056785,...,-1.013363,-5.856958,-12.958628,3.585506,8.333517,-7.469275,7.940514,-3.762565,-4.209224,0
Radford,50.857581,243.047903,-40.136786,39.219900,10.041820,57.303718,-36.892919,-26.522902,-57.621585,-13.013492,...,-1.129156,-5.103476,-13.399744,3.910504,6.094585,-4.982698,7.363737,-7.310075,-3.527716,1
St. Bonaventure,29.908289,287.566449,-39.272487,20.986849,-4.654294,68.352169,-32.831351,-22.561408,-58.808890,-16.913940,...,0.602011,-7.370795,-21.746550,-5.755606,7.720282,-8.748425,8.503292,-10.654689,-4.726860,1
UCLA,34.830110,276.652273,-27.847480,31.723937,-7.626652,53.760068,-44.773539,-31.627099,-65.048351,-8.863110,...,-3.543497,-6.143728,-18.145617,2.403135,7.618834,-3.792212,9.792928,-8.665316,-3.679824,0
Arizona State,-1.922230,246.725978,-31.704830,21.403800,-10.733528,62.944306,-39.747360,-13.149720,-48.969001,-9.376549,...,9.430197,-6.070990,-12.066518,0.625027,8.058898,-6.074781,6.768249,-0.736427,-5.667515,0
North Carolina Central,50.453110,262.663933,-51.633619,32.812932,21.500071,59.156246,-46.893089,-21.353568,-75.697525,-8.830596,...,-2.638728,-4.562545,-17.880203,-0.267073,6.301482,-3.685994,4.742119,-7.299570,-4.782469,0
Syracuse,60.804143,219.127619,-41.451305,32.644423,10.464009,40.066680,-31.324162,-47.071900,-48.500300,-14.544136,...,-3.779872,-4.816709,-6.666391,1.959645,5.999221,0.713604,2.450910,-0.409327,-1.371444,1
Texas Southern,29.838455,269.683330,-44.237627,28.663489,-4.521232,64.129840,-31.661811,-12.539519,-62.679467,-13.328357,...,0.268622,-5.312119,-13.429717,2.781479,7.628475,-7.585283,8.380859,-8.254904,-2.872846,1

In [460]:
temp_df['pred'] = logreg.predict(temp_df.drop('W', axis=1))

In [462]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,W,pred
school_id,,,,,,,,,,,,,,,,,,,,,
Long Island University,9.540127,241.171095,-36.459663,22.602504,-10.470830,64.245706,-44.876218,-11.743921,-60.719648,-0.056785,...,-5.856958,-12.958628,3.585506,8.333517,-7.469275,7.940514,-3.762565,-4.209224,0,0
Radford,50.857581,243.047903,-40.136786,39.219900,10.041820,57.303718,-36.892919,-26.522902,-57.621585,-13.013492,...,-5.103476,-13.399744,3.910504,6.094585,-4.982698,7.363737,-7.310075,-3.527716,1,1
St. Bonaventure,29.908289,287.566449,-39.272487,20.986849,-4.654294,68.352169,-32.831351,-22.561408,-58.808890,-16.913940,...,-7.370795,-21.746550,-5.755606,7.720282,-8.748425,8.503292,-10.654689,-4.726860,1,0
UCLA,34.830110,276.652273,-27.847480,31.723937,-7.626652,53.760068,-44.773539,-31.627099,-65.048351,-8.863110,...,-6.143728,-18.145617,2.403135,7.618834,-3.792212,9.792928,-8.665316,-3.679824,0,1
Arizona State,-1.922230,246.725978,-31.704830,21.403800,-10.733528,62.944306,-39.747360,-13.149720,-48.969001,-9.376549,...,-6.070990,-12.066518,0.625027,8.058898,-6.074781,6.768249,-0.736427,-5.667515,0,1
North Carolina Central,50.453110,262.663933,-51.633619,32.812932,21.500071,59.156246,-46.893089,-21.353568,-75.697525,-8.830596,...,-4.562545,-17.880203,-0.267073,6.301482,-3.685994,4.742119,-7.299570,-4.782469,0,0
Syracuse,60.804143,219.127619,-41.451305,32.644423,10.464009,40.066680,-31.324162,-47.071900,-48.500300,-14.544136,...,-4.816709,-6.666391,1.959645,5.999221,0.713604,2.450910,-0.409327,-1.371444,1,0
Texas Southern,29.838455,269.683330,-44.237627,28.663489,-4.521232,64.129840,-31.661811,-12.539519,-62.679467,-13.328357,...,-5.312119,-13.429717,2.781479,7.628475,-7.585283,8.380859,-8.254904,-2.872846,1,1

# Round of 64

In [481]:
# Predictions of Round of 64
temp_df = pd.DataFrame(columns=joined.columns.drop('W'))

for i in firstround_indices:
    temp_df = temp_df.append(row_maker(mm_2018['school_id'][i], mm_2018['opp_id'][i]))
    temp_df.reset_index(drop=True, inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:7: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:9: PerformanceWarning: indexing past lexsort depth may impact performance.

In [482]:
temp_df = pca.transform(temp_df)
temp_df = pd.DataFrame(temp_df, columns = np.arange(0,50))

In [487]:
temp_df['school_id'] = mm_2018['school_id'][firstround_indices].values
temp_df['opp_id'] = mm_2018['opp_id'][firstround_indices].values

In [488]:
temp_df['W'] = mm_2018['W'][firstround_indices].values

In [490]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,school_id,opp_id,W
0,33.598022,245.350623,-38.389682,10.363170,-3.723563,55.159348,-38.368237,-30.748003,-51.478447,-3.982511,...,-14.788960,0.083271,5.500812,0.031697,3.093240,-2.192344,-2.572244,Alabama,Virginia Tech,1
1,27.786856,276.675822,-48.530684,30.255525,3.346603,49.772580,-38.946294,-26.380955,-67.998022,-12.386208,...,-15.571664,1.774205,7.551549,-10.551544,10.160955,-3.883171,-3.551728,Arizona,Buffalo,0
2,16.046644,280.148698,-37.322316,34.660246,4.466834,63.569757,-45.047400,-19.178693,-67.897782,-14.428414,...,-16.418540,-1.948364,8.187659,-13.363620,10.516425,-6.880219,-4.003940,Buffalo,Arizona,1
3,20.873416,272.122624,-17.747289,36.160316,-1.855437,59.184644,-43.962470,-29.796052,-59.123863,-12.781176,...,-18.203125,1.974573,5.367349,-13.825429,15.097246,-9.242317,-6.447683,Davidson,Kentucky,0
4,23.612909,267.853284,-36.275817,32.671254,12.561662,53.492959,-43.387755,-22.304488,-59.350779,-3.673833,...,-11.622888,3.104884,13.351715,-6.759811,10.877258,-1.566276,-5.478227,Duke,Iona,1
5,42.257265,262.349375,-32.534600,28.238489,-2.924802,45.341052,-42.078248,-34.861275,-60.214260,-17.241359,...,-20.067400,4.590065,5.036065,-2.520781,5.899493,-8.280858,-1.230133,Florida,St. Bonaventure,1
6,10.501977,228.039146,-25.277054,25.312086,-8.708946,41.862111,-39.364771,-18.296676,-53.571191,-3.265383,...,-6.722245,3.232300,9.046216,-7.383903,11.646085,3.337549,-2.715161,Gonzaga,North Carolina-Greensboro,1
7,15.327976,258.049299,-25.903061,28.080496,-8.933283,52.182516,-55.332472,-19.587852,-65.811553,-6.511329,...,-13.719305,3.326284,7.749321,-10.523000,9.339177,-4.005565,-7.390532,Houston,San Diego State,1
8,17.723289,238.299003,-29.679412,26.222909,8.241416,59.952865,-41.006155,-26.459420,-52.812561,-10.423449,...,-9.668124,5.053606,5.733318,-5.793857,12.309139,-2.297132,-0.558374,Iona,Duke,0
9,16.310095,268.360310,-29.466264,43.767863,8.213099,45.124887,-44.753045,-15.907371,-67.886048,-8.260722,...,-17.086880,1.478983,4.636068,-9.980502,12.881775,-5.424235,-3.812769,Kansas,Pennsylvania,1
10,16.867358,279.851248,-50.617516,14.441254,-7.870698,55.639471,-31.762002,-24.760919,-63.869912,-17.148414,...,-25.727942,-0.015911,5.056529,-11.292040,9.124253,-9.680514,-1.585296,Kentucky,Davidson,1
11,40.755630,252.006954,-26.617581,27.442095,13.399224,43.254580,-38.386263,-21.567573,-59.719692,-14.434517,...,-14.425596,-9.039275,7.281690,-4.417564,9.354713,-6.184485,-4.559559,Loyola (IL),Miami (FL),1
12,8.411144,238.545992,-31.966037,27.087030,2.134447,50.539372,-48.630748,-14.274408,-60.828888,-7.697773,...,-12.882497,6.196844,6.105819,-6.652404,5.807179,-5.694433,-5.509400,Miami (FL),Loyola (IL),0
13,16.613113,249.165192,-32.070636,48.397996,-3.805142,54.024333,-36.794606,-25.388057,-58.566526,-8.331701,...,-12.240274,8.026575,8.314211,-9.540410,10.824070,-6.076372,-1.945278,Michigan,Montana,1
14,4.648118,251.669442,-54.929816,28.590731,5.579180,57.586228,-45.679703,-19.634557,-72.915926,-13.617644,...,-15.478580,5.689930,6.329516,-11.961977,11.250488,-6.722539,-1.942000,Montana,Michigan,0
15,13.854607,218.843797,-26.437940,29.319093,2.034877,51.150793,-48.517165,-19.599844,-60.088283,-2.720027,...,-5.836699,6.160789,7.517691,-7.322043,12.031527,-0.415024,-4.909305,North Carolina-Greensboro,Gonzaga,0
16,27.901724,274.831701,-38.953851,25.045321,9.225288,53.017703,-48.830194,-22.031499,-68.235514,-19.028625,...,-14.312572,0.787386,9.852912,-6.154875,7.776546,-7.644010,-3.746645,North Carolina State,Seton Hall,0
17,6.160420,243.085502,-38.272954,18.805315,9.424886,50.244432,-45.687668,-14.514735,-69.075355,-5.149986,...,-10.412914,4.180098,10.615022,-6.416522,6.639961,1.147448,-6.849207,Ohio State,South Dakota State,1
18,23.536965,262.659582,-42.361495,42.618138,-0.865750,53.157765,-40.306214,-20.479567,-65.969918,-6.196141,...,-19.621891,1.024247,7.687938,0.438678,4.288986,-8.116776,-4.422728,Oklahoma,Rhode Island,0
19,26.618139,256.543711,-24.977555,27.324525,12.652729,61.653910,-44.920142,-26.112292,-58.621267,-10.692640,...,-15.615258,-0.501053,5.948778,-9.694033,8.574079,-5.564615,-2.699950,Pennsylvania,Kansas,0
20,41.494658,240.546727,-33.794723,28.150014,12.856247,57.355238,-36.591448,-31.008791,-57.073307,-13.339708,...,-14.376452,2.232423,7.432825,-8.007811,8.170547,-9.379367,-2.364001,Radford,Villanova,0
21,43.575138,271.971968,-47.328729,29.837292,21.045765,52.897242,-47.789302,-24.676286,-67.803565,-18.403285,...,-11.414972,-0.847343,12.645370,-2.400972,3.267972,-6.198687,-5.604564,Rhode Island,Oklahoma,1
22,10.085887,244.885731,-38.299846,36.476384,-8.000189,50.858154,-40.792971,-18.689603,-62.391129,-10.852154,...,-13.985908,6.606012,4.084373,-6.422556,10.663265,-6.576393,-4.603846,San Diego State,Houston,0
23,29.835144,272.183252,-48.299131,38.539827,20.402216,56.627506,-40.785083,-22.902349,-66.698325,-9.356811,...,-14.069777,0.143802,7.654188,-2.692659,7.844022,-7.954197,-4.477066,Seton Hall,North Carolina State,1
24,26.011441,245.483731,-26.485432,33.839269,8.275195,55.556473,-30.814320,-26.850439,-57.553660,-7.808867,...,-10.908070,-1.416823,6.051103,-3.641160,9.251443,-4.486057,-0.943638,South Dakota State,Ohio State,0
25,4.128089,264.160873,-44.012669,38.899236,-3.381256,71.261398,-38.741080,-20.385071,-59.954898,-7.303029,...,-19.041656,3.596161,6.545604,-12.016163,10.905791,-7.544607,-5.470825,St. Bonaventure,Florida,0
26,21.267622,260.138866,-44.522543,32.642536,-11.199923,60.106969,-41.855203,-21.743979,-60.251816,-17.722076,...,-13.753985,-6.089418,6.225191,-9.208098,12.790450,-8.332657,-1.216094,Stephen F. Austin,Texas Tech,0
27,9.619205,236.126803,-40.539096,25.933412,-7.050136,51.177078,-41.347708,-21.577302,-58.381455,-5.307677,...,-11.128730,7.743655,7.317839,-4.711386,6.197844,-2.312941,-5.929987,Tennessee,Wright State,1
28,23.022780,245.856055,-43.932445,34.181410,-13.529445,53.860253,-46.254700,-28.237624,-54.114725,-8.115241,...,-11.341305,10.799087,5.878144,-5.512739,5.753608,-3.343082,-1.369894,Texas Tech,Stephen F. Austin,1
29,-2.468391,256.282179,-14.547911,32.131379,-5.575615,53.529026,-49.018059,-10.689550,-57.440312,-1.042383,...,-12.832802,6.642987,12.025639,-5.685081,12.634165,-5.427782,-7.620542,Villanova,Radford,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,9.247859,247.552210,-34.997810,32.647703,6.645450,68.934317,-32.403126,-26.905972,-53.495439,-9.142303,...,-10.284238,2.896763,6.303386,-12.580847,12.798469,-1.809370,0.467556,Bucknell,Michigan State,0
35,36.754307,270.397604,-34.373816,36.039749,-8.228027,43.106726,-49.266696,-26.381230,-71.347388,-17.056794,...,-14.880932,0.521676,8.392175,-1.095252,7.123927,-8.594701,-7.049437,Butler,Arkansas,1
36,11.124398,259.690260,-52.297050,25.681928,12.321070,59.468026,-40.873831,-21.991826,-66.959683,-17.015270,...,-19.882710,-0.256171,5.806230,-13.822789,11.717236,-8.849849,-3.296954,Cal State Fullerton,Purdue,0
37,30.794095,274.136711,-38.035918,22.304743,-11.341491,39.976524,-42.792401,-18.987713,-59.902597,-14.650703,...,-18.363470,-3.288143,6.222104,-9.626535,9.815255,-7.181950,-3.065342,Cincinnati,Georgia State,1
38,15.435164,238.603770,-29.077245,32.405517,-3.946970,55.213823,-38.488798,-27.156783,-56.895347,-4.036868,...,-13.803957,11.979648,3.636026,-5.945713,9.131422,-7.728590,-3.068499,Clemson,New Mexico State,1
39,62.350185,231.063667,-32.157456,29.627338,7.297190,36.871088,-28.308597,-40.238554,-54.343324,-20.538698,...,-9.036374,-7.627223,10.417492,-3.557479,7.160599,-0.705753,0.298059,College of Charleston,Auburn,0
40,19.424078,267.274856,-18.986544,40.167526,0.343220,46.319277,-46.050271,-17.213118,-62.396659,-7.068279,...,-18.787904,-2.909850,8.298833,-7.853589,10.360482,-9.258001,-4.421226,Creighton,Kansas State,0
41,21.212345,267.057444,-40.574477,25.207451,3.600777,59.555094,-39.559666,-25.876993,-59.236965,-12.072937,...,-16.322421,-0.935310,7.698341,-5.117786,7.575166,-6.450962,-2.023261,Florida State,Missouri,1
42,2.715267,229.734112,-25.442958,33.371566,-2.897472,58.241718,-52.605466,-21.676893,-57.949242,-2.165551,...,-7.190416,8.303969,1.025130,-6.956342,13.101739,-7.648313,-2.951707,Georgia State,Cincinnati,0
43,41.728280,252.069262,-38.396138,15.396699,21.617810,53.082940,-42.885683,-26.952877,-60.743697,-14.140539,...,-13.952193,1.495842,8.857112,-2.219212,6.614926,-5.528796,-4.539111,Kansas State,Creighton,1
44,30.876222,280.028635,-32.409619,25.043631,6.557292,64.303821,-43.944064,-19.355175,-61.949658,-13.025527,...,-16.357261,-8.754614,9.902815,-7.916487,8.273933,-8.190175,-5.418427,Lipscomb,North Carolina,0
45,21.182751,272.173588,-16.199276,32.945745,-7.128625,54.134459,-48.163991,-20.330368,-66.404275,-9.248749,...,-15.876297,-3.284679,8.015251,-7.743486,10.313266,-7.874487,-5.978255,Marshall,Wichita State,1
46,-2.512067,225.778435,-26.088141,27.211490,-6.459464,54.363101,-45.363371,-12.561877,-60.063869,-4.138916,...,-17.619232,3.792974,2.468259,-9.370188,9.671570,-7.401772,-2.114568,Maryland-Baltimore County,Virginia,1
47,9.332467,254.826334,-39.840698,42.800811,10.828196,52.727902,-42.641812,-29.447424,-62.263622,-1.232760,...,-12.007033,10.485429,8.317220,-10.285495,15.731357,-1.485195,-4.468903,Michigan State,Bucknell,1
48,41.432848,256.633838,-23.973788,31.792926,-0.508518,58.427111,-37.959524,-34.771770,-55.822152,-7.988943,...,-13.841164,0.796070,8.442233,-6.494987,5.970896,-6.502041,-2.582576,Missouri,Florida State,0
49,26.211359,256.095586,-37.997934,39.088742,-10.776337,54.468055,-37.402008,-28.621436,-58.816177,-11.413769,...,-15.118655,-2.484466,8.934203,-9.594965,11.519585,-4.484221,-1.433726,Murray State,West Virginia,0
50,9.491524,284.869800,-29.844866,34.162147,12.420572,60.738332,-40.844984,-14.050568,-63.116285,-11.005126,...,-18.660372,-6.521658,7.237188,-11.193174,13.198485,-8.431355,-4.031423,Nevada,Texas,1
51,16.200478,253.039491,-41.421952,23.889906,4.738811,47.592699,-46.723322,-23.455671,-69.502388,-4.961311,...,-13.980497,-0.212953,7.340602,-8.160365,8.875479,-5.348168,-3.018329,New Mexico State,Clemson,0
52,26.273011,276.285096,-36.639591,35.856886,4.783283,44.487610,-55.463916,-19.539288,-70.620684,-7.280011,...,-9.453242,2.930393,9.916234,-2.060843,7.193287,-4.329666,-8.411158,North Carolina,Lipscomb,1
53,35.144158,256.982724,-42.984958,22.956052,11.461583,55.245740,-41.270942,-27.138008,-62.124101,-14.552782,...,-13.594040,2.963932,6.264643,-0.922240,0.972562,-6.806295,-3.090058,Providence,Texas A&M,0
54,22.754762,265.477383,-28.020427,43.767675,5.986166,54.353242,-36.947734,-22.294521,-56.251899,-11.919969,...,-15.079935,3.714993,6.012169,-9.098393,13.070665,-6.067863,-1.149319,Purdue,Cal State Fullerton,1
55,57.202567,216.635966,-39.908340,29.303176,25.013949,45.768123,-28.656792,-41.212935,-44.947120,-14.432946,...,-6.151046,1.478925,9.613614,-0.163920,1.046275,1.678624,-2.677184,Syracuse,Texas Christian,1
56,36.382846,245.982978,-36.120085,23.171878,12.509246,49.821360,-45.051336,-33.083753,-62.519561,-10.239747,...,-13.703390,4.685096,4.958662,1.552139,3.336722,-7.220335,-4.910934,Texas,Nevada,0
57,36.074219,266.553795,-50.415199,32.204603,11.003131,46.120612,-35.358684,-27.031438,-69.395991,-9.093929,...,-17.254743,-6.245050,7.159501,-0.057446,5.241744,-6.302919,-1.558185,Texas A&M,Providence,1
58,-6.540372,249.983007,-33.432115,19.584879,-5.769806,51.130644,-44.177222,-12.186104,-51.482258,-6.154660,...,-10.336132,-1.388774,9.858361,-10.470434,10.333754,0.642387,-4.121917,Texas Christian,Syracuse,0
59,29.983543,276.440026,-40.277897,21.061475,5.541573,67.516396,-36.545093,-29.312209,-60.202622,-19.872776,...,-16.826407,-6.427946,6.190087,-8.935615,10.162589,-5.754312,-5.567629,Texas Southern,Xavier,0
60,37.606205,242.691263,-33.030213,23.779894,8.208188,36.877893,-42.148491,-26.573363,-57.964854,-9.341197,...,-16.454041,4.139976,5.613798,-3.731959,6.203544,-5.880516,-4.401390,Virginia,Maryland-Baltimore County,0
61,8.303606,258.089496,-41.500868,38.324416,9.206138,61.599427,-46.726824,-15.784323,-61.394138,-11.475599,...,-15.385475,8.601367,6.180460,-8.592019,9.029185,-6.336327,-4.274105,West Virginia,Murray State,1
62,35.401229,293.999764,-39.882805,40.029558,26.847049,59.540875,-42.672795,-19.633469,-67.495384,-10.754139,...,-18.222839,-2.357300,8.805032,-7.719535,10.779634,-6.570867,-3.595009,Wichita State,Marshall,0
63,28.819643,289.869886,-44.921261,40.994072,18.536743,64.596732,-37.490322,-20.846575,-65.042702,-14.962768,...,-18.237065,1.448019,8.252444,-8.196297,8.790125,-5.885771,-4.445256,Xavier,Texas Southern,1

In [491]:
temp_df['pred'] = logreg.predict(temp_df.drop(['school_id', 'opp_id', 'W'], axis=1))

In [492]:
pred_proba = logreg.predict_proba(temp_df.drop(['school_id', 'opp_id', 'W', 'pred'], axis=1))

In [493]:
pred_proba_list = []
for i in pred_proba:
    pred_proba_list.append(i[1])

In [494]:
temp_df['pred_proba'] = pred_proba_list

In [495]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,school_id,opp_id,W,pred,pred_proba
0,33.598022,245.350623,-38.389682,10.363170,-3.723563,55.159348,-38.368237,-30.748003,-51.478447,-3.982511,...,5.500812,0.031697,3.093240,-2.192344,-2.572244,Alabama,Virginia Tech,1,1,0.805134
1,27.786856,276.675822,-48.530684,30.255525,3.346603,49.772580,-38.946294,-26.380955,-67.998022,-12.386208,...,7.551549,-10.551544,10.160955,-3.883171,-3.551728,Arizona,Buffalo,0,1,0.999996
2,16.046644,280.148698,-37.322316,34.660246,4.466834,63.569757,-45.047400,-19.178693,-67.897782,-14.428414,...,8.187659,-13.363620,10.516425,-6.880219,-4.003940,Buffalo,Arizona,1,0,0.000599
3,20.873416,272.122624,-17.747289,36.160316,-1.855437,59.184644,-43.962470,-29.796052,-59.123863,-12.781176,...,5.367349,-13.825429,15.097246,-9.242317,-6.447683,Davidson,Kentucky,0,0,0.003928
4,23.612909,267.853284,-36.275817,32.671254,12.561662,53.492959,-43.387755,-22.304488,-59.350779,-3.673833,...,13.351715,-6.759811,10.877258,-1.566276,-5.478227,Duke,Iona,1,1,1.000000

In [496]:
pred_proba_opp = []
for i in temp_df.index:
    for j in temp_df.index:
        if temp_df['school_id'][i] == temp_df['opp_id'][j]:
            pred_proba_opp.append(temp_df['pred_proba'][j])

In [497]:
temp_df['pred_proba_opp'] = pred_proba_opp

In [500]:
W_adj = []
for i in temp_df.index:
    if temp_df['pred_proba'][i] > temp_df['pred_proba_opp'][i]:
        W_adj.append(1)
    else:
        W_adj.append(0)

In [501]:
temp_df['W_adj'] = W_adj

In [502]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,school_id,opp_id,W,pred,pred_proba,pred_proba_opp,W_adj
0,33.598022,245.350623,-38.389682,10.363170,-3.723563,55.159348,-38.368237,-30.748003,-51.478447,-3.982511,...,3.093240,-2.192344,-2.572244,Alabama,Virginia Tech,1,1,0.805134,3.773697e-01,1
1,27.786856,276.675822,-48.530684,30.255525,3.346603,49.772580,-38.946294,-26.380955,-67.998022,-12.386208,...,10.160955,-3.883171,-3.551728,Arizona,Buffalo,0,1,0.999996,5.988045e-04,1
2,16.046644,280.148698,-37.322316,34.660246,4.466834,63.569757,-45.047400,-19.178693,-67.897782,-14.428414,...,10.516425,-6.880219,-4.003940,Buffalo,Arizona,1,0,0.000599,9.999957e-01,0
3,20.873416,272.122624,-17.747289,36.160316,-1.855437,59.184644,-43.962470,-29.796052,-59.123863,-12.781176,...,15.097246,-9.242317,-6.447683,Davidson,Kentucky,0,0,0.003928,9.999827e-01,0
4,23.612909,267.853284,-36.275817,32.671254,12.561662,53.492959,-43.387755,-22.304488,-59.350779,-3.673833,...,10.877258,-1.566276,-5.478227,Duke,Iona,1,1,1.000000,6.506739e-10,1

In [503]:
print(classification_report(temp_df['W'], temp_df['pred']))
pd.DataFrame(confusion_matrix(temp_df['W'], temp_df['pred']), columns=['Pred -', 'Pred +'], index=['Act -', 'Act +'])

             precision    recall  f1-score   support

          0       0.76      0.69      0.72        32
          1       0.71      0.78      0.75        32

avg / total       0.74      0.73      0.73        64

       Pred -  Pred +
Act -      22      10
Act +       7      25

In [504]:
print(classification_report(temp_df['W'], temp_df['W_adj']))
pd.DataFrame(confusion_matrix(temp_df['W'], temp_df['W_adj']), columns=['Pred -', 'Pred +'], index=['Act -', 'Act +'])

             precision    recall  f1-score   support

          0       0.72      0.72      0.72        32
          1       0.72      0.72      0.72        32

avg / total       0.72      0.72      0.72        64

       Pred -  Pred +
Act -      23       9
Act +       9      23

In [515]:
incorrect_picks = []
for i in temp_df.index:
    if temp_df['W'][i] != temp_df['W_adj'][i]:
        incorrect_picks.append(temp_df['school_id'][i])

In [516]:
incorrect_picks

['Arizona',
 'Buffalo',
 'Loyola (IL)',
 'Miami (FL)',
 'Oklahoma',
 'Rhode Island',
 'Creighton',
 'Florida State',
 'Kansas State',
 'Marshall',
 'Maryland-Baltimore County',
 'Missouri',
 'Nevada',
 'Syracuse',
 'Texas',
 'Texas Christian',
 'Virginia',
 'Wichita State']

In [509]:
len(incorrect_picks)

17

In [517]:
correct_picks = []
for i in temp_df.index:
    if temp_df['W'][i] == temp_df['W_adj'][i]:
        correct_picks.append(temp_df['school_id'][i])

In [511]:
correct_picks

['Alabama',
 'Davidson',
 'Duke',
 'Florida',
 'Gonzaga',
 'Houston',
 'Iona',
 'Kansas',
 'Kentucky',
 'Michigan',
 'Montana',
 'North Carolina-Greensboro',
 'North Carolina State',
 'Ohio State',
 'Pennsylvania',
 'Radford',
 'San Diego State',
 'Seton Hall',
 'South Dakota State',
 'St. Bonaventure',
 'Stephen F. Austin',
 'Tennessee',
 'Texas Tech',
 'Villanova',
 'Virginia Tech',
 'Wright State',
 'Auburn',
 'Bucknell',
 'Butler',
 'Cal State Fullerton',
 'Cincinnati',
 'Clemson',
 'College of Charleston',
 'Florida State',
 'Georgia State',
 'Lipscomb',
 'Michigan State',
 'Murray State',
 'Nevada',
 'New Mexico State',
 'North Carolina',
 'Providence',
 'Purdue',
 'Texas A&M',
 'Texas Southern',
 'West Virginia',
 'Xavier']

In [451]:
len(correct_picks)

26

In [523]:
temp_df.loc[:30].sort_values('school_id')

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,school_id,opp_id,W,pred,pred_proba,pred_proba_opp,W_adj
0,33.598022,245.350623,-38.389682,10.363170,-3.723563,55.159348,-38.368237,-30.748003,-51.478447,-3.982511,...,3.093240,-2.192344,-2.572244,Alabama,Virginia Tech,1,1,8.051342e-01,3.773697e-01,1
1,27.786856,276.675822,-48.530684,30.255525,3.346603,49.772580,-38.946294,-26.380955,-67.998022,-12.386208,...,10.160955,-3.883171,-3.551728,Arizona,Buffalo,0,1,9.999957e-01,5.988045e-04,1
2,16.046644,280.148698,-37.322316,34.660246,4.466834,63.569757,-45.047400,-19.178693,-67.897782,-14.428414,...,10.516425,-6.880219,-4.003940,Buffalo,Arizona,1,0,5.988045e-04,9.999957e-01,0
3,20.873416,272.122624,-17.747289,36.160316,-1.855437,59.184644,-43.962470,-29.796052,-59.123863,-12.781176,...,15.097246,-9.242317,-6.447683,Davidson,Kentucky,0,0,3.928428e-03,9.999827e-01,0
4,23.612909,267.853284,-36.275817,32.671254,12.561662,53.492959,-43.387755,-22.304488,-59.350779,-3.673833,...,10.877258,-1.566276,-5.478227,Duke,Iona,1,1,1.000000e+00,6.506739e-10,1
5,42.257265,262.349375,-32.534600,28.238489,-2.924802,45.341052,-42.078248,-34.861275,-60.214260,-17.241359,...,5.899493,-8.280858,-1.230133,Florida,St. Bonaventure,1,1,9.999717e-01,2.860730e-04,1
6,10.501977,228.039146,-25.277054,25.312086,-8.708946,41.862111,-39.364771,-18.296676,-53.571191,-3.265383,...,11.646085,3.337549,-2.715161,Gonzaga,North Carolina-Greensboro,1,1,9.999997e-01,2.085316e-05,1
7,15.327976,258.049299,-25.903061,28.080496,-8.933283,52.182516,-55.332472,-19.587852,-65.811553,-6.511329,...,9.339177,-4.005565,-7.390532,Houston,San Diego State,1,1,9.979445e-01,1.575945e-01,1
8,17.723289,238.299003,-29.679412,26.222909,8.241416,59.952865,-41.006155,-26.459420,-52.812561,-10.423449,...,12.309139,-2.297132,-0.558374,Iona,Duke,0,0,6.506739e-10,1.000000e+00,0
9,16.310095,268.360310,-29.466264,43.767863,8.213099,45.124887,-44.753045,-15.907371,-67.886048,-8.260722,...,12.881775,-5.424235,-3.812769,Kansas,Pennsylvania,1,1,1.000000e+00,1.115617e-08,1
10,16.867358,279.851248,-50.617516,14.441254,-7.870698,55.639471,-31.762002,-24.760919,-63.869912,-17.148414,...,9.124253,-9.680514,-1.585296,Kentucky,Davidson,1,1,9.999827e-01,3.928428e-03,1
11,40.755630,252.006954,-26.617581,27.442095,13.399224,43.254580,-38.386263,-21.567573,-59.719692,-14.434517,...,9.354713,-6.184485,-4.559559,Loyola (IL),Miami (FL),1,0,3.103419e-02,9.997281e-01,0
12,8.411144,238.545992,-31.966037,27.087030,2.134447,50.539372,-48.630748,-14.274408,-60.828888,-7.697773,...,5.807179,-5.694433,-5.509400,Miami (FL),Loyola (IL),0,1,9.997281e-01,3.103419e-02,1
13,16.613113,249.165192,-32.070636,48.397996,-3.805142,54.024333,-36.794606,-25.388057,-58.566526,-8.331701,...,10.824070,-6.076372,-1.945278,Michigan,Montana,1,1,9.999997e-01,1.572673e-06,1
14,4.648118,251.669442,-54.929816,28.590731,5.579180,57.586228,-45.679703,-19.634557,-72.915926,-13.617644,...,11.250488,-6.722539,-1.942000,Montana,Michigan,0,0,1.572673e-06,9.999997e-01,0
16,27.901724,274.831701,-38.953851,25.045321,9.225288,53.017703,-48.830194,-22.031499,-68.235514,-19.028625,...,7.776546,-7.644010,-3.746645,North Carolina State,Seton Hall,0,0,3.142052e-01,9.722093e-01,0
15,13.854607,218.843797,-26.437940,29.319093,2.034877,51.150793,-48.517165,-19.599844,-60.088283,-2.720027,...,12.031527,-0.415024,-4.909305,North Carolina-Greensboro,Gonzaga,0,0,2.085316e-05,9.999997e-01,0
17,6.160420,243.085502,-38.272954,18.805315,9.424886,50.244432,-45.687668,-14.514735,-69.075355,-5.149986,...,6.639961,1.147448,-6.849207,Ohio State,South Dakota State,1,1,9.999994e-01,1.669986e-05,1
18,23.536965,262.659582,-42.361495,42.618138,-0.865750,53.157765,-40.306214,-20.479567,-65.969918,-6.196141,...,4.288986,-8.116776,-4.422728,Oklahoma,Rhode Island,0,1,9.957989e-01,2.889372e-02,1
19,26.618139,256.543711,-24.977555,27.324525,12.652729,61.653910,-44.920142,-26.112292,-58.621267,-10.692640,...,8.574079,-5.564615,-2.699950,Pennsylvania,Kansas,0,0,1.115617e-08,1.000000e+00,0
20,41.494658,240.546727,-33.794723,28.150014,12.856247,57.355238,-36.591448,-31.008791,-57.073307,-13.339708,...,8.170547,-9.379367,-2.364001,Radford,Villanova,0,0,2.232115e-11,1.000000e+00,0
21,43.575138,271.971968,-47.328729,29.837292,21.045765,52.897242,-47.789302,-24.676286,-67.803565,-18.403285,...,3.267972,-6.198687,-5.604564,Rhode Island,Oklahoma,1,0,2.889372e-02,9.957989e-01,0
22,10.085887,244.885731,-38.299846,36.476384,-8.000189,50.858154,-40.792971,-18.689603,-62.391129,-10.852154,...,10.663265,-6.576393,-4.603846,San Diego State,Houston,0,0,1.575945e-01,9.979445e-01,0
23,29.835144,272.183252,-48.299131,38.539827,20.402216,56.627506,-40.785083,-22.902349,-66.698325,-9.356811,...,7.844022,-7.954197,-4.477066,Seton Hall,North Carolina State,1,1,9.722093e-01,3.142052e-01,1
24,26.011441,245.483731,-26.485432,33.839269,8.275195,55.556473,-30.814320,-26.850439,-57.553660,-7.808867,...,9.251443,-4.486057,-0.943638,South Dakota State,Ohio State,0,0,1.669986e-05,9.999994e-01,0
25,4.128089,264.160873,-44.012669,38.899236,-3.381256,71.261398,-38.741080,-20.385071,-59.954898,-7.303029,...,10.905791,-7.544607,-5.470825,St. Bonaventure,Florida,0,0,2.860730e-04,9.999717e-01,0
26,21.267622,260.138866,-44.522543,32.642536,-11.199923,60.106969,-41.855203,-21.743979,-60.251816,-17.722076,...,12.790450,-8.332657,-1.216094,Stephen F. Austin,Texas Tech,0,0,3.590523e-08,1.000000e+00,0
27,9.619205,236.126803,-40.539096,25.933412,-7.050136,51.177078,-41.347708,-21.577302,-58.381455,-5.307677,...,6.197844,-2.312941,-5.929987,Tennessee,Wright State,1,1,1.000000e+00,2.906428e-09,1
28,23.022780,245.856055,-43.932445,34.181410,-13.529445,53.860253,-46.254700,-28.237624,-54.114725,-8.115241,...,5.753608,-3.343082,-1.369894,Texas Tech,Stephen F. Austin,1,1,1.000000e+00,3.590523e-08,1
29,-2.468391,256.282179,-14.547911,32.131379,-5.575615,53.529026,-49.018059,-10.689550,-57.440312,-1.042383,...,12.634165,-5.427782,-7.620542,Villanova,Radford,1,1,1.000000e+00,2.232115e-11,1
30,34.961411,252.264249,-32.514326,36.150724,5.944969,48.870417,-37.994854,-28.016875,-58.068636,-15.016601,...,4.969673,-5.921926,-1.344606,Virginia Tech,Alabama,0,0,3.773697e-01,8.051342e-01,0

In [524]:
temp_df.loc[30:].sort_values('school_id')

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,school_id,opp_id,W,pred,pred_proba,pred_proba_opp,W_adj
32,19.034199,272.017190,-45.674736,33.952410,-0.754700,53.639402,-39.549414,-20.152532,-67.131176,-10.960147,...,7.647294,-8.333351,-0.009245,Arkansas,Butler,0,1,5.530691e-01,8.725885e-01,0
33,-5.857335,243.561283,-31.030772,27.608241,-14.555481,70.566153,-33.625843,-5.692327,-52.880285,-2.281428,...,6.860581,0.760534,-9.786588,Auburn,College of Charleston,1,1,1.000000e+00,1.303843e-06,1
34,9.247859,247.552210,-34.997810,32.647703,6.645450,68.934317,-32.403126,-26.905972,-53.495439,-9.142303,...,12.798469,-1.809370,0.467556,Bucknell,Michigan State,0,0,1.816885e-07,1.000000e+00,0
35,36.754307,270.397604,-34.373816,36.039749,-8.228027,43.106726,-49.266696,-26.381230,-71.347388,-17.056794,...,7.123927,-8.594701,-7.049437,Butler,Arkansas,1,1,8.725885e-01,5.530691e-01,1
36,11.124398,259.690260,-52.297050,25.681928,12.321070,59.468026,-40.873831,-21.991826,-66.959683,-17.015270,...,11.717236,-8.849849,-3.296954,Cal State Fullerton,Purdue,0,0,9.337662e-09,1.000000e+00,0
37,30.794095,274.136711,-38.035918,22.304743,-11.341491,39.976524,-42.792401,-18.987713,-59.902597,-14.650703,...,9.815255,-7.181950,-3.065342,Cincinnati,Georgia State,1,1,1.000000e+00,1.531790e-06,1
38,15.435164,238.603770,-29.077245,32.405517,-3.946970,55.213823,-38.488798,-27.156783,-56.895347,-4.036868,...,9.131422,-7.728590,-3.068499,Clemson,New Mexico State,1,1,9.999694e-01,9.681897e-05,1
39,62.350185,231.063667,-32.157456,29.627338,7.297190,36.871088,-28.308597,-40.238554,-54.343324,-20.538698,...,7.160599,-0.705753,0.298059,College of Charleston,Auburn,0,0,1.303843e-06,1.000000e+00,0
40,19.424078,267.274856,-18.986544,40.167526,0.343220,46.319277,-46.050271,-17.213118,-62.396659,-7.068279,...,10.360482,-9.258001,-4.421226,Creighton,Kansas State,0,1,9.923149e-01,3.581282e-01,1
41,21.212345,267.057444,-40.574477,25.207451,3.600777,59.555094,-39.559666,-25.876993,-59.236965,-12.072937,...,7.575166,-6.450962,-2.023261,Florida State,Missouri,1,1,6.916185e-01,8.832138e-01,0
42,2.715267,229.734112,-25.442958,33.371566,-2.897472,58.241718,-52.605466,-21.676893,-57.949242,-2.165551,...,13.101739,-7.648313,-2.951707,Georgia State,Cincinnati,0,0,1.531790e-06,1.000000e+00,0
43,41.728280,252.069262,-38.396138,15.396699,21.617810,53.082940,-42.885683,-26.952877,-60.743697,-14.140539,...,6.614926,-5.528796,-4.539111,Kansas State,Creighton,1,0,3.581282e-01,9.923149e-01,0
44,30.876222,280.028635,-32.409619,25.043631,6.557292,64.303821,-43.944064,-19.355175,-61.949658,-13.025527,...,8.273933,-8.190175,-5.418427,Lipscomb,North Carolina,0,0,3.342344e-09,1.000000e+00,0
45,21.182751,272.173588,-16.199276,32.945745,-7.128625,54.134459,-48.163991,-20.330368,-66.404275,-9.248749,...,10.313266,-7.874487,-5.978255,Marshall,Wichita State,1,0,3.451739e-04,9.999999e-01,0
46,-2.512067,225.778435,-26.088141,27.211490,-6.459464,54.363101,-45.363371,-12.561877,-60.063869,-4.138916,...,9.671570,-7.401772,-2.114568,Maryland-Baltimore County,Virginia,1,0,5.166815e-11,1.000000e+00,0
47,9.332467,254.826334,-39.840698,42.800811,10.828196,52.727902,-42.641812,-29.447424,-62.263622,-1.232760,...,15.731357,-1.485195,-4.468903,Michigan State,Bucknell,1,1,1.000000e+00,1.816885e-07,1
48,41.432848,256.633838,-23.973788,31.792926,-0.508518,58.427111,-37.959524,-34.771770,-55.822152,-7.988943,...,5.970896,-6.502041,-2.582576,Missouri,Florida State,0,1,8.832138e-01,6.916185e-01,1
49,26.211359,256.095586,-37.997934,39.088742,-10.776337,54.468055,-37.402008,-28.621436,-58.816177,-11.413769,...,11.519585,-4.484221,-1.433726,Murray State,West Virginia,0,0,9.969512e-07,1.000000e+00,0
50,9.491524,284.869800,-29.844866,34.162147,12.420572,60.738332,-40.844984,-14.050568,-63.116285,-11.005126,...,13.198485,-8.431355,-4.031423,Nevada,Texas,1,1,5.162684e-01,9.784856e-01,0
51,16.200478,253.039491,-41.421952,23.889906,4.738811,47.592699,-46.723322,-23.455671,-69.502388,-4.961311,...,8.875479,-5.348168,-3.018329,New Mexico State,Clemson,0,0,9.681897e-05,9.999694e-01,0
52,26.273011,276.285096,-36.639591,35.856886,4.783283,44.487610,-55.463916,-19.539288,-70.620684,-7.280011,...,7.193287,-4.329666,-8.411158,North Carolina,Lipscomb,1,1,1.000000e+00,3.342344e-09,1
53,35.144158,256.982724,-42.984958,22.956052,11.461583,55.245740,-41.270942,-27.138008,-62.124101,-14.552782,...,0.972562,-6.806295,-3.090058,Providence,Texas A&M,0,0,1.007448e-01,9.319431e-01,0
54,22.754762,265.477383,-28.020427,43.767675,5.986166,54.353242,-36.947734,-22.294521,-56.251899,-11.919969,...,13.070665,-6.067863,-1.149319,Purdue,Cal State Fullerton,1,1,1.000000e+00,9.337662e-09,1
55,57.202567,216.635966,-39.908340,29.303176,25.013949,45.768123,-28.656792,-41.212935,-44.947120,-14.432946,...,1.046275,1.678624,-2.677184,Syracuse,Texas Christian,1,0,2.342238e-02,9.980942e-01,0
56,36.382846,245.982978,-36.120085,23.171878,12.509246,49.821360,-45.051336,-33.083753,-62.519561,-10.239747,...,3.336722,-7.220335,-4.910934,Texas,Nevada,0,1,9.784856e-01,5.162684e-01,1
57,36.074219,266.553795,-50.415199,32.204603,11.003131,46.120612,-35.358684,-27.031438,-69.395991,-9.093929,...,5.241744,-6.302919,-1.558185,Texas A&M,Providence,1,1,9.319431e-01,1.007448e-01,1
58,-6.540372,249.983007,-33.432115,19.584879,-5.769806,51.130644,-44.177222,-12.186104,-51.482258,-6.154660,...,10.333754,0.642387,-4.121917,Texas Christian,Syracuse,0,1,9.980942e-01,2.342238e-02,1
59,29.983543,276.440026,-40.277897,21.061475,5.541573,67.516396,-36.545093,-29.312209,-60.202622,-19.872776,...,10.162589,-5.754312,-5.567629,Texas Southern,Xavier,0,0,4.484858e-11,1.000000e+00,0
60,37.606205,242.691263,-33.030213,23.779894,8.208188,36.877893,-42.148491,-26.573363,-57.964854,-9.341197,...,6.203544,-5.880516,-4.401390,Virginia,Maryland-Baltimore County,0,1,1.000000e+00,5.166815e-11,1
30,34.961411,252.264249,-32.514326,36.150724,5.944969,48.870417,-37.994854,-28.016875,-58.068636,-15.016601,...,4.969673,-5.921926,-1.344606,Virginia Tech,Alabama,0,0,3.773697e-01,8.051342e-01,0
61,8.303606,258.089496,-41.500868,38.324416,9.206138,61.599427,-46.726824,-15.784323,-61.394138,-11.475599,...,9.029185,-6.336327,-4.274105,West Virginia,Murray State,1,1,1.000000e+00,9.969512e-07,1
62,35.401229,293.999764,-39.882805,40.029558,26.847049,59.540875,-42.672795,-19.633469,-67.495384,-10.754139,...,10.779634,-6.570867,-3.595009,Wichita State,Marshall,0,1,9.999999e-01,3.451739e-04,1
31,25.853358,228.011313,-39.990136,35.579733,-0.999943,54.136311,-36.280337,-31.300246,-57.296441,-6.884534,...,7.011053,-4.668563,-2.745000,Wright State,Tennessee,0,0,2.906428e-09,1.000000e+00,0
63,28.819643,289.869886,-44.921261,40.994072,18.536743,64.596732,-37.490322,-20.846575,-65.042702,-14.962768,...,8.790125,-5.885771,-4.445256,Xavier,Texas Southern,1,1,1.000000e+00,4.484858e-11,1

# Round of 32

In [525]:
# Predictions of Round of 32
temp_df = pd.DataFrame(columns=joined.columns.drop('W'))

for i in secondround_indices:
    temp_df = temp_df.append(row_maker(mm_2018['school_id'][i], mm_2018['opp_id'][i]))
    temp_df.reset_index(drop=True, inplace=True)
    
temp_df = pca.transform(temp_df)
temp_df = pd.DataFrame(temp_df, columns = np.arange(0,50))

temp_df['school_id'] = mm_2018['school_id'][secondround_indices].values
temp_df['opp_id'] = mm_2018['opp_id'][secondround_indices].values

temp_df['W'] = mm_2018['W'][secondround_indices].values

temp_df['pred'] = logreg.predict(temp_df.drop(['school_id', 'opp_id', 'W'], axis=1))

pred_proba = logreg.predict_proba(temp_df.drop(['school_id', 'opp_id', 'W', 'pred'], axis=1))

pred_proba_list = []
for i in pred_proba:
    pred_proba_list.append(i[1])
    
temp_df['pred_proba'] = pred_proba_list

pred_proba_opp = []
for i in temp_df.index:
    for j in temp_df.index:
        if temp_df['school_id'][i] == temp_df['opp_id'][j]:
            pred_proba_opp.append(temp_df['pred_proba'][j])
            
temp_df['pred_proba_opp'] = pred_proba_opp

W_adj = []
for i in temp_df.index:
    if temp_df['pred_proba'][i] > temp_df['pred_proba_opp'][i]:
        W_adj.append(1)
    else:
        W_adj.append(0)
        
temp_df['W_adj'] = W_adj

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:7: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:9: PerformanceWarning: indexing past lexsort depth may impact performance.

In [527]:
temp_df.sort_values('school_id')

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,school_id,opp_id,W,pred,pred_proba,pred_proba_opp,W_adj
0,34.891347,247.337620,-42.801783,24.550919,12.466175,60.212652,-35.924351,-33.901742,-59.544153,-5.987835,...,3.683939,-6.866243,0.542426,Alabama,Villanova,0,0,6.260239e-04,9.999676e-01,0
16,11.594534,261.629263,-34.324888,32.963164,-4.188293,69.552835,-37.322358,-23.521906,-53.367842,-8.592610,...,8.241296,-5.917579,-6.500452,Auburn,Clemson,0,1,6.541137e-01,7.913606e-01,0
1,14.265044,279.983288,-35.284532,29.221582,-3.290866,61.773187,-49.763723,-25.446612,-65.655504,-13.527697,...,12.793211,-7.516976,-3.144293,Buffalo,Kentucky,0,0,5.017814e-05,9.999994e-01,0
17,16.210816,255.125314,-30.618294,32.311283,15.761649,56.036197,-50.888728,-22.338526,-68.234408,-12.869612,...,8.100721,-8.828854,-6.646533,Butler,Purdue,0,0,6.187574e-02,9.982403e-01,0
18,19.951544,267.840788,-37.966557,26.798173,9.999493,51.180903,-47.682247,-25.242345,-60.282039,-13.693441,...,11.697221,-6.503810,-3.881775,Cincinnati,Nevada,0,1,9.980895e-01,3.794170e-01,1
19,42.014775,261.773614,-32.214936,34.090473,0.052403,50.060643,-33.927499,-32.795780,-57.955406,-10.867818,...,5.003332,-7.989801,-4.027933,Clemson,Auburn,1,1,7.913606e-01,6.541137e-01,1
2,20.223965,263.957504,-40.322998,43.759276,2.772847,45.363138,-40.718012,-21.227210,-60.778413,-4.288906,...,11.191275,-6.211896,-4.084955,Duke,Rhode Island,1,1,9.999985e-01,2.781910e-05,1
3,26.721175,249.076941,-33.407671,33.813115,-2.952849,44.692467,-40.214675,-29.834277,-58.200784,-15.612255,...,6.854827,-7.376918,-1.176670,Florida,Texas Tech,0,0,4.131370e-01,7.055506e-01,0
20,28.819349,275.442558,-38.680340,20.337549,9.403305,62.322342,-40.842588,-31.624242,-60.747234,-14.930192,...,8.828371,-3.892903,-4.608309,Florida State,Xavier,1,0,6.190769e-02,9.989157e-01,0
4,25.087800,243.383255,-28.215407,32.034597,13.170220,45.724709,-35.311044,-26.113212,-57.897288,-9.860836,...,12.622185,-3.279922,0.361202,Gonzaga,Ohio State,1,0,1.506880e-01,9.898725e-01,0
5,7.330654,251.885040,-28.894385,39.562655,6.104514,57.735332,-52.975608,-18.519807,-69.945597,-5.813493,...,10.835303,-6.928149,-5.526841,Houston,Michigan,0,0,1.655212e-01,9.955220e-01,0
6,24.428432,279.198787,-25.078933,30.825641,11.863618,45.928416,-46.386749,-24.655235,-63.887428,-13.922746,...,10.877851,-7.250214,-2.721869,Kansas,Seton Hall,1,1,9.998911e-01,1.712213e-02,1
21,37.713445,244.505823,-41.218707,21.250409,3.755132,47.151949,-44.909085,-22.895662,-60.366207,-10.651000,...,6.246426,-6.134797,-3.638854,Kansas State,Maryland-Baltimore County,1,1,1.000000e+00,8.090838e-08,1
7,22.915943,282.515807,-57.574682,29.226186,-0.567235,57.951998,-35.111762,-25.390085,-64.641004,-14.787748,...,9.504630,-5.458884,-3.239847,Kentucky,Buffalo,1,1,9.999994e-01,5.017814e-05,1
8,20.642995,234.598693,-29.491512,39.270811,3.443232,42.773228,-45.422290,-25.769532,-59.340403,-10.773832,...,11.758827,-5.606858,-3.750864,Loyola (IL),Tennessee,1,0,7.231294e-05,9.999927e-01,0
22,19.694289,269.140585,-21.799134,45.456454,-10.225136,50.868527,-50.803049,-21.514043,-65.613689,-6.449849,...,10.454350,-6.656455,-6.356217,Marshall,West Virginia,0,0,8.670736e-06,1.000000e+00,0
23,30.611872,251.875052,-32.504857,34.119657,-1.519048,51.282989,-44.666446,-17.814389,-61.172335,-8.732015,...,6.816403,-8.765642,-2.030273,Maryland-Baltimore County,Kansas State,0,0,8.090838e-08,1.000000e+00,0
9,10.197741,245.004507,-28.745214,41.337039,-8.339184,51.773424,-34.768500,-22.394892,-56.151787,-8.864686,...,12.433048,-5.993763,-1.938138,Michigan,Houston,1,1,9.955220e-01,1.655212e-01,1
24,-3.685187,245.408925,-30.300408,19.107792,-3.580215,47.013048,-40.141578,-18.890846,-52.153170,2.728316,...,13.504284,0.830813,-6.364946,Michigan State,Syracuse,0,1,9.998641e-01,1.894805e-03,1
25,-20.121713,259.446005,-28.598865,36.319127,-5.486650,59.148781,-49.609730,-16.658785,-58.619224,-7.909879,...,17.945809,-8.117003,-2.840812,Nevada,Cincinnati,1,0,3.794170e-01,9.980895e-01,0
26,21.567188,276.285558,-32.473564,27.203505,14.181163,46.626354,-52.041256,-21.371345,-68.742809,-9.974749,...,7.455312,-7.564110,-6.468300,North Carolina,Texas A&M,0,1,9.993150e-01,1.528326e-02,1
10,-1.773937,236.597064,-40.055521,24.379391,3.030222,46.472762,-47.504255,-17.772087,-67.497056,-6.582963,...,9.766593,-2.269026,-4.717858,Ohio State,Gonzaga,0,1,9.898725e-01,1.506880e-01,1
27,22.903337,267.445657,-26.560285,42.226132,1.102326,49.955203,-35.577442,-23.125327,-58.115881,-9.994865,...,11.559946,-7.048073,-1.065230,Purdue,Butler,1,1,9.982403e-01,6.187574e-02,1
11,10.492615,245.049091,-41.531202,20.888189,11.051703,53.563697,-52.381524,-20.367196,-59.560812,-14.177248,...,8.181008,-5.976181,-4.878213,Rhode Island,Duke,0,0,2.781910e-05,9.999985e-01,0
12,17.102139,265.186538,-39.906135,20.924376,14.372614,58.543142,-44.182446,-27.452600,-62.842841,-10.727978,...,8.644414,-7.149799,-4.849427,Seton Hall,Kansas,0,0,1.712213e-02,9.998911e-01,0
28,37.183319,201.228060,-36.105896,25.218057,20.140375,47.705166,-28.188247,-40.683834,-45.596006,-14.929680,...,4.546964,0.370375,-1.291859,Syracuse,Michigan State,1,0,1.894805e-03,9.998641e-01,0
13,8.406092,236.105745,-39.740878,24.313635,1.623033,53.086545,-40.790301,-19.874073,-57.237803,-3.546580,...,6.418957,-5.454151,-4.271489,Tennessee,Loyola (IL),0,1,9.999927e-01,7.231294e-05,1
29,34.027568,267.805374,-44.297733,16.224292,15.259801,48.648062,-38.049746,-29.845301,-61.694584,-10.064679,...,4.776704,-6.996365,-0.733875,Texas A&M,North Carolina,1,0,1.528326e-02,9.993150e-01,0
14,16.462403,243.408542,-42.660968,35.718078,4.024784,59.553990,-40.908742,-26.071765,-58.144682,-7.201671,...,6.469237,-3.352553,-2.247349,Texas Tech,Florida,1,1,7.055506e-01,4.131370e-01,1
15,19.315324,276.761800,-20.295856,43.216943,3.673500,50.654755,-44.852635,-22.043214,-61.925038,-11.215291,...,13.087926,-8.912040,-6.621689,Villanova,Alabama,1,1,9.999676e-01,6.260239e-04,1
30,40.696556,285.899794,-44.487383,38.239059,26.371967,63.131127,-43.446614,-19.672775,-64.038433,-15.455730,...,7.454300,-7.979517,-4.429688,West Virginia,Marshall,1,1,1.000000e+00,8.670736e-06,1
31,18.917529,285.370657,-38.459907,28.435094,-2.177412,57.219947,-38.852784,-27.220065,-63.704789,-18.339742,...,9.697153,-6.687009,-4.460327,Xavier,Florida State,0,1,9.989157e-01,6.190769e-02,1

# Round of 16

In [528]:
# Predictions of Round of 16
temp_df = pd.DataFrame(columns=joined.columns.drop('W'))

for i in sweet16_indices:
    temp_df = temp_df.append(row_maker(mm_2018['school_id'][i], mm_2018['opp_id'][i]))
    temp_df.reset_index(drop=True, inplace=True)
    
temp_df = pca.transform(temp_df)
temp_df = pd.DataFrame(temp_df, columns = np.arange(0,50))

temp_df['school_id'] = mm_2018['school_id'][sweet16_indices].values
temp_df['opp_id'] = mm_2018['opp_id'][sweet16_indices].values

temp_df['W'] = mm_2018['W'][sweet16_indices].values

temp_df['pred'] = logreg.predict(temp_df.drop(['school_id', 'opp_id', 'W'], axis=1))

pred_proba = logreg.predict_proba(temp_df.drop(['school_id', 'opp_id', 'W', 'pred'], axis=1))

pred_proba_list = []
for i in pred_proba:
    pred_proba_list.append(i[1])
    
temp_df['pred_proba'] = pred_proba_list

pred_proba_opp = []
for i in temp_df.index:
    for j in temp_df.index:
        if temp_df['school_id'][i] == temp_df['opp_id'][j]:
            pred_proba_opp.append(temp_df['pred_proba'][j])
            
temp_df['pred_proba_opp'] = pred_proba_opp

W_adj = []
for i in temp_df.index:
    if temp_df['pred_proba'][i] > temp_df['pred_proba_opp'][i]:
        W_adj.append(1)
    else:
        W_adj.append(0)
        
temp_df['W_adj'] = W_adj

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:7: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:9: PerformanceWarning: indexing past lexsort depth may impact performance.

In [529]:
temp_df.sort_values('school_id')

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,school_id,opp_id,W,pred,pred_proba,pred_proba_opp,W_adj
8,27.411341,251.843818,-27.733630,25.922121,14.751256,59.829083,-38.738957,-32.581335,-52.653502,-7.606262,...,7.750813,-6.827799,-4.394714,Clemson,Kansas,0,0,0.016423,0.999707,0
9,-3.910207,245.778545,-29.607792,19.964450,-3.988386,49.064522,-44.541351,-15.449034,-49.451594,-0.255483,...,12.076755,0.491368,-6.948341,Duke,Syracuse,1,1,0.999982,0.000164,1
0,-5.187039,243.707907,-39.045137,28.404942,-3.699891,61.299382,-41.012140,-17.779292,-60.129850,-5.034416,...,9.937122,-2.276776,-3.034265,Florida State,Gonzaga,1,1,0.840414,0.752799,1
1,39.112671,256.248330,-27.644105,27.685721,5.895023,43.607715,-38.173916,-36.183978,-60.656492,-14.527535,...,10.867649,-2.530688,-0.377451,Gonzaga,Florida State,0,1,0.752799,0.840414,0
10,7.808456,264.172316,-24.939386,33.369402,5.755351,44.673984,-47.845464,-20.280383,-61.113799,-9.585014,...,12.120209,-4.334679,-3.705435,Kansas,Clemson,1,1,0.999707,0.016423,1
2,34.577949,245.877142,-40.757076,21.870113,5.861324,47.767062,-46.136185,-35.035770,-60.323524,-18.632719,...,9.007951,-6.691496,-3.121068,Kansas State,Kentucky,1,0,0.026344,0.995479,0
3,10.956962,272.656571,-56.255990,27.658163,-3.722462,55.135853,-34.483239,-20.359834,-60.579679,-10.171694,...,8.926957,-9.206722,-1.238978,Kentucky,Kansas State,0,1,0.995479,0.026344,1
4,35.412547,248.719166,-26.189105,28.235847,12.905069,46.574445,-45.241436,-29.872254,-60.001923,-13.545275,...,10.829633,-6.263313,-4.458778,Loyola (IL),Nevada,1,0,0.055942,0.999942,0
5,30.494594,264.911599,-26.816276,31.765389,10.040929,56.578309,-34.194128,-29.149579,-54.011133,-12.629745,...,9.616036,-7.853363,-1.374671,Michigan,Texas A&M,1,1,0.946846,0.150015,1
6,-10.115708,266.300024,-28.214268,33.242697,-3.848119,58.895537,-45.814090,-9.790241,-60.135867,-5.892679,...,13.146476,-5.963628,-4.390291,Nevada,Loyola (IL),0,1,0.999942,0.055942,1
11,17.250386,263.293784,-25.807888,39.861343,-5.560867,47.950154,-36.310638,-27.948277,-54.894643,-15.614038,...,13.055587,-6.517944,-0.860649,Purdue,Texas Tech,0,1,0.994575,0.092562,1
12,38.199469,202.225590,-34.714872,20.098755,17.683122,46.094300,-32.500240,-40.328699,-40.821030,-10.142271,...,5.121397,-0.068441,-1.070929,Syracuse,Duke,0,0,0.000164,0.999982,0
7,8.265215,244.635140,-46.834773,30.190885,9.629880,51.297957,-40.614213,-27.988095,-67.942996,-4.999445,...,7.896598,-6.065826,-0.273939,Texas A&M,Michigan,0,0,0.150015,0.946846,0
13,19.393842,247.724698,-40.659736,30.533548,13.445981,62.901249,-38.463122,-28.394002,-57.196098,-13.205745,...,6.391141,-5.769684,-1.366527,Texas Tech,Purdue,1,0,0.092562,0.994575,0
14,14.783996,272.655934,-21.068474,45.899866,-7.744516,46.595385,-46.775786,-24.420084,-62.964226,-10.940181,...,13.411238,-7.021710,-7.065671,Villanova,West Virginia,1,1,0.998868,0.173449,1
15,18.809427,270.992682,-38.023194,29.442966,10.680123,59.963703,-44.847073,-23.018877,-64.418330,-15.920854,...,9.002141,-9.133261,-3.340012,West Virginia,Villanova,0,0,0.173449,0.998868,0

# Round of 8

In [530]:
# Predictions of Round of 8
temp_df = pd.DataFrame(columns=joined.columns.drop('W'))

for i in regional_indices:
    temp_df = temp_df.append(row_maker(mm_2018['school_id'][i], mm_2018['opp_id'][i]))
    temp_df.reset_index(drop=True, inplace=True)
    
temp_df = pca.transform(temp_df)
temp_df = pd.DataFrame(temp_df, columns = np.arange(0,50))

temp_df['school_id'] = mm_2018['school_id'][regional_indices].values
temp_df['opp_id'] = mm_2018['opp_id'][regional_indices].values

temp_df['W'] = mm_2018['W'][regional_indices].values

temp_df['pred'] = logreg.predict(temp_df.drop(['school_id', 'opp_id', 'W'], axis=1))

pred_proba = logreg.predict_proba(temp_df.drop(['school_id', 'opp_id', 'W', 'pred'], axis=1))

pred_proba_list = []
for i in pred_proba:
    pred_proba_list.append(i[1])
    
temp_df['pred_proba'] = pred_proba_list

pred_proba_opp = []
for i in temp_df.index:
    for j in temp_df.index:
        if temp_df['school_id'][i] == temp_df['opp_id'][j]:
            pred_proba_opp.append(temp_df['pred_proba'][j])
            
temp_df['pred_proba_opp'] = pred_proba_opp

W_adj = []
for i in temp_df.index:
    if temp_df['pred_proba'][i] > temp_df['pred_proba_opp'][i]:
        W_adj.append(1)
    else:
        W_adj.append(0)
        
temp_df['W_adj'] = W_adj

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:7: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:9: PerformanceWarning: indexing past lexsort depth may impact performance.

In [531]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,school_id,opp_id,W,pred,pred_proba,pred_proba_opp,W_adj
0,4.545755,252.609041,-42.277064,35.212997,4.411493,61.975584,-40.530056,-23.941229,-63.722667,-7.402392,...,9.649949,-6.439969,-1.390712,Florida State,Michigan,0,0,0.100721,0.990064,0
1,15.400244,226.439555,-39.502852,22.414779,4.029245,49.062384,-45.608456,-18.677142,-58.487409,-6.833631,...,6.911732,-4.748267,-3.832295,Kansas State,Loyola (IL),0,1,0.999676,0.007863,1
2,33.306747,244.617911,-28.855386,33.815037,4.305123,40.150474,-41.972013,-22.144997,-58.145658,-11.258343,...,9.438082,-7.405861,-3.370219,Loyola (IL),Kansas State,1,0,0.007863,0.999676,0
3,32.765004,266.896078,-26.546088,31.521798,0.384553,54.083475,-35.684333,-33.345405,-57.285220,-15.029404,...,9.689747,-6.958064,-2.296922,Michigan,Florida State,1,1,0.990064,0.100721,1
4,15.778855,265.494231,-32.049374,24.628594,16.673671,54.551405,-44.629039,-28.596360,-55.214706,-7.289696,...,13.417213,-5.142625,-4.276287,Duke,Kansas,0,1,0.966472,0.887764,1
5,0.868910,259.582635,-23.038001,29.776988,11.877478,48.595969,-51.062454,-20.382182,-57.732268,-7.625576,...,14.455085,-5.242296,-3.218225,Kansas,Duke,1,1,0.887764,0.966472,0
6,28.800070,256.149649,-39.934985,27.529002,11.455059,60.923868,-37.933794,-29.553617,-59.611070,-12.611171,...,5.977779,-7.240281,-0.390252,Texas Tech,Villanova,0,0,0.031422,0.999233,0
7,12.943476,271.741753,-19.183942,41.739698,-5.578970,47.295290,-45.407564,-23.703844,-61.438021,-12.529322,...,14.313747,-9.647248,-5.765874,Villanova,Texas Tech,1,1,0.999233,0.031422,1

# Final Four

In [532]:
# Predictions of Round of 4
temp_df = pd.DataFrame(columns=joined.columns.drop('W'))

for i in final4_indices:
    temp_df = temp_df.append(row_maker(mm_2018['school_id'][i], mm_2018['opp_id'][i]))
    temp_df.reset_index(drop=True, inplace=True)
    
temp_df = pca.transform(temp_df)
temp_df = pd.DataFrame(temp_df, columns = np.arange(0,50))

temp_df['school_id'] = mm_2018['school_id'][final4_indices].values
temp_df['opp_id'] = mm_2018['opp_id'][final4_indices].values

temp_df['W'] = mm_2018['W'][final4_indices].values

temp_df['pred'] = logreg.predict(temp_df.drop(['school_id', 'opp_id', 'W'], axis=1))

pred_proba = logreg.predict_proba(temp_df.drop(['school_id', 'opp_id', 'W', 'pred'], axis=1))

pred_proba_list = []
for i in pred_proba:
    pred_proba_list.append(i[1])
    
temp_df['pred_proba'] = pred_proba_list

pred_proba_opp = []
for i in temp_df.index:
    for j in temp_df.index:
        if temp_df['school_id'][i] == temp_df['opp_id'][j]:
            pred_proba_opp.append(temp_df['pred_proba'][j])
            
temp_df['pred_proba_opp'] = pred_proba_opp

W_adj = []
for i in temp_df.index:
    if temp_df['pred_proba'][i] > temp_df['pred_proba_opp'][i]:
        W_adj.append(1)
    else:
        W_adj.append(0)
        
temp_df['W_adj'] = W_adj

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:7: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:9: PerformanceWarning: indexing past lexsort depth may impact performance.

In [533]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,school_id,opp_id,W,pred,pred_proba,pred_proba_opp,W_adj
0,16.883808,273.535698,-24.810214,33.181261,15.420126,47.536831,-46.630429,-23.709661,-65.841689,-11.374628,...,12.263074,-8.103203,-1.977347,Kansas,Villanova,0,1,0.926290,0.988398,0
1,18.258165,233.585703,-27.914088,37.563790,11.500921,46.999198,-43.705404,-25.370502,-62.505591,-10.838394,...,11.644508,-6.031131,-3.446426,Loyola (IL),Michigan,0,0,0.000136,0.999997,0
2,6.214034,241.864475,-25.144905,32.172700,-0.613705,56.660980,-37.796460,-19.433314,-51.570993,-3.688645,...,10.345112,-5.056973,-2.476713,Michigan,Loyola (IL),1,1,0.999997,0.000136,1
3,13.051913,274.294232,-15.220803,32.304638,14.309577,57.543633,-48.680564,-24.293010,-58.702850,-9.514015,...,14.393634,-7.686023,-7.017939,Villanova,Kansas,1,1,0.988398,0.926290,1

# Championship!

In [534]:
# Predictions of Championship
temp_df = pd.DataFrame(columns=joined.columns.drop('W'))

for i in final_indices:
    temp_df = temp_df.append(row_maker(mm_2018['school_id'][i], mm_2018['opp_id'][i]))
    temp_df.reset_index(drop=True, inplace=True)
    
temp_df = pca.transform(temp_df)
temp_df = pd.DataFrame(temp_df, columns = np.arange(0,50))

temp_df['school_id'] = mm_2018['school_id'][final_indices].values
temp_df['opp_id'] = mm_2018['opp_id'][final_indices].values

temp_df['W'] = mm_2018['W'][final_indices].values

temp_df['pred'] = logreg.predict(temp_df.drop(['school_id', 'opp_id', 'W'], axis=1))

pred_proba = logreg.predict_proba(temp_df.drop(['school_id', 'opp_id', 'W', 'pred'], axis=1))

pred_proba_list = []
for i in pred_proba:
    pred_proba_list.append(i[1])
    
temp_df['pred_proba'] = pred_proba_list

pred_proba_opp = []
for i in temp_df.index:
    for j in temp_df.index:
        if temp_df['school_id'][i] == temp_df['opp_id'][j]:
            pred_proba_opp.append(temp_df['pred_proba'][j])
            
temp_df['pred_proba_opp'] = pred_proba_opp

W_adj = []
for i in temp_df.index:
    if temp_df['pred_proba'][i] > temp_df['pred_proba_opp'][i]:
        W_adj.append(1)
    else:
        W_adj.append(0)
        
temp_df['W_adj'] = W_adj

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:6: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:7: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:8: PerformanceWarning: indexing past lexsort depth may impact performance.
/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:9: PerformanceWarning: indexing past lexsort depth may impact performance.

In [535]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,school_id,opp_id,W,pred,pred_proba,pred_proba_opp,W_adj
0,25.856592,261.947926,-26.263474,33.511008,11.695543,58.080486,-34.774700,-30.264939,-57.760522,-11.724114,...,10.780422,-8.721158,-0.959086,Michigan,Villanova,0,0,0.063569,0.999275,0
1,0.168905,261.521601,-18.412798,44.799696,6.572667,55.754144,-46.960492,-20.783615,-64.696001,-6.899210,...,15.080518,-8.345387,-6.141499,Villanova,Michigan,1,1,0.999275,0.063569,1

# -------------- Graveyard Models -------------------------

## Random Forest Classifier

In [122]:
rfc = RandomForestClassifier(max_depth=20)
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [123]:
scores = cross_val_score(rfc, X_train, y_train)
np.mean(scores)

0.665257406789609

In [ ]:
feat_series = pd.Series(rfc.feature_importances_, index=joined.drop('W', axis=1).columns)
feat_series.head()

In [ ]:
# SRS = Simple Rating System, takes into account SOS
# SOS = Strength of Schedule
feat_series.sort_values(ascending=False)

## GridCV

In [124]:
rf_params = {'n_estimators':[2,5,10,20],
             'criterion':['gini', 'entropy'],
             'max_depth':[5,10,20,None]}
             #'min_samples_split':[3,4,5]}

In [125]:
gridcv_rf = RandomizedSearchCV(RandomForestClassifier(), rf_params, cv=5)

In [126]:
gridcv_rf.fit(X_train, y_train)

RandomizedSearchCV(cv=5, error_score='raise',
          estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
          fit_params=None, iid=True, n_iter=10, n_jobs=1,
          param_distributions={'n_estimators': [2, 5, 10, 20], 'criterion': ['gini', 'entropy'], 'max_depth': [5, 10, 20, None]},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score='warn', scoring=None, verbose=0)

In [127]:
scores = gridcv_rf.score(X_train, y_train)
np.mean(scores)

0.779707287480094

In [129]:
scores = gridcv_rf.score(X_test, y_test)
np.mean(scores)

0.7055779183438758

In [134]:
gridcv_rf.best_params_

{'criterion': 'entropy', 'max_depth': 10, 'n_estimators': 20}

In [ ]:
test = pd.read_csv('../data/test.csv', sep='\t', header=None)
test.columns = ['wk', 'date', 'rank', 'school', 'prev_rank', 'chnge', 'conf']

## KNN Classifier

In [118]:
knn = KNeighborsClassifier(n_neighbors=20)
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=20, p=2,
           weights='uniform')

In [119]:
scores = cross_val_score(knn, X_train, y_train)
print(np.mean(scores))

0.6579964848735292