In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../data/offset_0-200000.csv')
df2 = pd.read_csv('../data/offset_200000-300000.csv')
df3 = pd.read_csv('../data/offset_300000-475000.csv')
df4 = pd.read_csv('../data/offset_475000-550000.csv')
df5 = pd.read_csv('../data/offset_550000-600000.csv')
df6 = pd.read_csv('../data/offset_600000-725000.csv')
df7 = pd.read_csv('../data/offset_725000-909000.csv')

In [3]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7])

In [4]:
df.shape

(909700, 31)

In [5]:
df.isnull().sum()

Unnamed: 0          0
player              0
pos                91
date_game           0
school_id           0
opp_id          38014
game_result         0
gs               1558
mp                  0
fg                  0
fga                 0
fg_pct         107301
fg2                 0
fg2a                0
fg2_pct        173922
fg3                 0
fg3a                0
fg3_pct        384069
ft                  0
fta                 0
ft_pct         415522
orb                 0
drb                 0
trb                 0
ast                 0
stl                 0
blk                 0
tov                 0
pf                  0
pts                 0
game_score          0
dtype: int64

In [6]:
df['player'].nunique()

16668

In [7]:
df.duplicated().sum()

200